Repository gemini-hlsw/explore, pull requests merged in 2022-11, with the labels that each got.

#2402 Show errors per row imported
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/TargetImportPopup.scala
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTable.scala
Labels: common, explore

#2403 Aladin image adjustment
  common-graphql/src/main/resources/graphql/schemas/UserPreferencesDB.graphql
  common-graphql/src/main/scala/queries/common/UserPreferencesQueriesGQL.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/aladin.scss
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/SliderView.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/webapp/main.jsx
  hasura/user-prefs/metadata/databases/default/tables/public_exploreTargetPreferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaTarget.yaml
  hasura/user-prefs/metadata/databases/default/tables/tables.yaml
  hasura/user-prefs/migrations/default/1667152250813_saturation_brightness/down.sql
  hasura/user-prefs/migrations/default/1667152250813_saturation_brightness/up.sql
  model-testkit/shared/src/main/scala/explore/model/arb/ArbTargetVisualOptions.scala
  model/shared/src/main/scala/explore/model/TargetVisualOptions.scala
Labels: common, common-graphql, explore, model, model-testkit

#2405 PR comments
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
Labels: common, explore

#2406 Show guide speed across the whole field
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  project/Settings.scala
  workers/src/main/scala/workers/AgsServer.scala
Labels: explore, model, workers

#2408 Fix spectroscopy matrix rows ids, optimize table rendering
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  model/js/src/main/scala/explore/modes/SpectroscopyModesMatrixPlatform.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Labels: explore, model

#2398 Allow sorting by mag regardless of units
  explore/src/main/scala/explore/targets/TargetColumns.scala
Labels: explore

#2422 Convert About and Login dialogs to primereact
  common/src/main/scala/explore/components/About.scala
  common/src/main/scala/explore/components/UserSelectionForm.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/TopBar.scala
  package-lock.json
  package.json
  project/Settings.scala
Labels: common, explore

#2428 Fix stylelint errors
  common/src/main/webapp/sass/explore.scss
Labels: common

#2429 Switch to prime react sidebar
  common/src/main/webapp/less/style.less
  common/src/main/webapp/less/variables-dark.less
  common/src/main/webapp/less/variables-light.less
  common/src/main/webapp/sass/common.scss
  common/src/main/webapp/sass/explore.scss
  common/src/main/webapp/theme/modules/sidebar.variables
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/HelpBody.scala
Labels: common, explore

#2430 Add missing style to emission line editor
  explore/src/main/scala/explore/targeteditor/EmissionLineEditor.scala
Labels: explore

#2433 Update lucuma-react, scalac
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  explore/src/main/scala/explore/config/SequenceTable.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/config/TargetImportPopup.scala
  explore/src/main/scala/explore/highcharts.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/targeteditor/BrightnessesEditor.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
  explore/src/main/scala/explore/targeteditor/EmissionLineEditor.scala
  package-lock.json
  package.json
  project/Settings.scala
  vite.config.mjs
Labels: explore

#2435 Don't show import errors box unless there is an actual error
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/TargetImportPopup.scala
Labels: common, explore

#2434 Convert PartnerSplitsEditor to PrimeReact and PrimeTable
  .stylelintrc.json
  common/src/main/scala/explore/components/InputModal.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/proposal/PartnerSplit.scala
  explore/src/main/scala/explore/proposal/PartnerSplitsEditor.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/targeteditor/BrightnessesEditor.scala
  explore/src/main/scala/explore/targeteditor/EmissionLineEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
Labels: common, explore

#2436 Replace TargetSelectionPopup with primereact Dialog and related changes
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore-primereact.scss
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  explore/src/main/scala/explore/targets/TargetSelectionTable.scala
Labels: common, explore

#2437 Fix table redrawing and adds PM/epoch import [sc-1753]
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  project/Settings.scala
Labels: explore

#2439 Timing windows
  build.sbt
  common-graphql/src/main/resources/graphql/schemas/UserPreferencesDB.graphql
  common-graphql/src/main/scala/queries/common/TimingWindowsGQL.scala
  common-graphql/src/main/scala/queries/schema/UserPreferencesDB.scala
  common/src/main/scala/explore/common/ConstraintsQueries.scala
  common/src/main/scala/explore/common/TimingWindowQueries.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/main/webapp/less/vendor/react-grid-layout.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/config/VizTimeEditor.scala
  explore/src/main/scala/explore/constraints/TimingWindowsPanel.scala
  explore/src/main/scala/explore/shortcuts.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/tabs/package.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  hasura/user-prefs/metadata/databases/default/tables/public_tmpTimingWindows.yaml
  hasura/user-prefs/metadata/databases/default/tables/tables.yaml
  hasura/user-prefs/migrations/default/1667998202766_tmp_timing_windows/down.sql
  hasura/user-prefs/migrations/default/1667998202766_tmp_timing_windows/up.sql
  model-tests/shared/src/test/scala/explore/model/FormatsSuite.scala
  model/shared/src/main/scala/explore/model/Constants.scala
  model/shared/src/main/scala/explore/model/TimingWindow.scala
  model/shared/src/main/scala/explore/model/enums/GridLayoutSection.scala
  model/shared/src/main/scala/explore/model/formats.scala
  model/shared/src/main/scala/explore/model/parsers.scala
  project/Settings.scala
  project/plugins.sbt
Labels: common, common-graphql, explore, model, model-tests

#2441 Do simbad lookups for empty imported targets
  explore/src/main/scala/explore/config/TargetImportPopup.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  project/Settings.scala
Labels: explore

#2444 Update hotkeys and fix a bug when doing multi selects
  common/src/main/scala/react/hotkeys/package.scala
  explore/src/main/scala/explore/shortcuts.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  package-lock.json
  package.json
Labels: common, explore

#2446 Restore Create Empty sidereal target feature
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
Labels: explore

#2447 Fix a race condition on calculating ags on startup
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
Labels: common, explore

#2445 Migrate enums to native graphql enums
  common-graphql/src/main/resources/graphql/schemas/UserPreferencesDB.graphql
  common-graphql/src/main/scala/queries/common/UserPreferencesQueriesGQL.scala
  common-graphql/src/main/scala/queries/schema/UserPreferencesDB.scala
  hasura/user-prefs/metadata/databases/default/tables/public_explorePlotRange.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_explorePlotTime.yaml
  hasura/user-prefs/metadata/databases/default/tables/tables.yaml
  hasura/user-prefs/migrations/default/1668196765964_switch_plot_enumsb/down.sql
  hasura/user-prefs/migrations/default/1668196765964_switch_plot_enumsb/up.sql
Labels: common-graphql

#2474 Update lucuma-ui and make changes for ViewLike and convert some controls
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/constraints/ConstraintsPanel.scala
  explore/src/main/scala/explore/constraints/TimingWindowsPanel.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/proposal/PartnerSplitsEditor.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/BrightnessesEditor.scala
  explore/src/main/scala/explore/targeteditor/EmissionLineEditor.scala
  explore/src/main/scala/explore/targeteditor/RVInput.scala
  explore/src/main/scala/explore/targeteditor/SearchForm.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/SourceProfileEditor.scala
  explore/src/main/scala/explore/targeteditor/SpectralDefinitionEditor.scala
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  project/Settings.scala
Labels: common, explore

#2476 Some UI improvements to display a nicer message when a table is empty
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/config/TargetImportPopup.scala
  explore/src/main/scala/explore/constraints/TimingWindowsPanel.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
Labels: common, explore

#2483 Don't show guide speed until a mode is selected
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
Labels: common, explore

#2485 Always do previews with 1 arcmin FOV
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  model/shared/src/main/scala/explore/model/Constants.scala
Labels: explore, model

#2486 Adapt code to utility methods moved to lucuma-ui
  common/src/main/scala/explore/givens.scala
  explore/src/main/scala/explore/EditableLabel.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/SequenceEditorPopup.scala
  explore/src/main/scala/explore/constraints/ConstraintsPanel.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/proposal/PartnerSplitsEditor.scala
  explore/src/main/scala/explore/targeteditor/BrightnessesEditor.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/EmissionLineEditor.scala
  explore/src/main/scala/explore/targeteditor/SpectralDefinitionEditor.scala
  project/Settings.scala
Labels: common, explore
