Repository gemini-hlsw/explore, pull requests merged in 2022-06, with the labels that each got.

#1872 Elevation plot site
  common/src/main/scala/workers/WebWorkerF.scala
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  project/Settings.scala
Labels: common, explore

#1879 Update the elevation plot's site if the conf changes
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
Labels: common, explore

#1874 Add UI to show the calculated guide star
  build.sbt
  common-graphql/src/main/resources/graphql/schemas/UserPreferencesDB.graphql
  common-graphql/src/main/scala/queries/common/UserPreferencesQueriesGQL.scala
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/less/variables-dark.less
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AgsOverlay.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AladinToolbar.scala
  explore/src/main/scala/explore/targeteditor/GmosGeometry.scala
  explore/src/main/scala/explore/targeteditor/SVGTargetsOverlay.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbCatalogResults.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbTargetVisualOptions.scala
  model-tests/shared/src/test/scala/explore/model/CatalogResultsSuite.scala
  model-tests/shared/src/test/scala/explore/model/boopickle/BoopickleSuite.scala
  model/js/src/main/scala/explore/events/package.scala
  model/shared/src/main/scala/explore/model/CatalogResults.scala
  model/shared/src/main/scala/explore/model/GuideStarCandidate.scala
  model/shared/src/main/scala/explore/model/TargetVisualOptions.scala
  model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  model/shared/src/main/scala/explore/model/formats.scala
  project/Settings.scala
  workers/src/main/scala/workers/CacheIDBWorker.scala
  workers/src/main/scala/workers/CatalogCache.scala
  workers/src/main/scala/workers/CatalogIDB.scala
Labels: common, common-graphql, explore, model, model-testkit, model-tests, workers

#1883 Persist elevation plot settings
  common-graphql/src/main/resources/graphql/schemas/UserPreferencesDB.graphql
  common-graphql/src/main/scala/queries/common/UserPreferencesQueriesGQL.scala
  common-graphql/src/main/scala/queries/schema/UserPreferencesDB.scala
  common/src/main/scala/explore/common/ObsQueries.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbTargetSummary.scala
  model/shared/src/main/scala/explore/model/Asterism.scala
  model/shared/src/main/scala/explore/model/ElevationPlotOptions.scala
  model/shared/src/main/scala/explore/model/TargetSummary.scala
  model/shared/src/main/scala/explore/model/enum/PlotRange.scala
  model/shared/src/main/scala/explore/model/enum/TimeDisplay.scala
Labels: common, common-graphql, explore, model, model-testkit

#1894 Show on the UI when we can't read the catalog
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/less/variables-dark.less
  common/src/main/webapp/less/variables-light.less
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinToolbar.scala
  explore/src/main/webapp/main.jsx
  model/shared/src/main/scala/explore/model/CatalogResults.scala
  model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  workers/src/main/scala/workers/CatalogCache.scala
Labels: common, explore, model, workers

#1895 Added onBlur to store target name change
  explore/src/main/scala/explore/targeteditor/SearchForm.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
Labels: explore

#1905 Change the error message
  .github/workflows/ci.yml
  build.sbt
  explore/src/main/scala/explore/targeteditor/AladinToolbar.scala
Labels: explore

#1906 Store posangle in the db
  common-graphql/src/main/scala/queries/common/AsterismQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/ObsQueriesGQL.scala
  common/src/main/scala/explore/common/AsterismQueries.scala
  common/src/main/scala/explore/common/ObsQueries.scala
  common/src/main/scala/explore/model/ExploreLocalPreferences.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/scala/explore/schemas/odb/implicits.scala
  common/src/test/scala/explore/model/arb/ArbObsConfiguration.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/ObsConfigurationPanel.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObsSummary.scala
  model/shared/src/main/scala/explore/model/ObsConfiguration.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
  project/Settings.scala
Labels: common, common-graphql, explore, model, model-testkit

#1909 Edit dithers and offsets.
  build.sbt
  common/src/main/scala/explore/common/ScienceQueries.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/implicits.scala
  common/src/main/scala/explore/model/validators.scala
  common/src/main/webapp/less/style.less
  explore/package-lock.json
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/GeneratedSequenceViewer.scala
  explore/src/main/scala/explore/config/ObsConfigurationPanel.scala
  explore/src/main/scala/explore/config/SequenceEditorPopup.scala
  explore/src/main/scala/explore/config/SequenceTable.scala
  explore/src/main/scala/explore/targeteditor/BrightnessesEditor.scala
  explore/src/main/scala/explore/targeteditor/SourceProfileEditor.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbScienceModeAdvanced.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbTruncatedAngle.scala
  model-tests/shared/src/test/scala/explore/model/ModelFormatsSuite.scala
  model-tests/shared/src/test/scala/explore/model/TruncatedAngleSuite.scala
  model/shared/src/main/scala/explore/model/ScienceModeAdvanced.scala
  model/shared/src/main/scala/explore/model/TruncatedAngle.scala
  model/shared/src/main/scala/explore/model/formats.scala
  model/shared/src/main/scala/explore/model/package.scala
  model/shared/src/main/scala/explore/optics/ModelOptics.scala
  package-lock.json
  project/Settings.scala
Labels: common, explore, model, model-testkit, model-tests

#1917 Proposal Class editing via API
  common-graphql/src/main/scala/queries/common/ProgramQueriesGQL.scala
  common/src/main/scala/explore/model/ModelUndoStacks.scala
  common/src/main/scala/explore/model/RootModel.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/scala/explore/schemas/odb/implicits.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/proposal/PartnerSplit.scala
  explore/src/main/scala/explore/proposal/PartnerSplitsEditor.scala
  explore/src/main/scala/explore/proposal/ProposalClassType.scala
  explore/src/main/scala/explore/proposal/ProposalDetailsEditor.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  model/shared/src/main/scala/explore/model/ProposalDetails.scala
  model/shared/src/main/scala/explore/model/refined/package.scala
  project/Settings.scala
Labels: common, common-graphql, explore, model

#1918 Name is set just once
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
Labels: explore

#1926 Use FormTextAreaEV for proposal abstract and fix textarea styling
  common/src/main/webapp/theme/collections/form.variables
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  model-tests/shared/src/test/scala/explore/optics/OptionNonEmptyStringIsoSuite.scala
  model/shared/src/main/scala/explore/optics/ModelOptics.scala
  project/Settings.scala
Labels: common, explore, model, model-tests

#1930 Small fixes related to saving obsTime
  common/src/main/scala/explore/common/ObsQueries.scala
  common/src/main/scala/explore/model/ModelUndoStacks.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
Labels: common, explore

#1937 Connect the obs conditions for AGS
  common/src/main/scala/explore/model/ObsConfiguration.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  model/shared/src/main/scala/explore/model/ConstraintsSummary.scala
Labels: common, explore, model

#1928 Add create proposal functionality
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/schemas/odb/implicits.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
Labels: common, explore

#1951 Rework on the way visualizations are created with a pure React solution
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/GmosGeometry.scala
  explore/src/main/scala/explore/targeteditor/SVGTargetsOverlay.scala
  explore/src/main/scala/explore/targeteditor/TargetsOverlay.scala
  explore/src/main/scala/explore/targeteditor/VisualizationOverlay.scala
  package-lock.json
  package.json
  project/Settings.scala
Labels: common, explore

#1961 Make undo/redo for Advanced Config more granular.
  common/src/main/scala/explore/common/AlignerF.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
Labels: common, explore

#1963 Catalog update
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/ObsConfiguration.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/webapp/less/variables-dark.less
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AgsOverlay.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AladinToolbar.scala
  explore/src/main/scala/explore/targeteditor/GmosGeometry.scala
  explore/src/main/scala/explore/visualization/TargetsOverlay.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbCatalogResults.scala
  model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  project/Settings.scala
  workers/src/main/scala/workers/CatalogCache.scala
Labels: common, explore, model, model-testkit, workers

#1967 Use the requirements wavelength for AGS
  common-graphql/src/main/scala/queries/common/AsterismQueriesGQL.scala
  common/src/main/scala/explore/common/AsterismQueries.scala
  common/src/main/scala/explore/model/ObsConfiguration.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObsSummary.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
Labels: common, common-graphql, explore, model, model-testkit
