Repository gemini-hlsw/explore, pull requests merged in 2022-08, with the labels that each got.

#2068 Load configuration matrix on worker
  build.sbt
  common/src/main/scala/explore/model/AppContext.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/scala/workers/WebWorkerF.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbCatalogResults.scala
  model-tests/shared/src/test/scala/explore/model/CatalogResultsSuite.scala
  model-tests/shared/src/test/scala/explore/model/WorkerMessageSuite.scala
  model-tests/shared/src/test/scala/explore/model/boopickle/BoopickleSuite.scala
  model/js/src/main/scala/explore/events/EventPicklers.scala
  model/js/src/main/scala/explore/events/package.scala
  model/js/src/main/scala/explore/model/boopickle/BoopicklePlatform.scala
  model/shared/src/main/scala/explore/events/EventPicklers.scala
  model/shared/src/main/scala/explore/events/WorkerMessage.scala
  model/shared/src/main/scala/explore/model/CatalogResults.scala
  model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  project/Settings.scala
  workers/src/main/scala/workers/CacheIDBStores.scala
  workers/src/main/scala/workers/CacheIDBWorker.scala
  workers/src/main/scala/workers/CatalogCache.scala
  workers/src/main/scala/workers/CatalogIDB.scala
  workers/src/main/scala/workers/RetryHelpers.scala
  workers/src/main/scala/workers/StaticData.scala
Labels: common, explore, model, model-testkit, model-tests, workers

#2075 Don't define Reusability for queries
  .scalafix.conf
  common-graphql/src/main/scala/queries/common/AsterismQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/ConstraintGroupQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/GeneratedSequenceSQL.scala
  common-graphql/src/main/scala/queries/common/ITCQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/ManualSequenceGQL.scala
  common-graphql/src/main/scala/queries/common/ObsQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/ProgramQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/TargetQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/UserPreferencesQueriesGQL.scala
  common-graphql/src/main/scala/queries/schema/ITC.scala
  common/src/main/scala/explore/model/reusability.scala
Labels: common, common-graphql

#2077 Prevent duplicate target search results.
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
Labels: explore

#2078 Avoid editing obs subtitle on click.
  explore/src/main/scala/explore/EditableLabel.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
Labels: explore

#2074 AGS on web worker
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AladinToolbar.scala
  model/shared/src/main/scala/explore/events/EventPicklers.scala
  model/shared/src/main/scala/explore/events/WorkerMessage.scala
  model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  model/shared/src/main/scala/explore/model/enum/AgsState.scala
  workers/src/main/scala/workers/CacheIDBWorker.scala
  workers/src/main/scala/workers/CatalogCache.scala
Labels: common, explore, model, workers

#2079 More changes to the configuration panels
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/common/ScienceQueries.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigEditState.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  model/shared/src/main/scala/explore/model/ScienceMode.scala
Labels: common, explore, model

#2081 Fix Advanced Config navigation issues related to having no config
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
Labels: explore

#2083 Fixes size of zoow buttons
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
Labels: common, explore

#2082 Itc web worker
  .mergify.yml
  build.sbt
  common-queries/src/main/scala/queries/schemas/itc/implicits.scala
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  common-queries/src/main/scala/queries/schemas/odb/implicits.scala
  common/src/main/scala/explore/common/AsterismQueries.scala
  common/src/main/scala/explore/common/ConstraintGroupQueries.scala
  common/src/main/scala/explore/implicits.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/scala/explore/schemas/WidthUpsertInput.scala
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcResultsCache.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsListActions.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  model-tests/shared/src/test/scala/explore/model/boopickle/BoopickleSuite.scala
  model/shared/src/main/scala/explore/events/EventPicklers.scala
  model/shared/src/main/scala/explore/events/WorkerMessage.scala
  model/shared/src/main/scala/explore/model/AppConfig.scala
  model/shared/src/main/scala/explore/model/Progress.scala
  model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  model/shared/src/main/scala/explore/model/boopickle/CommonPicklers.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/enum/ResizableSection.scala
  model/shared/src/main/scala/explore/model/itc/ItcRequestParams.scala
  model/shared/src/main/scala/explore/model/itc/ItcTarget.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
  project/Settings.scala
  workers/src/main/scala/workers/CacheIDBWorker.scala
  workers/src/main/scala/workers/CatalogCache.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Labels: common, explore, model, model-tests, workers

#2089 Disable dynamic loading for help
  common/src/main/scala/explore/components/HelpIcon.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/HelpBody.scala
  explore/src/main/scala/explore/Routing.scala
Labels: common, explore

#2080 Add typelevel kittens
  build.sbt
  explore/src/main/scala/explore/config/ConfigEditState.scala
  model/shared/src/main/scala/explore/model/AppConfig.scala
  model/shared/src/main/scala/explore/model/ConstraintGroup.scala
  model/shared/src/main/scala/explore/model/ElevationPlotOptions.scala
  model/shared/src/main/scala/explore/model/Help.scala
  model/shared/src/main/scala/explore/model/Page.scala
  model/shared/src/main/scala/explore/model/ScienceMode.scala
  model/shared/src/main/scala/explore/model/ScienceModeAdvanced.scala
  model/shared/src/main/scala/explore/model/TargetSummary.scala
  project/Settings.scala
Labels: explore, model

#2091 Create an itc tile
  common-graphql/src/main/resources/graphql/schemas/ITC.graphql
  common-graphql/src/main/scala/queries/common/ITCQueriesGQL.scala
  common-graphql/src/main/scala/queries/schema/ITC.scala
  common-queries/src/main/scala/queries/schemas/itc/implicits.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/package.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ConstraintsTile.scala
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/tabs/ItcTile.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/SourceProfileEditor.scala
  model/shared/src/main/scala/explore/events/EventPicklers.scala
  model/shared/src/main/scala/explore/events/WorkerMessage.scala
  model/shared/src/main/scala/explore/model/ScienceModeBasic.scala
  model/shared/src/main/scala/explore/model/UserVault.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  workers/src/main/scala/workers/CacheIDBWorker.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Labels: common-graphql, explore, model, workers, common-queries

#2093 Basic version of plotting for testing
  common-graphql/src/main/resources/graphql/schemas/ITC.graphql
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/targeteditor/ItcSpectroscopyPlot.scala
  model/shared/src/main/scala/explore/model/ScienceMode.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Labels: common, common-graphql, explore, model

#2095 Use the chart type as an enum
  common-graphql/src/main/resources/graphql/schemas/ITC.graphql
  common-graphql/src/main/scala/queries/schema/ITC.scala
  model/shared/src/main/scala/explore/model/enum/ItcSeriesDataType.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
Labels: common-graphql, model

#2092 Little web worker framework
  common/src/main/scala/explore/implicits.scala
  common/src/main/scala/explore/model/AppContext.scala
  common/src/main/scala/explore/model/GraphQLClients.scala
  common/src/main/scala/explore/model/WebWorkers.scala
  common/src/main/scala/explore/model/WorkerClients.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/main/scala/workers/WebWorkerF.scala
  common/src/main/scala/workers/WorkerClient.scala
  common/src/main/scala/workers/WorkerClientBuilder.scala
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/webapp/agsworker.js
  explore/src/main/webapp/cacheworker.js
  explore/src/main/webapp/catalogworker.js
  explore/src/main/webapp/itcworker.js
  explore/src/main/webapp/workers.js
  model-testkit/shared/src/main/scala/explore/model/arb/ArbCatalogResults.scala
  model-tests/shared/src/test/scala/explore/model/WorkerMessageSuite.scala
  model-tests/shared/src/test/scala/explore/model/boopickle/BoopickleSuite.scala
  model/js/src/main/scala/explore/model/boopickle/BoopicklePlatform.scala
  model/shared/src/main/scala/explore/events/AgsMessage.scala
  model/shared/src/main/scala/explore/events/CatalogMessage.scala
  model/shared/src/main/scala/explore/events/EventPicklers.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/events/WorkerMessage.scala
  model/shared/src/main/scala/explore/model/boopickle/CommonPicklers.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/util/package.scala
  model/shared/src/main/scala/lucuma/package.scala
  model/shared/src/main/scala/workers/WorkerException.scala
  model/shared/src/main/scala/workers/WorkerMessage.scala
  model/shared/src/main/scala/workers/WorkerRequest.scala
  vite.config.js
  workers/src/main/scala/workers/AgsServer.scala
  workers/src/main/scala/workers/CacheIDBStores.scala
  workers/src/main/scala/workers/CacheIDBWorker.scala
  workers/src/main/scala/workers/CatalogCache.scala
  workers/src/main/scala/workers/CatalogIDB.scala
  workers/src/main/scala/workers/CatalogServer.scala
  workers/src/main/scala/workers/ItcServer.scala
  workers/src/main/scala/workers/WorkerServer.scala
Labels: common, explore, model, model-testkit, model-tests, workers

#2102 Optimize loading
  common-graphql/src/main/resources/graphql/schemas/ITC.graphql
  common-graphql/src/main/scala/queries/common/ITCQueriesGQL.scala
  common-queries/src/main/scala/queries/schemas/itc/implicits.scala
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/targeteditor/ItcSpectroscopyPlot.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
Labels: common-graphql, explore, model, workers, common-queries

#2096 Show an indicator when itc is being recalculated
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/highcharts.scala
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/package.scala
  explore/src/main/scala/explore/targeteditor/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
Labels: common, explore

#2103 Test inlining some code
  common/src/main/scala/explore/utils/package.scala
Labels: common

#2104 More fluid semester plot.
  common/src/main/scala/explore/implicits.scala
  common/src/main/scala/explore/model/WorkerClients.scala
  common/src/main/scala/workers/WorkerClient.scala
  common/src/main/scala/workers/WorkerClientBuilder.scala
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
  explore/src/main/webapp/plotworker.js
  model/shared/src/main/scala/explore/events/PlotMessage.scala
  model/shared/src/main/scala/explore/model/boopickle/CommonPicklers.scala
  package-lock.json
  workers/src/main/scala/workers/PlotServer.scala
  workers/src/main/scala/workers/WorkerServer.scala
Labels: common, explore, model, workers

#2107 Update highcharts and the accessibility module
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/highcharts.scala
  package-lock.json
  package.json
Labels: explore

#2109 Fix a bug when restoring the layouts from the db
  common-graphql/src/main/scala/queries/common/UserPreferencesQueriesGQL.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  common/src/main/scala/explore/components/TileController.scala
  common/src/main/scala/explore/model/layout.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Labels: common, common-graphql, explore

#2108 Enable zooming on the itc chart
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/highcharts.scala
  explore/src/main/scala/explore/targeteditor/ItcSpectroscopyPlot.scala
Labels: common, explore

#2115 Avoid rendering markers when zooming out
  explore/src/main/scala/explore/targeteditor/ItcSpectroscopyPlot.scala
Labels: explore

#2125 Fix problem of exposure time override not updating ODB
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  model-tests/shared/src/test/scala/explore/optics/ModelOpticsSuite.scala
  model/shared/src/main/scala/explore/optics/ModelOptics.scala
Labels: explore, model, model-tests

#2126 Update exposure mode override properly
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
Labels: explore

#2122 Library updates
  common/src/main/scala/explore/syntax/ui/package.scala
  common/src/main/scala/react/CircularProgressbar/CircularProgressbar.scala
  common/src/main/scala/react/moon/MoonPhase.scala
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  project/Settings.scala
Labels: common, explore

#2116 Convert ags-test to enum
  common/src/main/scala/explore/model/RoutingInfo.scala
  model/shared/src/main/scala/explore/model/enum/AgsState.scala
  model/shared/src/main/scala/explore/model/enum/ConfigurationMode.scala
  model/shared/src/main/scala/explore/model/enum/ExecutionEnvironment.scala
  model/shared/src/main/scala/explore/model/enum/ImagingCapabilities.scala
  model/shared/src/main/scala/explore/model/enum/PosAngleOptions.scala
  model/shared/src/main/scala/explore/model/enum/ResizableSection.scala
  model/shared/src/main/scala/explore/model/enum/TileSizeState.scala
  model/shared/src/main/scala/explore/model/enums/AgsState.scala
  model/shared/src/main/scala/explore/model/enums/AppTab.scala
  model/shared/src/main/scala/explore/model/enums/ConfigurationMode.scala
  model/shared/src/main/scala/explore/model/enums/ExecutionEnvironment.scala
  model/shared/src/main/scala/explore/model/enums/ImagingCapabilities.scala
  model/shared/src/main/scala/explore/model/enums/ItcSeriesDataType.scala
  model/shared/src/main/scala/explore/model/enums/PlotRange.scala
  model/shared/src/main/scala/explore/model/enums/PosAngleOptions.scala
  model/shared/src/main/scala/explore/model/enums/ResizableSection.scala
  model/shared/src/main/scala/explore/model/enums/TileSizeState.scala
  model/shared/src/main/scala/explore/model/enums/TimeDisplay.scala
  model/shared/src/main/scala/explore/model/enums/Visible.scala
Labels: common, model

#2127 Display ccd data values
  common-graphql/src/main/resources/graphql/schemas/ITC.graphql
  common-graphql/src/main/scala/queries/common/ITCQueriesGQL.scala
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlotDescription.scala
  explore/src/main/scala/explore/targeteditor/ItcSpectroscopyPlotDescription.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  workers/src/main/scala/workers/ItcServer.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
Labels: common, common-graphql, explore, model, workers

#2128 Fix peak pixel display and a message if there is not enough data to g…
  explore/src/main/scala/explore/highcharts.scala
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlotDescription.scala
  workers/src/main/scala/workers/CatalogCache.scala
  workers/src/main/scala/workers/ItcServer.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Labels: explore, workers

#2131 Support S/N graphs
  common-graphql/src/main/resources/graphql/schemas/ITC.graphql
  common-graphql/src/main/scala/queries/common/ITCQueriesGQL.scala
  common-graphql/src/main/scala/queries/schema/ITC.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcPlotControl.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlotDescription.scala
  explore/src/main/scala/explore/itc/package.scala
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/enums/ItcSeriesDataType.scala
  model/shared/src/main/scala/explore/model/enums/ItcSeriesType.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  workers/src/main/scala/workers/CatalogServer.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
Labels: common, common-graphql, explore, model, workers

#2137 Add horizontal label
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
Labels: explore

#2140 Increase robustness of indexedb handling
  workers/src/main/scala/workers/CatalogCache.scala
  workers/src/main/scala/workers/CatalogIDB.scala
  workers/src/main/scala/workers/CatalogServer.scala
Labels: workers

#2143 Update libs. Worker init wait.
  common/src/main/scala/explore/model/GridLayoutSection.scala
  common/src/main/scala/explore/model/WorkerClients.scala
  common/src/main/scala/explore/model/enums/Theme.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/main/scala/react/reflex/ReflexContainer.scala
  common/src/main/scala/react/toastify/package.scala
  common/src/main/scala/workers/WorkerClient.scala
  common/src/main/scala/workers/WorkerClientBuilder.scala
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/TopBar.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ExposureTimeModeType.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/constraints/ConstraintsPanel.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/proposal/ProposalClassType.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/BrightnessesEditor.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/RVInput.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/SpectralDefinitionEditor.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
  model-tests/shared/src/test/scala/explore/model/AsterismSuite.scala
  model-tests/shared/src/test/scala/explore/model/boopickle/BoopickleSuite.scala
  model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/modes/ModesMatrix.scala
  model/shared/src/main/scala/explore/modes/package.scala
  model/shared/src/main/scala/workers/WorkerMessage.scala
  project/Settings.scala
  workers/src/main/scala/workers/WorkerServer.scala
Labels: common, explore, model, model-tests, workers

#2153 Fix redrawing of charts upon resizing
  common/src/main/scala/explore/components/ResponsiveComponent.scala
  common/src/main/scala/explore/components/Tile.scala
  common/src/main/scala/explore/components/TileController.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/itc/ResizingChart.scala
  explore/src/main/scala/explore/tabs/ItcTile.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
Labels: common, explore

#2154 Double initialization sync for workers.
  common/src/main/scala/workers/WorkerClient.scala
  model/shared/src/main/scala/workers/WorkerMessage.scala
  workers/src/main/scala/workers/WorkerServer.scala
Labels: common, model, workers

#2158 Multipla targets on the itc table
  common-queries/src/main/scala/queries/schemas/itc/implicits.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcResultsCache.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlotDescription.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/model/itc/ItcRequestParams.scala
  model/shared/src/main/scala/explore/model/itc/ItcTarget.scala
  model/shared/src/main/scala/explore/model/itc/math.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Labels: common, explore, model, workers, common-queries

#2160 ITC plot target selector
  .gitignore
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/highcharts.scala
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlotDescription.scala
  flake.lock
  model/shared/src/main/scala/explore/model/itc/ItcTarget.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
Labels: common, explore, model, workers

#2159 Switch to Tooltips using floating-ui
  common/src/main/scala/explore/components/ConnectionsStatus.scala
  common/src/main/scala/react/floatingui/Tooltip.scala
  common/src/main/scala/react/floatingui/hooks.scala
  common/src/main/scala/react/floatingui/package.scala
  common/src/main/webapp/less/variables-dark.less
  common/src/main/webapp/less/variables-light.less
  common/src/main/webapp/sass/tooltips.scss
  common/src/main/webapp/theme/semantic.less
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/package.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/targeteditor/AladinToolbar.scala
  explore/src/main/webapp/main.jsx
  package-lock.json
  package.json
  workers/src/main/scala/workers/WorkerServer.scala
Labels: common, explore, workers

#2165 Show a title for the charts and a help icon
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
Labels: common, explore
