Repository gemini-hlsw/explore, pull requests merged in 2022-09, with the labels that each got.

#2168 Switch to react style naming
  common/src/main/scala/react/floatingui/Tooltip.scala
Labels: common

#2166 Generic cache for workers
  HEROKU.md
  build.sbt
  model/shared/src/main/scala/explore/model/boopickle/CommonPicklers.scala
  project/Settings.scala
  workers/src/main/scala/workers/Cache.scala
  workers/src/main/scala/workers/PlotServer.scala
  workers/src/main/scala/workers/WorkerServer.scala
  workers/src/main/scala/workers/package.scala
Labels: model, workers

#2176 Use Cache in ITC worker.
  common/src/main/webapp/sass/charts.scss
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcResultsCache.scala
  model/shared/src/main/scala/explore/model/Progress.scala
  workers/src/main/scala/workers/Cache.scala
  workers/src/main/scala/workers/CatalogCache.scala
  workers/src/main/scala/workers/CatalogServer.scala
  workers/src/main/scala/workers/ItcServer.scala
  workers/src/main/scala/workers/PlotServer.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Labels: common, explore, model, workers

#2177 Cache ITC graphs
  build.sbt
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  workers/src/main/scala/workers/ItcServer.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
Labels: model, workers

#2179 Enable zoom for elevation plots
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/highcharts.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
Labels: common, explore

#2180 Add some tooltips to the program popup
  explore/src/main/scala/explore/EditableLabel.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/programs/ProgramsPopup.scala
Labels: explore

#2178 Setup local cache for AGS calculations
  model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  workers/src/main/scala/workers/AgsServer.scala
  workers/src/main/scala/workers/package.scala
Labels: model, workers

#2182 Simplify ITC query code
  .github/workflows/ci.yml
  build.sbt
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcPanelProps.scala
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
  model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  model/shared/src/main/scala/explore/model/boopickle/CommonPicklers.scala
Labels: explore, model

#2181 Accelerate semester plots
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
Labels: explore

#2186 Fix PM and Parallax formatting.
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
  model-tests/shared/src/test/scala/explore/model/ExploreModelValidatorsSuite.scala
  model-tests/shared/src/test/scala/explore/model/ModelFormatsSuite.scala
  model/shared/src/main/scala/explore/model/ExploreModelValidators.scala
  model/shared/src/main/scala/explore/model/formats.scala
  model/shared/src/main/scala/lucuma/package.scala
  model/shared/src/main/scala/lucuma/utils/package.scala
Labels: explore, model, model-tests

#2187 Sync vizTime to the elevation plot
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  model/shared/src/main/scala/explore/model/ScienceMode.scala
Labels: explore, model

#2188 Persist ITC plot user preferences
  common-graphql/src/main/resources/graphql/schemas/UserPreferencesDB.graphql
  common-graphql/src/main/scala/queries/common/UserPreferencesQueriesGQL.scala
  common-graphql/src/main/scala/queries/schema/UserPreferencesDB.scala
  common/src/main/public/development.conf.json
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcPlotControl.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/itc/package.scala
  explore/src/main/scala/explore/tabs/ItcTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  fetchUserPreferencesSchema.sh
  model/shared/src/main/scala/explore/model/itc/preferences.scala
Labels: common, common-graphql, explore, model

#2185 Add syntax for making tooltips easier to use.
  common/src/main/scala/explore/components/ConnectionsStatus.scala
  common/src/main/scala/react/floatingui/syntax.scala
  explore/src/main/scala/explore/EditableLabel.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/package.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/targeteditor/AladinToolbar.scala
Labels: common, explore

#2194 Update to scala 3.2.0
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  explore/src/main/scala/explore/config/SequenceTable.scala
  vite.config.js
Labels: explore

#2195 Update to the latest lucuma-catalog
  common/src/main/scala/explore/common/SimbadSearch.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  model/shared/src/main/scala/explore/events/AgsMessage.scala
  project/Settings.scala
  workers/src/main/scala/workers/AgsServer.scala
  workers/src/main/scala/workers/CatalogCache.scala
  workers/src/main/scala/workers/CatalogIDB.scala
Labels: common, explore, model, workers

#2196 Add some help icons
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
  explore/src/main/scala/explore/targeteditor/SourceProfileEditor.scala
  explore/src/main/scala/explore/targeteditor/SpectralDefinitionEditor.scala
Labels: explore

#2197 Rename graph endpoint
  common-graphql/src/main/resources/graphql/schemas/ITC.graphql
  common-graphql/src/main/scala/queries/common/ITCQueriesGQL.scala
  common/src/main/public/development.conf.json
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
Labels: common, common-graphql, workers

#2199 Fix a bug when going to the imaging modes panel
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/src/main/scala/explore/config/ImagingConfigurationPanel.scala
Labels: common, explore

#2213 Use middle of the coverage range for itc
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcPanelProps.scala
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
  explore/src/main/scala/explore/itc/ItcResultsCache.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/model/boopickle/CommonPicklers.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/itc/ItcRequestParams.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  model/shared/src/main/scala/lucuma/utils/package.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Labels: common, explore, model, workers

#2216 Forgot to set the coverage center for plots
  explore/src/main/scala/explore/itc/ItcPanelProps.scala
  project/Settings.scala
Labels: explore

#2217 Fix an AGS bug
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AladinToolbar.scala
  project/Settings.scala
  workers/src/main/scala/workers/AgsServer.scala
Labels: explore, workers

#2220 Move floatingui to lucuma-react
  common/src/main/scala/react/floatingui/Tooltip.scala
  common/src/main/scala/react/floatingui/hooks.scala
  common/src/main/scala/react/floatingui/package.scala
  common/src/main/scala/react/floatingui/syntax.scala
  project/Settings.scala
Labels: common

#2241 Use NewType from lucuma-core
  explore/src/main/scala/explore/EditableLabel.scala
  explore/src/main/scala/explore/itc/package.scala
  model/shared/src/main/scala/explore/model/boopickle/CommonPicklers.scala
  model/shared/src/main/scala/explore/model/itc/ItcRequestParams.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  model/shared/src/main/scala/explore/model/itc/preferences.scala
  model/shared/src/main/scala/lucuma/utils/package.scala
  model/shared/src/main/scala/workers/WorkerMessage.scala
  workers/src/main/scala/workers/Cache.scala
Labels: explore, model, workers

#2242 Overlay all science targets on aladin
  common-queries/src/main/scala/queries/schemas/itc/implicits.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/Focused.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ViewCommon.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AladinToolbar.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/visualization/TargetsOverlay.scala
  flake.lock
  flake.nix
  model-testkit/shared/src/main/scala/explore/model/arb/ArbAsterism.scala
  model-tests/shared/src/test/scala/explore/model/AsterismSuite.scala
  model-tests/shared/src/test/scala/explore/model/WithIdSuite.scala
  model/shared/src/main/scala/explore/events/CatalogMessage.scala
  model/shared/src/main/scala/explore/model/Asterism.scala
  model/shared/src/main/scala/explore/model/ObjectTracking.scala
  model/shared/src/main/scala/explore/model/TargetWithId.scala
  model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  model/shared/src/main/scala/explore/model/package.scala
  workers/src/main/scala/workers/CatalogCache.scala
  workers/src/main/scala/workers/WorkerServer.scala
Labels: common, explore, model, model-testkit, model-tests, workers, common-queries

#2243 Add a tooltip to the science targets in an
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/variables-dark.less
  common/src/main/webapp/less/variables-light.less
  common/src/main/webapp/sass/tooltips.scss
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/visualization/ScienceSVGTarget.scala
  explore/src/main/scala/explore/visualization/TargetsOverlay.scala
  explore/src/main/scala/explore/visualization/VisualizationOverlay.scala
  explore/src/main/scala/explore/visualization/package.scala
Labels: common, explore

#2244 Support full screen on the target library
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
Labels: explore

#2245 Fixes elevation plot regression
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Labels: explore

#2249 Better responsivness for the obs time editor
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/less/verticalbuttons.less
  common/src/main/webapp/sass/charts.scss
  common/src/main/webapp/sass/datepicker.scss
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/VizTimeEditor.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/visualization/TargetsOverlay.scala
  explore/src/main/webapp/main.jsx
Labels: common, explore

#2250 Update scala to 3.2.1-RC2, plus lucuma-react and other libs
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/highcharts.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
  package-lock.json
  package.json
  project/Settings.scala
  vite.config.js
Labels: common, explore

#2251 Fix tooltip at extreme zoom levels
  explore/src/main/scala/explore/visualization/ScienceSVGTarget.scala
Labels: explore

#2255 Better responsivness for the aladin toolbar
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
Labels: common

#2259 Rework on add target
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/less/vendor/aladin.less
  common/src/main/webapp/sass/explore.scss
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/config/VizTimeEditor.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
  explore/src/main/scala/explore/targets/TargetSearchResult.scala
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  explore/src/main/scala/explore/targets/TargetSelectionTable.scala
Labels: common, explore

#2264 Refactor common code and improve constraints on mobiles
  common/src/main/scala/explore/model/TwoPanelState.scala
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/tabs/ConstraintSetTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TwoResizablePanels.scala
Labels: common, explore

#2260 Store the aladin fov x/y independently
  common-graphql/src/main/resources/graphql/schemas/UserPreferencesDB.graphql
  common-graphql/src/main/scala/queries/common/UserPreferencesQueriesGQL.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AladinToolbar.scala
  explore/src/main/scala/explore/visualization/ScienceSVGTarget.scala
  explore/src/main/scala/explore/visualization/TargetsOverlay.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbTargetVisualOptions.scala
  model-tests/jvm/src/test/scala/explore/modes/ModesSuite.scala
  model-tests/shared/src/test/scala/explore/model/ModelSuite.scala
  model/shared/src/main/scala/explore/model/TargetVisualOptions.scala
Labels: common, common-graphql, explore, model, model-testkit, model-tests

#2265 Rewording of the add target dialog box
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  explore/src/main/scala/explore/targets/TargetSource.scala
Labels: explore

#2267 Allow disabling scroll to zoom in aladin
  USERPREFS.md
  common-graphql/src/main/resources/graphql/schemas/UserPreferencesDB.graphql
  common-graphql/src/main/scala/queries/common/UserPreferencesQueriesGQL.scala
  common/src/main/public/production.conf.json
  common/src/main/public/staging.conf.json
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/common.scss
  common/src/main/webapp/sass/explore.scss
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  model/shared/src/main/scala/explore/model/UserGlobalPreferences.scala
Labels: common, common-graphql, explore, model

#2269 Aladin zoom increases when switching between
  common-graphql/src/main/scala/queries/common/UserPreferencesQueriesGQL.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
Labels: common, common-graphql, explore

#2266 New NewType
  common/src/main/scala/workers/WorkerClient.scala
  explore/src/main/scala/explore/EditableLabel.scala
  explore/src/main/scala/explore/itc/ItcPanelProps.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  model/shared/src/main/scala/explore/model/ObjectTracking.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  model/shared/src/main/scala/workers/WorkerMessage.scala
  project/Settings.scala
Labels: common, explore, model

#2201 Initial integration of primereact
  .github/workflows/ci.yml
  .stylelintignore
  .stylelintrc.json
  build.sbt
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore-primereact.scss
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/SequenceEditorPopup.scala
  explore/src/main/scala/explore/constraints/ConstraintsPanel.scala
  explore/src/main/webapp/main.jsx
  package-lock.json
  package.json
  project/Settings.scala
  project/plugins.sbt
  vite.config.mjs
Labels: common, explore

#2276 Fix advanced config grid
  common/src/main/webapp/sass/explore-primereact.scss
Labels: common

#2282 Make some of the target prefs optional
  USERPREFS.md
  common-graphql/src/main/resources/graphql/schemas/UserPreferencesDB.graphql
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  fetchUserPreferencesSchema.sh
  hasura/user-prefs/config.yaml
  hasura/user-prefs/metadata/actions.graphql
  hasura/user-prefs/metadata/actions.yaml
  hasura/user-prefs/metadata/allow_list.yaml
  hasura/user-prefs/metadata/cron_triggers.yaml
  hasura/user-prefs/metadata/databases/databases.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_explore_resizable_width.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_grid_layout_positions.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucuma_elevation_plot_preferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucuma_itc_plot_preferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucuma_observation.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucuma_target.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucuma_target_preferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucuma_user.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucuma_user_preferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/tables.yaml
  hasura/user-prefs/metadata/query_collections.yaml
  hasura/user-prefs/metadata/remote_schemas.yaml
  hasura/user-prefs/metadata/rest_endpoints.yaml
  hasura/user-prefs/metadata/version.yaml
  hasura/user-prefs/migrations/default/1664379876162_init/up.sql
  hasura/user-prefs/migrations/default/1664395303839_lucuma_target_preferences_nullable/down.sql
  hasura/user-prefs/migrations/default/1664395303839_lucuma_target_preferences_nullable/up.sql
Labels: common, common-graphql, explore

#2283 Add button to clone an observation
  common-graphql/src/main/scala/queries/common/ObsQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/ProgramQueriesGQL.scala
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/common.scss
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/ObsListActions.scala
  model/shared/src/main/scala/explore/undo/IndexedCollMod.scala
Labels: common, common-graphql, explore, model, common-queries

#2285 Select the first available target for the elevation plot
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Labels: explore

#2286 Better responsivness for the itc title bar
  common/src/main/webapp/sass/charts.scss
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
Labels: common, explore
