Repository gemini-hlsw/explore, pull requests merged in 2022-12, with the labels that each got.

#2475 Remove Target Library on Targets Tab
  common/src/main/scala/explore/model/Focused.scala
  common/src/main/scala/react/reflex/ReflexContainer.scala
  common/src/main/scala/react/reflex/ReflexElement.scala
  common/src/main/scala/react/reflex/ReflexHandle.scala
  common/src/main/scala/react/reflex/ReflexSplitter.scala
  common/src/main/scala/react/reflex/ReflexWithHandle.scala
  common/src/main/scala/react/reflex/types.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/less/variables-dark.less
  common/src/main/webapp/less/variables-light.less
  common/src/main/webapp/less/vendor/react-reflex.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsListActions.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/SearchForm.scala
  explore/src/main/scala/explore/targets/TargetSummaryActions.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  explore/src/main/webapp/main.jsx
  package.json
Labels: common, explore

#2490 Improvements to overlay calculations
  common/src/main/webapp/sass/explore.scss
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AgsOverlay.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
Labels: common, explore

#2495 Add undo/redo for pasting observations into targets
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  common/src/main/scala/explore/common/AsterismQueries.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targets/ObservationPasteActions.scala
Labels: common, explore, common-queries

#2496 Move Add Target back to the tree from the summary table
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targets/TargetAddDeleteActions.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
Labels: common, explore

#2510 Allow observation creation on target tab
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targets/ObservationInsertAction.scala
  explore/src/main/scala/explore/targets/ObservationPasteActions.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
Labels: explore, model, common-queries

#2514 Don't draw probe outline
  common/src/main/webapp/sass/visualization.scss
Labels: common

#2509 Update lucuma-core and make SED optional
  common-graphql/src/main/resources/graphql/schemas/ITC.graphql
  common-graphql/src/main/scala/queries/schema/ITC.scala
  common-queries/src/main/scala/queries/schemas/itc/ITCConversions.scala
  common-queries/src/main/scala/queries/schemas/odb/ODBConversions.scala
  common/src/main/scala/explore/model/enums/SEDType.scala
  explore/src/main/scala/explore/constraints/TimingWindowsPanel.scala
  explore/src/main/scala/explore/targeteditor/BrightnessesEditor.scala
  explore/src/main/scala/explore/targeteditor/EmissionLineEditor.scala
  explore/src/main/scala/explore/targeteditor/SpectralDefinitionEditor.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbAsterism.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbScienceModeAdvanced.scala
  model-tests/shared/src/test/scala/explore/model/AsterismSuite.scala
  model-tests/shared/src/test/scala/explore/model/ExploreModelValidatorsSuite.scala
  model-tests/shared/src/test/scala/explore/model/FormatsSuite.scala
  model-tests/shared/src/test/scala/explore/optics/ModelOpticsSuite.scala
  model/shared/src/main/scala/explore/model/ExploreModelValidators.scala
  model/shared/src/main/scala/explore/model/TimingWindow.scala
  model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  model/shared/src/main/scala/explore/model/boopickle/CommonPicklers.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/formats.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  model/shared/src/main/scala/explore/model/package.scala
  project/Settings.scala
Labels: common, common-graphql, explore, model, model-testkit, model-tests, common-queries

#2515 Use new css device units
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
Labels: common

#2518 Copy/paste of targets into observations
  common/src/main/scala/explore/common/AsterismQueries.scala
  common/src/main/scala/explore/model/LocalClipboard.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsListActions.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/ObservationPasteAction.scala
  explore/src/main/scala/explore/targets/TargetPasteAction.scala
  model/shared/src/main/scala/explore/model/AsterismGroup.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
  model/shared/src/main/scala/explore/model/TargetWithObs.scala
Labels: common, explore, model

#2519 Show executed visits in sequence popup
  common-graphql/src/main/scala/queries/common/TimingWindowsGQL.scala
  common-graphql/src/main/scala/queries/common/VisitsSQL.scala
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/ConnectionsStatus.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/givens.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/SequenceTable.scala
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceTables.scala
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceViewer.scala
  explore/src/main/scala/explore/config/sequence/GmosSequenceRow.scala
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
  explore/src/main/scala/explore/config/sequence/ManualSequenceTables.scala
  explore/src/main/scala/explore/config/sequence/SequenceColumns.scala
  explore/src/main/scala/explore/config/sequence/SequenceEditor.scala
  explore/src/main/scala/explore/config/sequence/SequenceEditorPopup.scala
  explore/src/main/scala/explore/config/sequence/VisitTable.scala
  explore/src/main/scala/explore/config/sequence/VisitsViewer.scala
  explore/src/main/scala/explore/constraints/TimingWindowsPanel.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  model/shared/src/main/scala/explore/model/Constants.scala
  model/shared/src/main/scala/explore/model/TargetWithId.scala
  model/shared/src/main/scala/explore/model/display.scala
  package-lock.json
  project/Settings.scala
  workers/src/main/scala/workers/CatalogCache.scala
Labels: common, common-graphql, explore, model, workers

#2523 External SVG brackets
  common/src/main/public/bracket.svg
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceTables.scala
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
  explore/src/main/scala/explore/config/sequence/ManualSequenceTables.scala
  vite.config.mjs
Labels: common, explore

#2525 Collapsible brightness table
  common/src/main/scala/explore/components/About.scala
  common/src/main/scala/explore/components/UserSelectionForm.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/TopBar.scala
  explore/src/main/scala/explore/config/sequence/SequenceEditorPopup.scala
  explore/src/main/scala/explore/programs/ProgramsPopup.scala
  explore/src/main/scala/explore/targeteditor/BrightnessesEditor.scala
  explore/src/main/scala/explore/targeteditor/EmissionLineEditor.scala
  explore/src/main/scala/explore/targeteditor/SourceProfileEditor.scala
  explore/src/main/scala/explore/targeteditor/SpectralDefinitionEditor.scala
Labels: common, explore

#2526 Avoid scrollbars on target tab.
  common/src/main/webapp/sass/explore.scss
Labels: common

#2533 Support allow flip mode
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/ObsConfigurationPanel.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AgsOverlay.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/visualization/VisualizationOverlay.scala
  model/shared/src/main/scala/explore/events/AgsMessage.scala
  model/shared/src/main/scala/explore/model/enums/AgsState.scala
  project/Settings.scala
  workers/src/main/scala/workers/AgsServer.scala
  workers/src/main/scala/workers/WorkerServer.scala
Labels: explore, model, workers, common-queries

#2535 Port the pos angle editor to prime-react
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore-primereact.scss
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/ObsConfigurationPanel.scala
Labels: common, explore

#2536 Small improvements to the overlay
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AgsOverlay.scala
Labels: common, explore

#2538 Convert ObsBadge and UndoButtons to PrimeReact
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/components/undo/UndoButtons.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/EditableLabel.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/tabs/TwoPanels.scala
  project/Settings.scala
Labels: common, explore

#2539 Remove SUI Loader
  common/src/main/scala/explore/components/HelpIcon.scala
  common/src/main/scala/explore/components/state/ConnectionManager.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/HelpBody.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Labels: common, explore

#2540 Convert aladin buttons to prime react
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/PAConfigurationPanel.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
Labels: common, explore

#2541 Convert some SUI code on the itc plots
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcPlotControl.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlotDescription.scala
Labels: common, explore

#2542 Keep target summary visible when editing target
  common/src/main/scala/explore/components/Tile.scala
  common/src/main/scala/explore/components/TileController.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/tabs/package.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
Labels: common, explore

#2546 Improve the AGS flip mode with a new algorithm and allow manual
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AgsOverlay.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  project/Settings.scala
  workers/src/main/scala/workers/AgsServer.scala
Labels: common, explore, workers

#2551 Port elevation plot controls to prime
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/itc/ItcPlotControl.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  explore/src/main/scala/explore/targeteditor/SearchForm.scala
  explore/src/main/scala/explore/targeteditor/SelectButtonEnumView.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/enums/ItcSeriesType.scala
  model/shared/src/main/scala/explore/model/enums/PlotRange.scala
  model/shared/src/main/scala/explore/model/enums/TimeDisplay.scala
Labels: common, explore, model

#2547 Convert TopBar and main menu to primereact
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/UserSelectionForm.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/TopBar.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  project/Settings.scala
Labels: common, explore

#2553 Use the InputTextView units and clearable features from new lucuma-ui
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/PAConfigurationPanel.scala
  explore/src/main/scala/explore/targeteditor/EmissionLineEditor.scala
  explore/src/main/scala/explore/targeteditor/RVInput.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/SourceProfileEditor.scala
  explore/src/main/scala/explore/targeteditor/SpectralDefinitionEditor.scala
  project/Settings.scala
Labels: common, explore

#2554 Fix loading bug and ags sorting
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/SelectButtonEnumView.scala
  project/Settings.scala
  workers/src/main/scala/workers/AgsServer.scala
Labels: common, explore, workers

#2550 Enforce SED always present when importing
  explore/src/main/scala/explore/config/TargetImportPopup.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SearchForm.scala
  explore/src/main/scala/explore/targets/TargetSearchResult.scala
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  model/shared/src/main/scala/explore/model/Constants.scala
Labels: explore, model

#2555 Target save error handling and global toastRef
  common/src/main/scala/explore/common/AlignerF.scala
  common/src/main/scala/explore/model/AppContext.scala
  common/src/main/scala/explore/utils/package.scala
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/SearchForm.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
Labels: common, explore

#2561 Port basic spectroscopy and imaging configuration panels to prime react
  common/src/main/scala/explore/components/InputWithUnits.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/syntax/ui/package.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ImagingConfigurationPanel.scala
  explore/src/main/scala/explore/config/PAConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  project/Settings.scala
Labels: common, explore

#2562 More ports to prime
  common/src/main/scala/explore/components/ConnectionsStatus.scala
  common/src/main/scala/explore/components/Tile.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/TopBar.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/VizTimeEditor.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/AladinToolbar.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
Labels: common, explore

#2565 Better handling of ags flip mode
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
Labels: explore

#2566 More prime migration, plus other fixes
  build.sbt
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceTables.scala
  explore/src/main/scala/explore/targeteditor/BrightnessesEditor.scala
  explore/src/main/scala/explore/targeteditor/EmissionLineEditor.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  project/Settings.scala
Labels: common, explore

#2567 Replace some implicits
  common/src/main/scala/explore/components/state/IfLogged.scala
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
Labels: common, explore

#2563 Port the side tabs to prime
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/SideTabs.scala
  explore/src/main/scala/explore/VerticalSection.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  project/Settings.scala
Labels: common, explore

#2569 Change the default target visual options
  model/shared/src/main/scala/explore/model/Constants.scala
  model/shared/src/main/scala/explore/model/TargetVisualOptions.scala
Labels: model

#2570 Fix height of the help box
  common/src/main/webapp/sass/explore.scss
Labels: common

#2575 Migrate proposal editor to prime.
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/explore-grid.less
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  project/Settings.scala
Labels: common, explore
