Repository gemini-hlsw/explore, pull requests merged in 2022-07, with the labels that each got.

#1969 Adjustment to the configuration tile
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
Labels: common, explore

#1976 Library updates
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  project/Settings.scala
Labels: explore

#1987 Backport some for scala3 changes
  common/src/main/scala/explore/common/ScienceQueries.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  common/src/main/scala/explore/implicits.scala
  common/src/main/scala/explore/model/TwoPanelState.scala
  common/src/main/scala/explore/model/enums/SEDType.scala
  common/src/main/scala/explore/model/enums/SourceProfileType.scala
  common/src/main/scala/explore/model/enums/Theme.scala
  common/src/main/scala/react/toastify/package.scala
  explore/src/main/scala/explore/targeteditor/SourceProfileEditor.scala
  explore/src/main/scala/explore/targeteditor/SpectralDefinitionEditor.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
Labels: common, explore

#1986 Update itc schema to get the version
  common-graphql/src/main/resources/graphql/schemas/ITC.graphql
  common-graphql/src/main/scala/queries/common/ITCQueriesGQL.scala
Labels: common-graphql

#1991 Recalculate the proper motion for large obs time changes
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  model/shared/src/main/scala/explore/model/Constants.scala
  project/Settings.scala
  workers/src/main/scala/workers/CatalogCache.scala
  workers/src/main/scala/workers/IDBWorker.scala
Labels: explore, model, workers

#1992 Validator rework.
  common/src/main/scala/explore/model/validators.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/ImagingConfigurationPanel.scala
  explore/src/main/scala/explore/config/ObsConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/constraints/ConstraintsPanel.scala
  explore/src/main/scala/explore/proposal/PartnerSplitsEditor.scala
  explore/src/main/scala/explore/proposal/ProposalClassType.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/targeteditor/BrightnessesEditor.scala
  explore/src/main/scala/explore/targeteditor/EmissionLineEditor.scala
  explore/src/main/scala/explore/targeteditor/InputWithUnits.scala
  explore/src/main/scala/explore/targeteditor/RVInput.scala
  explore/src/main/scala/explore/targeteditor/SearchForm.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/SourceProfileEditor.scala
  explore/src/main/scala/explore/targeteditor/SpectralDefinitionEditor.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbTruncatedAngle.scala
  model-tests/shared/src/test/scala/explore/model/ExploreModelValidatorsSuite.scala
  model-tests/shared/src/test/scala/explore/model/ModelFormatsSuite.scala
  model-tests/shared/src/test/scala/explore/model/TruncatedAngleSuite.scala
  model/shared/src/main/scala/explore/model/ExploreModelValidators.scala
  model/shared/src/main/scala/explore/model/TruncatedAngle.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/package.scala
  model/shared/src/main/scala/explore/optics/ModelOptics.scala
  project/Settings.scala
Labels: common, explore, model, model-testkit, model-tests

#2004 Exposure Time Mode editing in Advanced Config
  common-graphql/src/main/scala/queries/common/ObsQueriesGQL.scala
  common/src/main/scala/explore/common/ObsQueries.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/schemas/odb/implicits.scala
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/ExposureTimeModeType.scala
  explore/src/main/scala/explore/proposal/ProposalClassType.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbScienceModeAdvanced.scala
  model/shared/src/main/scala/explore/model/ScienceModeAdvanced.scala
Labels: common, common-graphql, explore, model, model-testkit

#2005 Display coordinates in target table at observation
  common/src/main/scala/explore/components/FormStaticData.scala
  common/src/main/scala/explore/components/HelpIcon.scala
  common/src/main/scala/explore/components/WIP.scala
  common/src/main/scala/explore/components/state/IfLogged.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/VerticalSection.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  model/shared/src/main/scala/explore/model/Asterism.scala
  model/shared/src/main/scala/explore/model/TargetWithId.scala
Labels: common, explore, model

#2006 Improvements to pwa caching
  common/src/main/public/production.conf.json
  common/src/main/public/staging.conf.json
  explore/src/main/webapp/main.jsx
  vite.config.js
  workers/src/main/scala/workers/CatalogCache.scala
Labels: common, explore, workers

#2012 Add overrideWavelength to Advanced Configuration panel.
  common-graphql/src/main/scala/queries/common/ObsQueriesGQL.scala
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbScienceModeAdvanced.scala
  model/shared/src/main/scala/explore/model/ExploreModelValidators.scala
  model/shared/src/main/scala/explore/model/ScienceModeAdvanced.scala
Labels: common, common-graphql, explore, model, model-testkit

#2013 Update Wavelength Inputs to only allow valid Wavelengths
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbSpectroscopyConfigurationOptions.scala
  model-testkit/shared/src/main/scala/explore/model/arb/package.scala
  model-tests/shared/src/test/scala/explore/model/SpectroscopyConfigurationOptionsSuite.scala
  model/shared/src/main/scala/explore/model/SpectroscopyConfigurationOptions.scala
  model/shared/src/main/scala/explore/model/formats.scala
Labels: explore, model, model-testkit, model-tests

#2010 Filter the allowed configurations depending on the asterism declination
  common/src/main/scala/explore/schemas/itc/implicits.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  model-tests/jvm/src/test/scala/explore/modes/ModesSuite.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Labels: common, explore, model, model-tests

#2020 Tiny fix
  explore/src/main/scala/explore/visualization/TargetsOverlay.scala
Labels: explore

#2019 Always show the obs time editor, even when the tile is minimized
  common/src/main/scala/explore/components/Tile.scala
  common/src/main/scala/explore/components/TileController.scala
  common/src/main/webapp/sass/datepicker/datepicker.scss
  explore/src/main/scala/explore/config/VizTimeEditor.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ConstraintsTile.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/InputWithUnits.scala
Labels: common, explore

#2016 Add clearable input functionality and use for configuration panels
  common/src/main/scala/explore/components/InputWithUnits.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/syntax/ui/package.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/ImagingConfigurationPanel.scala
  explore/src/main/scala/explore/config/ObsConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/SourceProfileEditor.scala
  explore/src/main/scala/explore/targeteditor/SpectralDefinitionEditor.scala
Labels: common, explore

#2026 Fix brightnessValidWedge, again.
  model/shared/src/main/scala/explore/model/display.scala
Labels: model

#2034 Comment out sporadically failing `brightnessValidWedge` test
  model-tests/shared/src/test/scala/explore/model/ExploreModelValidatorsSuite.scala
Labels: model-tests

#2035 Prevent sequence view from opening on <Enter> in advanced config
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
Labels: explore

#2032 Visualization on full screen
  common-graphql/src/main/resources/graphql/schemas/UserPreferencesDB.graphql
  common-graphql/src/main/scala/queries/common/UserPreferencesQueriesGQL.scala
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbTargetVisualOptions.scala
  model/shared/src/main/scala/explore/model/TargetVisualOptions.scala
Labels: common, common-graphql, explore, model, model-testkit

#2037 Fix displayBrightness, again, again.
  model-tests/shared/src/test/scala/explore/model/ExploreModelValidatorsSuite.scala
  model/shared/src/main/scala/explore/model/display.scala
Labels: model, model-tests

#2040 Migrate remaining class components to functional
  common/src/main/scala/explore/components/InputModal.scala
  common/src/main/scala/explore/components/UserSelectionForm.scala
  common/src/main/scala/explore/components/state/ConnectionManager.scala
  common/src/main/scala/explore/components/state/SSOManager.scala
  common/src/main/scala/explore/utils/package.scala
  explore/src/main/scala/explore/constraints/ConstraintsPanel.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/proposal/PartnerSplitsEditor.scala
  explore/src/main/scala/explore/tabs/ConstraintsTile.scala
  explore/src/main/scala/explore/targeteditor/RVInput.scala
Labels: common, explore

#2039 Lint sass files
  .github/workflows/ci.yml
  .stylelintignore
  .stylelintrc.json
  build.sbt
  common/src/main/webapp/less/variables-light.less
  common/src/main/webapp/sass/charts.scss
  common/src/main/webapp/sass/datepicker.scss
  common/src/main/webapp/sass/visualization.scss
  package-lock.json
  package.json
Labels: common

#2043 Add "λ" readonly values to advanced config panel
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
Labels: common, explore

#2046 Add new empty target to observation.
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/InputModal.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTable.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/programs/ProgramsPopup.scala
  explore/src/main/scala/explore/proposal/PartnerSplitsEditor.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  explore/src/main/scala/explore/targets/TargetSelectionTable.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
Labels: common, explore

#2053 Add workers module to root, fix compile
  build.sbt
  workers/src/main/scala/workers/CacheIDBWorker.scala
  workers/src/main/scala/workers/CatalogCache.scala
  workers/src/main/scala/workers/CatalogIDB.scala
Labels: workers

#2052 Filter obsolete Gratings, Filters and ROIs on advanced config
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
Labels: explore, workers

#2054 Update `Display` instances for enums on advanced config panel
  model/shared/src/main/scala/explore/model/display.scala
Labels: model

#2066 Update dependencies, fix Epoch validFormat, and add placeholder to wavelengthOverride input
  common/src/main/scala/explore/components/InputWithUnits.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  project/Settings.scala
Labels: common, explore

#2065 Upgrade to new crystal
  common/src/main/scala/explore/components/ConnectionsStatus.scala
  common/src/main/scala/explore/utils/package.scala
  explore/src/main/scala/explore/HelpBody.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/GeneratedSequenceViewer.scala
  explore/src/main/scala/explore/config/VizTimeEditor.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/tabs/ConstraintSetTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  project/Settings.scala
Labels: common, explore

#2067 Topic and Resource[Stream] in WebWorker.
  common/src/main/scala/workers/WebWorkerF.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
Labels: common, explore
