Repository gemini-hlsw/explore, pull requests merged in 2022-10, with the labels that each got.

#2288 Show a line for the wavelength used to calculate S/N
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/highcharts.scala
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcPanelProps.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
Labels: common, explore, model

#2287 Make elevation plot settings global
  USERPREFS.md
  common-graphql/src/main/resources/graphql/schemas/UserPreferencesDB.graphql
  common-graphql/src/main/scala/queries/common/UserPreferencesQueriesGQL.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  hasura/user-prefs/metadata/databases/default/tables/public_lucuma_target.yaml
  hasura/user-prefs/metadata/databases/default/tables/tables.yaml
  hasura/user-prefs/migrations/default/1664631769354_elevation_plot_global/down.sql
  hasura/user-prefs/migrations/default/1664631769354_elevation_plot_global/up.sql
  model/shared/src/main/scala/explore/model/ElevationPlotOptions.scala
Labels: common, common-graphql, explore, model

#2291 Show the obs id in all badge cases
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
Labels: explore

#2294 Itc improvements
  common-graphql/src/main/resources/graphql/schemas/ITC.graphql
  common-graphql/src/main/scala/queries/common/ITCQueriesGQL.scala
  common/src/main/scala/explore/model/enums/SEDType.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/itc/package.scala
  explore/src/main/scala/explore/targeteditor/EmissionLineEditor.scala
  model/shared/src/main/scala/explore/model/itc/math.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Labels: common, common-graphql, explore, model, workers

#2299 Aladin image zooms when changing constraints
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AladinToolbar.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/EmissionLineEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targeteditor/package.scala
  explore/src/main/scala/explore/visualization/package.scala
Labels: common, explore

#2303 Support querying ITC with a signal to noise at wavelength param
  USERPREFS.md
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcResultsCache.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/model/itc/ItcRequestParams.scala
  workers/src/main/scala/workers/ItcServer.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Labels: explore, model, workers

#2304 Separate toInput extensions again
  common-queries/src/main/scala/queries/schemas/itc/ITCConversions.scala
  common-queries/src/main/scala/queries/schemas/odb/ODBConversions.scala
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  common/src/main/scala/explore/common/AsterismQueries.scala
  common/src/main/scala/explore/common/ConstraintsQueries.scala
  common/src/main/scala/explore/common/ProgramQueries.scala
  common/src/main/scala/explore/common/ScienceConversions.scala
  common/src/main/scala/explore/common/ScienceQueries.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/SequenceEditor.scala
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcPanelProps.scala
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsListActions.scala
  explore/src/main/scala/explore/observationtree/ObsListActions.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/SourceProfileEditor.scala
  explore/src/main/scala/explore/targeteditor/SpectralDefinitionEditor.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Labels: common, explore, workers, common-queries

#2305 Switch facade for hotkeys and setup some shortcuts
  common/src/main/scala/react/hotkeys/hooks.scala
  common/src/main/scala/react/hotkeys/package.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/HelpBody.scala
  explore/src/main/scala/explore/shortcuts.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  package-lock.json
  package.json
Labels: common, explore

#2309 Global hotkeys
  .github/workflows/ci.yml
  build.sbt
  common/src/main/scala/react/hotkeys/hooks.scala
  common/src/main/scala/react/hotkeys/package.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/HelpBody.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/shortcuts.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/package.scala
Labels: common, explore

#2311 Apply observation to a target
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  common/src/main/scala/explore/model/AppContext.scala
  common/src/main/scala/explore/model/LocalClipboard.scala
  common/src/main/scala/explore/model/newtypes.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/main/scala/react/toastify/package.scala
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/itc/package.scala
  explore/src/main/scala/explore/shortcuts.scala
  explore/src/main/scala/explore/tabs/ConstraintSetTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
Labels: common, explore, model, common-queries

#2312 Add help to list the valid shortcuts
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/HelpBody.scala
  explore/src/main/scala/explore/shortcuts.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  flake.nix
Labels: explore

#2315 Fix center target feature
  common-graphql/src/main/scala/queries/common/UserPreferencesQueriesGQL.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AladinToolbar.scala
  explore/src/main/scala/explore/targeteditor/package.scala
Labels: common, common-graphql, explore

#2324 New, prime, tables
  build.sbt
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/InputModal.scala
  common/src/main/scala/explore/components/Tile.scala
  common/src/main/scala/explore/components/TileController.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/scala/react/reflex/types.scala
  common/src/main/scala/react/toastify/package.scala
  common/src/main/scala/reactST/reactTable/SUITable.scala
  common/src/main/scala/reactST/reactTable/SUITableVirtuoso.scala
  common/src/main/scala/workers/WorkerClient.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore-primereact.scss
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/EditableLabel.scala
  explore/src/main/scala/explore/config/GeneratedSequenceTables.scala
  explore/src/main/scala/explore/config/ManualSequenceTables.scala
  explore/src/main/scala/explore/config/SequenceTable.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/config/VizTimeEditor.scala
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTable.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/shortcuts.scala
  explore/src/main/scala/explore/targeteditor/BrightnessesEditor.scala
  explore/src/main/scala/explore/targeteditor/EmissionLineEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  explore/src/main/scala/explore/targets/TargetSelectionTable.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  explore/src/main/webapp/main.jsx
  package-lock.json
  package.json
  project/Settings.scala
Labels: common, explore

#2326 Small touches to tables
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/targeteditor/BrightnessesEditor.scala
  explore/src/main/scala/explore/targeteditor/EmissionLineEditor.scala
  package-lock.json
Labels: common, explore

#2327 Bump lucuma-react, et. al.
  explore/src/main/scala/explore/Explore.scala
  project/Settings.scala
Labels: explore

#2328 Support observation copy paste in targets
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  common/src/main/scala/explore/common/AsterismQueries.scala
  common/src/main/scala/explore/model/LocalClipboard.scala
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  model/shared/src/main/scala/explore/model/AsterismGroup.scala
  model/shared/src/main/scala/explore/model/ObsIdSet.scala
Labels: common, explore, model, common-queries

#2334 Syntax changes
  common/src/main/scala/explore/syntax/ui/package.scala
  common/src/main/scala/explore/utils/pprinter.scala
Labels: common

#2339 Fix Advanced Config buttons.
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
Labels: explore

#2340 Table preferences
  common-graphql/src/main/resources/graphql/schemas/UserPreferencesDB.graphql
  common-graphql/src/main/scala/queries/common/UserPreferencesQueriesGQL.scala
  common-graphql/src/main/scala/queries/schema/UserPreferencesDB.scala
  common-queries/src/main/scala/queries/schemas/odb/ODBConversions.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  common/src/main/scala/explore/components/TileController.scala
  common/src/main/scala/explore/model/RootModel.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/scala/explore/syntax/ui/package.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/ColumnSelector.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTable.scala
  explore/src/main/scala/explore/tabs/ConstraintSetTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/tabs/TwoResizablePanels.scala
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaSortDirection.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaTableColumnPreferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaTableIds.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaTargetIds.yaml
  hasura/user-prefs/metadata/databases/default/tables/tables.yaml
  hasura/user-prefs/migrations/default/1666021765564_table_column_preferences/down.sql
  hasura/user-prefs/migrations/default/1666021765564_table_column_preferences/up.sql
  model/shared/src/main/scala/explore/model/ConstraintsSummary.scala
  model/shared/src/main/scala/explore/model/TableColumnPref.scala
  model/shared/src/main/scala/explore/model/enums/SortDirection.scala
  model/shared/src/main/scala/explore/model/enums/TableIds.scala
Labels: common, common-graphql, explore, model, common-queries

#2341 Properly set the fpu for ags calculations
  common/src/main/scala/explore/syntax/ui/package.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  explore/src/main/scala/explore/targeteditor/GmosGeometry.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObsSummary.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbScienceMode.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbScienceModeAdvanced.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbScienceModeBasic.scala
  model-tests/shared/src/test/scala/explore/optics/OpticsSuite.scala
  model/shared/src/main/scala/explore/model/ScienceMode.scala
  model/shared/src/main/scala/explore/model/syntax/ScienceModesSyntax.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
  project/Settings.scala
  workers/src/main/scala/workers/AgsServer.scala
Labels: common, explore, model, model-testkit, model-tests, workers

#2343 Generalize table preferences
  common-graphql/src/main/resources/graphql/schemas/UserPreferencesDB.graphql
  common/src/main/scala/explore/model/RootModel.scala
  common/src/main/scala/explore/utils/TableHooks.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTable.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  hasura/user-prefs/migrations/default/1666117507319_rename_target_summary/down.sql
  hasura/user-prefs/migrations/default/1666117507319_rename_target_summary/up.sql
  model/shared/src/main/scala/explore/model/enums/TableIds.scala
Labels: common, common-graphql, explore, model

#2332 Fix grating sorting on the configurations table
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/model/enums/TableIds.scala
Labels: explore, model

#2347 Show urls on target summary table
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
Labels: explore

#2351 Alternative table state persistence.
  common-graphql/src/main/resources/graphql/schemas/UserPreferencesDB.graphql
  common-graphql/src/main/scala/queries/common/UserPreferencesQueriesGQL.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/scala/explore/syntax/ui/package.scala
  common/src/main/scala/explore/utils/TableHooks.scala
  common/src/main/scala/explore/utils/TableStateStore.scala
  explore/src/main/scala/ColumnSelector.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTable.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  hasura/user-prefs/metadata/api_limits.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaItcPlotPreferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaObservation.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaTarget.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaTargetPreferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaUserPreferences.yaml
  hasura/user-prefs/metadata/graphql_schema_introspection.yaml
  hasura/user-prefs/metadata/inherited_roles.yaml
  hasura/user-prefs/metadata/network.yaml
  hasura/user-prefs/migrations/default/1666182540944_table_options_add_sorting_order/down.sql
  hasura/user-prefs/migrations/default/1666182540944_table_options_add_sorting_order/up.sql
  model/shared/src/main/scala/explore/model/TableColumnPref.scala
  model/shared/src/main/scala/explore/model/enums/SortDirection.scala
Labels: common, common-graphql, explore, model

#2352 Update to Cats Effect 3.4.0-RC2
  common/src/test/scala/explore/undo/UndoContextSpec.scala
  explore/src/main/scala/explore/Explore.scala
  project/Settings.scala
  workers/src/main/scala/workers/WorkerServer.scala
Labels: common, explore, workers

#2353 Use primereact for View Sequence dialog
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore-primereact.scss
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/SequenceEditorPopup.scala
Labels: common, explore

#2357 Multiple selection
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/react/hotkeys/package.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  project/Settings.scala
  vite.config.mjs
Labels: common, explore

#2359 Improvements to manually changed coordinates
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/visualization/TargetsOverlay.scala
  model/shared/src/main/scala/explore/model/Asterism.scala
Labels: explore, model

#2364 Migrate table facade
  common-graphql/src/main/scala/queries/schema/UserPreferencesDB.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  common/src/main/scala/explore/utils/TableHooks.scala
  common/src/main/scala/explore/utils/TableStateStore.scala
  explore/src/main/scala/ColumnSelector.scala
  explore/src/main/scala/explore/config/SequenceTable.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTable.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/targeteditor/BrightnessesEditor.scala
  explore/src/main/scala/explore/targeteditor/EmissionLineEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
  explore/src/main/scala/explore/targets/TargetSelectionTable.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  model/shared/src/main/scala/explore/model/enums/SortDirection.scala
  project/Settings.scala
Labels: common, common-graphql, explore, model

#2363 Color code the guide speeds
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/variables-dark.less
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AgsOverlay.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
Labels: common, explore

#2365 Toast replace
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/AppContext.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/main/scala/react/toastify/package.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/less/variables-dark.less
  common/src/main/webapp/less/variables-light.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/ExplorePWA.scala
  explore/src/main/scala/explore/RootComponent.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/webapp/main.jsx
  model/js/src/main/scala/explore/events/package.scala
  package-lock.json
  package.json
Labels: common, explore, model

#2370 No back button on tablets
  common/src/main/webapp/less/style.less
Labels: common

#2367 Improvements to guide star visualization
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
Labels: common, explore

#2368 Select the focused target on the target table
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  model/shared/src/main/scala/explore/model/enums/AgsState.scala
Labels: explore, model

#2372 Back to lucuma-ui's ColumnSelector, fix "select all" callbacks in target summary table
  explore/src/main/scala/ColumnSelector.scala
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTable.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  project/Settings.scala
Labels: explore

#2377 Multiple delete on target summary
  common-queries/src/main/scala/queries/schemas/odb/ODBConversions.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targets/TargetSummaryActions.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  project/Settings.scala
Labels: common, explore, common-queries

#2380 Support target import of csv files
  build.sbt
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/TargetImportPopup.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  project/Settings.scala
Labels: common, explore

#2386 Migrate to latest lucuma-react and lucuma-ui
  common-graphql/src/main/scala/queries/common/UserPreferencesQueriesGQL.scala
  common-graphql/src/main/scala/queries/schema/UserPreferencesDB.scala
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  common/src/main/scala/explore/components/About.scala
  common/src/main/scala/explore/components/ConnectionsStatus.scala
  common/src/main/scala/explore/components/HelpIcon.scala
  common/src/main/scala/explore/components/InputModal.scala
  common/src/main/scala/explore/components/UserSelectionForm.scala
  common/src/main/scala/explore/utils/TableHooks.scala
  common/src/main/scala/explore/utils/TableStateStore.scala
  common/src/main/scala/explore/utils/package.scala
  explore/src/main/scala/explore/TopBar.scala
  explore/src/main/scala/explore/UnderConstruction.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/config/TargetImportPopup.scala
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTable.scala
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
  explore/src/main/scala/explore/itc/package.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/programs/ProgramsPopup.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/targeteditor/AgsOverlay.scala
  explore/src/main/scala/explore/targeteditor/AladinToolbar.scala
  explore/src/main/scala/explore/targeteditor/SearchForm.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  project/Settings.scala
Labels: common, common-graphql, explore

#2396 Summary virtual
  common/src/main/webapp/less/vendor/react-grid-layout.less
  common/src/main/webapp/sass/charts.scss
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
Labels: common, explore
