Repository gemini-hlsw/explore, pull requests merged in 2022-05, with the labels that each got.

#1774 Measure the size of the surrounding div for the obs and target areas
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Labels: common, explore

#1767 Removal of legacy classes
  common-graphql/src/main/scala/queries/schema/ITC.scala
  model/shared/src/main/scala/lucuma/core/enum/NonStellarLibrarySpectrum.scala
  model/shared/src/main/scala/lucuma/core/enum/StellarLibrarySpectrum.scala
  model/shared/src/main/scala/lucuma/core/model/SpectralDistribution.scala
Labels: common-graphql, model

#1755 Add position angle control
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbPosAngle.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbTruncatedPA.scala
  model-tests/shared/src/test/scala/explore/model/ModelFormatsSuite.scala
  model-tests/shared/src/test/scala/explore/model/PosAngleSuite.scala
  model-tests/shared/src/test/scala/explore/model/TruncatedPASuite.scala
  model/shared/src/main/scala/explore/model/PosAngle.scala
  model/shared/src/main/scala/explore/model/TruncatedPA.scala
  model/shared/src/main/scala/explore/model/enum/PosAngleOptions.scala
  model/shared/src/main/scala/explore/model/formats.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
  model/shared/src/main/scala/explore/optics/ModelOptics.scala
Labels: common, explore, model, model-testkit, model-tests

#1777 Small improvements to the obs grid layout
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Labels: common, explore

#1780 Show gmos fpu
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/webapp/less/components/visualization.less
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/GmosGeometry.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObsSummary.scala
  model-tests/shared/src/test/scala/explore/model/ObsSummarySuite.scala
  model/shared/src/main/scala/explore/model/ObsConfiguration.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
Labels: common, explore, model, model-testkit, model-tests

#1781 Sync target visualization across tabs
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  model/shared/src/main/scala/explore/model/ObsConfiguration.scala
Labels: explore, model

#1782 Fix reuse issue on target tab.
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Labels: skip-ch, explore

#1783 Dramatically reduce "live query" rendering complexity by using the power of Streams and Resources
  common/src/main/scala/explore/common/AsterismQueries.scala
  common/src/main/scala/explore/common/ConstraintGroupQueries.scala
  common/src/main/scala/explore/common/ObsQueries.scala
  common/src/main/scala/explore/common/ProgramQueries.scala
  common/src/main/scala/explore/components/graphql/LiveQueryRender.scala
  common/src/main/scala/explore/components/graphql/LiveQueryRenderMod.scala
  common/src/main/scala/explore/components/graphql/Render.scala
  common/src/main/scala/explore/components/graphql/SubscriptionRender.scala
  common/src/main/scala/explore/components/graphql/SubscriptionRenderMod.scala
  common/src/main/scala/explore/implicits.scala
  explore/src/main/scala/explore/config/GeneratedSequenceViewer.scala
  explore/src/main/scala/explore/config/SequenceEditor.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  project/Settings.scala
Labels: common, explore

#1788 Avoid LocalDateTime.now()
  common/src/main/scala/explore/implicits.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  model/shared/src/main/scala/explore/model/ObsConfiguration.scala
Labels: common, explore, model

#1790 Key on observations right hand panel.
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
Labels: explore

#1798 Advanced config model
  common-graphql/src/main/scala/queries/common/AsterismQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/ConstraintGroupQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/ObsQueriesGQL.scala
  common/src/main/scala/explore/common/ObsQueries.scala
  common/src/main/scala/explore/common/ScienceQueries.scala
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/GmosGeometry.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObsSummary.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbScienceMode.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbScienceModeAdvanced.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbScienceModeBasic.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
  model/shared/src/main/scala/explore/model/ScienceMode.scala
  model/shared/src/main/scala/explore/model/ScienceModeAdvanced.scala
  model/shared/src/main/scala/explore/model/ScienceModeBasic.scala
Labels: common, common-graphql, explore, model, model-testkit

#1797 Fix small issue on the target layout
  common/src/main/webapp/less/style.less
Labels: common

#1799 Update itc mappings to work with the latest version
  common-graphql/src/main/resources/graphql/schemas/ITC.graphql
  common-graphql/src/main/scala/queries/schema/ITC.scala
  common/src/main/scala/explore/schemas/itc/implicits.scala
Labels: common, common-graphql

#1800 Don't save fov foor very small changes
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
Labels: explore

#1801 Revert some improvements
  common/src/main/scala/explore/components/ConnectionsStatus.scala
  common/src/main/scala/explore/components/Logo.scala
Labels: common

#1802 Apply proper motion on aladin target overlay
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/less/vendor/aladin.less
  common/src/main/webapp/sass/datepicker/datepicker.scss
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/ObsTimeComponent.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/GmosGeometry.scala
  explore/src/main/scala/explore/targeteditor/SVGTargetsOverlay.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/webapp/main.jsx
Labels: common, explore

#1803 Interim solution to store the obstime locally
  common/src/main/scala/explore/model/ExploreLocalPreferences.scala
  common/src/test/scala/explore/model/arb/ArbExploreLocalPreferences.scala
  common/src/test/scala/explore/model/arb/ArbObsConfiguration.scala
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/TopBar.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Labels: common, explore

#1809 Advanced configuration panel, only enum fields.
  common-graphql/src/main/scala/queries/common/ObsQueriesGQL.scala
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/common/ObsQueries.scala
  common/src/main/scala/explore/common/ScienceQueries.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/implicits.scala
  common/src/main/webapp/less/style.less
  common/src/test/scala/explore/common/TargetObsQueriesSuite.scala
  common/src/test/scala/explore/model/arb/ArbExploreLocalPreferences.scala
  common/src/test/scala/explore/model/arb/ArbObsConfiguration.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/ITCRequests.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbScienceMode.scala
  model-tests/shared/src/test/scala/explore/optics/OpticsSuite.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
  model/shared/src/main/scala/explore/model/ScienceMode.scala
  model/shared/src/main/scala/explore/model/ScienceModeAdvanced.scala
  model/shared/src/main/scala/explore/optics/package.scala
Labels: common, common-graphql, explore, model, model-testkit, model-tests

#1813 Show morphology and SED in target tables.
  common/src/main/scala/explore/model/enum/SEDType.scala
  common/src/main/scala/explore/model/enum/SourceProfileType.scala
  explore/src/main/scala/explore/targeteditor/SourceProfileEditor.scala
  explore/src/main/scala/explore/targeteditor/SpectralDefinitionEditor.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  model-tests/shared/src/test/scala/explore/optics/OpticsSuite.scala
Labels: common, explore, model-tests

#1815 Fix imports
  common/src/main/scala/explore/model/display.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
Labels: common, explore

#1816 Empty FWHM and fix brightness table in gaussian.
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/SourceProfileEditor.scala
Labels: common, explore

#1817 HTML standard is showing title as tooltip
  explore/src/main/scala/explore/itc/package.scala
Labels: explore

#1820 Disable advanced configuration when no config.
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
Labels: explore

#1821 Show obs title and subtitle in sequence view.
  common-graphql/src/main/scala/queries/common/ObsQueriesGQL.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/SequenceEditorPopup.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
Labels: common, common-graphql, explore

#1827 Avoid overflowing with the active status toggle
  common/src/main/webapp/less/style.less
Labels: common

#1825 Read catalog stars in explore
  build.sbt
  common/src/main/scala/explore/components/state/LogoutTracker.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/WebWorkers.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/main/scala/workers/WebWorkerF.scala
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/SVGTargetsOverlay.scala
  explore/src/main/webapp/cacheworker.js
  model-testkit/shared/src/main/scala/explore/boopickle/package.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbCatalogResults.scala
  model-tests/shared/src/test/scala/explore/model/CatalogResultsSuite.scala
  model-tests/shared/src/test/scala/explore/model/boopickle/BoopickleSuite.scala
  model/js/src/main/scala/explore/events/EventPicklers.scala
  model/js/src/main/scala/explore/events/package.scala
  model/js/src/main/scala/explore/model/boopickle/BoopicklePlatform.scala
  model/jvm/src/main/scala/explore/model/boopickle/BoopicklePlatform.scala
  model/shared/src/main/scala/explore/model/CatalogResults.scala
  model/shared/src/main/scala/explore/model/GuideStarCandidate.scala
  model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  model/shared/src/main/scala/explore/model/boopickle/package.scala
  project/Settings.scala
  workers/src/main/scala/workers/CacheIDBStores.scala
  workers/src/main/scala/workers/CacheIDBWorker.scala
  workers/src/main/scala/workers/CatalogCache.scala
  workers/src/main/scala/workers/CatalogIDB.scala
  workers/src/main/scala/workers/IDBWorker.scala
Labels: common, explore, model, model-testkit, model-tests, workers

#1831 Properly parse the brightness for uniform sources
  explore/src/main/scala/explore/config/ITCRequests.scala
Labels: explore

#1838 Display the proper motion displacement of guide star candidates
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
Labels: common, explore

#1835 Make the target table horizontally scroll if too wide
  common/src/main/webapp/less/style.less
  workers/src/main/scala/workers/CacheIDBWorker.scala
Labels: common, workers

#1845 Show indicator while loading guidestars
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinToolbar.scala
  project/Settings.scala
  workers/src/main/scala/workers/CacheIDBStores.scala
Labels: common, explore, workers

#1840 Layout saving improvements
  common/src/main/scala/explore/components/TileController.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
Labels: common, explore

#1847 Constraints tile improvements
  common/src/main/scala/explore/components/LiveQuery.scala
  common/src/main/scala/explore/components/Tile.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/components/undo/UndoButtons.scala
  common/src/main/scala/explore/model/layout.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/less/vendor/react-grid-layout.less
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/GeneratedSequenceViewer.scala
  explore/src/main/scala/explore/config/SequenceEditor.scala
  explore/src/main/scala/explore/constraints/ConstraintsPanel.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ConstraintSetTabContents.scala
  explore/src/main/scala/explore/tabs/ConstraintsTile.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
Labels: common, explore

#1859 A few small fixes
  common/src/main/scala/explore/components/TileController.scala
  common/src/main/scala/explore/components/undo/UndoButtons.scala
  common/src/main/scala/explore/model/layout.scala
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
Labels: common, explore

#1849 Partial port to the latest lucuma-core
  common/src/main/scala/explore/model/ExploreLocalPreferences.scala
  common/src/main/scala/explore/model/display.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/test/scala/explore/model/arb/ArbObsConfiguration.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/proposal/ProposalDetailsEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbPosAngle.scala
  model-tests/shared/src/test/scala/explore/model/PosAngleSuite.scala
  model/shared/src/main/scala/explore/model/ObsConfiguration.scala
  model/shared/src/main/scala/explore/model/PosAngle.scala
  model/shared/src/main/scala/explore/model/ProposalDetails.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
  project/Settings.scala
Labels: common, explore, model, model-testkit, model-tests

#1860 Full migration to hooks for streams and resources.
  common/src/main/scala/explore/common/AsterismQueries.scala
  common/src/main/scala/explore/common/ConstraintGroupQueries.scala
  common/src/main/scala/explore/common/ObsQueries.scala
  common/src/main/scala/explore/common/ProgramQueries.scala
  common/src/main/scala/explore/components/About.scala
  common/src/main/scala/explore/components/ConnectionsStatus.scala
  common/src/main/scala/explore/components/LiveQuery.scala
  common/src/main/scala/explore/implicits.scala
  common/src/main/scala/explore/model/AppContext.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/test/scala/explore/model/arb/ArbObsConfiguration.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/TopBar.scala
  explore/src/main/scala/explore/config/GeneratedSequenceViewer.scala
  explore/src/main/scala/explore/config/SequenceEditor.scala
  explore/src/main/scala/explore/config/SequenceEditorPopup.scala
  explore/src/main/scala/explore/programs/ProgramsPopup.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ConstraintSetTabContents.scala
  explore/src/main/scala/explore/tabs/ConstraintsTile.scala
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  model/shared/src/main/scala/explore/model/ProposalDetails.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
  project/Settings.scala
Labels: common, explore, model

#1861 More migration to new hooks.
  explore/src/main/scala/explore/config/GeneratedSequenceViewer.scala
  explore/src/main/scala/explore/config/SequenceEditor.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  model/js/src/main/scala/explore/model/boopickle/BoopicklePlatform.scala
  project/Settings.scala
  workers/src/main/scala/workers/CacheIDBWorker.scala
Labels: explore, model, workers

#1862 Asterism model
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SkyPlotNight.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbAsterism.scala
  model-testkit/shared/src/main/scala/explore/model/arb/package.scala
  model-tests/shared/src/test/scala/explore/model/AsterismSuite.scala
  model/shared/src/main/scala/explore/model/Asterism.scala
Labels: common, explore, model, model-testkit, model-tests

#1864 Rename SkyPlot to ElevationPlot
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
  project/Settings.scala
Labels: common, explore

#1863 If we are not focused on a target, use the base of the asterism
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Labels: explore

#1869 Update for Shane's latest API reorganization.
  common-graphql/src/main/scala/queries/common/AsterismQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/ObsQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/ProgramQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/TargetQueriesGQL.scala
  common/src/main/scala/explore/common/AsterismQueries.scala
  common/src/main/scala/explore/common/ConstraintsQueries.scala
  common/src/main/scala/explore/common/ObsQueries.scala
  common/src/main/scala/explore/common/ProgramQueries.scala
  common/src/main/scala/explore/common/ScienceQueries.scala
  common/src/main/scala/explore/schemas/odb/implicits.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/GeneratedSequenceViewer.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsListActions.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/ObsListActions.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  project/Settings.scala
Labels: common, common-graphql, explore
