Repository gemini-hlsw/explore, pull requests merged in 2022-04, with the labels that each got.

#1670 Remove routing information from RootModel and allow multiple ObsIds in relevant URLs
  common/src/main/scala/explore/implicits.scala
  common/src/main/scala/explore/model/AppContext.scala
  common/src/main/scala/explore/model/RootModel.scala
  common/src/main/scala/explore/model/RootModelRouting.scala
  common/src/main/scala/explore/model/RoutingInfo.scala
  common/src/test/scala/explore/model/arb/ArbRootModel.scala
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/SideTabs.scala
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTable.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsListActions.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/ObsListActions.scala
  explore/src/main/scala/explore/observationtree/ViewCommon.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ConstraintSetTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  model/shared/src/main/scala/explore/model/Page.scala
Labels: common, explore, model

#1671 Fix imports
  common/src/main/scala/explore/common/AsterismQueries.scala
  common/src/main/scala/explore/common/ConstraintGroupQueries.scala
  common/src/main/scala/explore/common/ConstraintsQueries.scala
  common/src/main/scala/explore/common/ObsQueries.scala
  common/src/main/scala/explore/common/ScienceQueries.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  common/src/main/scala/explore/components/TileController.scala
  common/src/main/scala/explore/components/state/IfLogged.scala
  common/src/main/scala/explore/implicits.scala
  common/src/main/scala/explore/model/AppContext.scala
  common/src/main/scala/explore/model/RoutingInfo.scala
  common/src/main/scala/explore/schemas/itc/implicits.scala
  common/src/main/scala/explore/schemas/odb/implicits.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/config/ITCRequests.scala
  explore/src/main/scala/explore/config/SequenceEditor.scala
  explore/src/main/scala/explore/config/SequenceTable.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsListActions.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ObsListActions.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ConstraintSetTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/SourceProfileEditor.scala
  explore/src/main/scala/explore/targeteditor/SpectralDefinitionEditor.scala
  explore/src/main/scala/explore/targets/TargetSource.scala
Labels: common, explore

#1676 New DB API, BigDecimal brightness value.
  common-graphql/src/main/scala/queries/common/ConstraintGroupQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/ObsQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/SequenceStepsGQL.scala
  common/src/main/scala/explore/common/ConstraintsQueries.scala
  common/src/main/scala/explore/common/ObsQueries.scala
  common/src/main/scala/explore/schemas/itc/implicits.scala
  common/src/main/scala/explore/schemas/odb/implicits.scala
  explore/src/main/scala/explore/config/SequenceTable.scala
  explore/src/main/scala/explore/targeteditor/BrightnessesEditor.scala
  explore/src/main/scala/explore/targeteditor/SpectralDefinitionEditor.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/optics/ModelOptics.scala
  project/Settings.scala
  project/plugins.sbt
Labels: skip-ch, common, common-graphql, explore, model

#1678 Simplify TwoPanelState usage with new routing
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTable.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsListActions.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsListActions.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/tabs/ConstraintSetTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Labels: explore

#1692 Editable observation subtitle in badges.
  common-graphql/src/main/scala/queries/common/ConstraintGroupQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/ObsQueriesGQL.scala
  common/src/main/scala/explore/common/ConstraintGroupQueries.scala
  common/src/main/scala/explore/common/ObsQueries.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/implicits.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/EditInPlace.scala
  explore/src/main/scala/explore/config/ImagingConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/ObsListActions.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/targeteditor/RVInput.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObsSummary.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbTargetSummary.scala
  model-testkit/shared/src/main/scala/explore/model/arb/package.scala
  model-tests/shared/src/test/scala/explore/model/ObsSummarySuite.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
  model/shared/src/main/scala/explore/model/TargetSummary.scala
  model/shared/src/main/scala/explore/model/enum/AppTab.scala
Labels: common, common-graphql, explore, model, model-testkit, model-tests

#1693 Improvements to EditableLabel.
  common/src/main/scala/explore/common/AsterismQueries.scala
  common/src/main/scala/explore/common/ObsQueries.scala
  common/src/main/scala/explore/components/Tile.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/EditInPlace.scala
  explore/src/main/scala/explore/EditableLabel.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Labels: common, explore

#1694 Update some libs
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  project/Settings.scala
Labels: explore

#1698 Fix reload issues and ObsBadge match error
  common/src/main/scala/explore/common/AsterismQueries.scala
  common/src/main/scala/explore/common/ConstraintGroupQueries.scala
  common/src/main/scala/explore/common/ObsQueries.scala
  common/src/main/scala/explore/model/TwoPanelState.scala
  explore/src/main/scala/explore/EditableLabel.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/tabs/ConstraintSetTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Labels: common, explore

#1707 Config queries
  common-graphql/src/main/scala/queries/common/AsterismQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/ConstraintGroupQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/ObsQueriesGQL.scala
  common/src/main/scala/explore/common/AsterismQueries.scala
  common/src/main/scala/explore/common/ConstraintGroupQueries.scala
  common/src/main/scala/explore/common/ObsQueries.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/webapp/less/components/visualization.less
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/ObsListActions.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/GmosGeometry.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObsSummary.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbScienceConfiguration.scala
  model/shared/src/main/scala/explore/model/AsterismGroup.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
  model/shared/src/main/scala/explore/model/TargetGroup.scala
Labels: common, common-graphql, explore, model, model-testkit

#1710 Small ui improvements to the Targets table
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/targets/TargetColumns.scala
Labels: common, explore

#1711 Prettify style.less
  common/src/main/webapp/less/style.less
Labels: common

#1709 Set the FOV from the user preferences
  common/src/main/webapp/less/components/visualization.less
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/CataloguesForm.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbTargetVisualOptions.scala
  model/shared/src/main/scala/explore/model/TargetVisualOptions.scala
Labels: common, explore, model, model-testkit

#1712 Modified styles to align target edit form
  common/src/main/webapp/less/style.less
Labels: common

#1713 Update react-aladin
  common/src/main/webapp/less/components/visualization.less
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AladinToolbar.scala
  explore/src/main/scala/explore/targeteditor/GmosGeometry.scala
  project/Settings.scala
Labels: common, explore

#1715 Magnitude tables
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/BrightnessesEditor.scala
  explore/src/main/scala/explore/targeteditor/EmissionLineEditor.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/SpectralDefinitionEditor.scala
  package-lock.json
  package.json
Labels: common, explore

#1716 Refresh the aladin view on resize
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
Labels: explore

#1720 Bug on merge
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
Labels: explore

#1723 Some improvements to brightness/emission table width
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/targeteditor/BrightnessesEditor.scala
  explore/src/main/scala/explore/targeteditor/EmissionLineEditor.scala
Labels: common, explore

#1722 Fixed autofill unreadable fields and target table hidden on small sizes
  common/src/main/webapp/less/style.less
Labels: common

#1724 Improvements to the Target grid layout
  common/src/main/scala/explore/components/TileController.scala
  common/src/main/scala/explore/model/layout.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/less/vendor/react-grid-layout.less
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  model/shared/src/main/scala/explore/model/Constants.scala
Labels: common, explore, model

#1726 Remove resizeDetector
  common/src/main/scala/react/resizeDetector/ResizeDetector.scala
  common/src/main/scala/react/resizeDetector/hooks.scala
Labels: common

#1728 Add Program Management modal popup
  common-graphql/src/main/scala/queries/common/ProgramQueriesGQL.scala
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/common/ProgramQueries.scala
  common/src/main/scala/explore/components/graphql/LiveQueryRender.scala
  common/src/main/scala/explore/components/graphql/LiveQueryRenderMod.scala
  common/src/main/scala/explore/components/graphql/Render.scala
  common/src/main/scala/explore/components/graphql/SubscriptionRender.scala
  common/src/main/scala/explore/components/graphql/SubscriptionRenderMod.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/RoutingInfo.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/EditableLabel.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/TopBar.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/programs/ProgramsPopup.scala
Labels: common, common-graphql, explore

#1732 Don't change FOV on tile resizing
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  package-lock.json
  package.json
  project/Settings.scala
Labels: explore

#1733 Removed styles to make asterism table targets always visible
  common/src/main/webapp/less/style.less
Labels: common

#1740 Remove atlaskit/tree and delete commented out files.
  build.sbt
  explore/src/main/scala/explore/observationtree/TreeComp.scala
  explore/src/main/scala/explore/targeteditor/TargetEditor.scala
  package.json
  project/Settings.scala
Labels: explore

#1765 Store the view offset of the aladin target
  common-graphql/src/main/resources/graphql/schemas/UserPreferencesDB.graphql
  common-graphql/src/main/scala/queries/common/UserPreferencesQueriesGQL.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  flake.nix
  model-testkit/shared/src/main/scala/explore/model/arb/ArbTargetVisualOptions.scala
  model/shared/src/main/scala/explore/model/TargetVisualOptions.scala
Labels: common, common-graphql, explore, model, model-testkit
