Repository gemini-hlsw/explore, pull requests merged in 2023-03, with the labels that each got.

#2760 Update explore for the itc/sequence changes in the odb
  common-graphql/src/main/scala/queries/common/GeneratedSequenceSQL.scala
  common-graphql/src/main/scala/queries/common/VisitsSQL.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceTables.scala
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceViewer.scala
  explore/src/main/scala/explore/config/sequence/SequenceEditorPopup.scala
  explore/src/main/scala/explore/config/sequence/VisitsViewer.scala
  project/Settings.scala
Labels: common-graphql, explore

#2761 Add CatalogInfo fields to target tables
  explore/src/main/scala/explore/targets/TargetColumns.scala
  explore/src/main/scala/explore/targets/TargetSelectionTable.scala
  project/Settings.scala
Labels: explore

#2763 Better handling of repeated timing windows
  model/shared/src/main/scala/explore/model/TimingWindow.scala
Labels: model

#2770 Remove some unused styles
  common/src/main/scala/explore/components/Tile.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/components/ui/FomanticStyles.scala
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/proposal/PartnerSplitsEditor.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
Labels: common, explore

#2772 Add UI to create and delete api keys
  common-graphql/src/main/resources/graphql/schemas/SSO.graphql
  common-graphql/src/main/scala/queries/common/SSOQueriesGQL.scala
  common-graphql/src/main/scala/queries/schema/SSO.scala
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/About.scala
  common/src/main/scala/explore/components/ExploreCopy.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/AppContext.scala
  common/src/main/scala/explore/model/GraphQLClients.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/TopBar.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
  model/shared/src/main/scala/explore/model/ApiKey.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/enums/RoleType.scala
Labels: common, common-graphql, explore, model

#2771 Observation Summary Table
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  common/src/main/scala/explore/common/AsterismQueries.scala
  common/src/main/scala/explore/common/ConstraintGroupQueries.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  hasura/user-prefs/migrations/default/1678192196158_insert_obs_summary_into_public_lucumaTableIds/down.sql
  hasura/user-prefs/migrations/default/1678192196158_insert_obs_summary_into_public_lucumaTableIds/up.sql
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObsSummary.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
  model/shared/src/main/scala/explore/model/enums/TableIds.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
Labels: common, explore, model, model-testkit, common-queries

#2773 Remove unnecessary code
  common/src/test/scala/explore/undo/TestUndoable.scala
  common/src/test/scala/explore/undo/package.scala
Labels: common

#2775 Show acquisition offsets
  common-graphql/src/main/scala/queries/common/ObsQueriesGQL.scala
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/ObsConfiguration.scala
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/visualization/OffsetSVG.scala
  explore/src/main/scala/explore/visualization/TargetsOverlay.scala
  model/shared/src/main/scala/explore/model/ExecutionOffsets.scala
Labels: common, common-graphql, explore, model, common-queries

#2777 Small query cleanup
  common-graphql/src/main/scala/queries/common/GeneratedSequenceSQL.scala
Labels: common-graphql

#2780 Fix for partially working ObsEditQuery
  common-graphql/src/main/scala/queries/common/ObsQueriesGQL.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Labels: common-graphql, explore

#2782 Switch SSO client to FetchJS
  common/src/main/scala/explore/components/state/ConnectionManager.scala
  common/src/main/scala/explore/components/state/IfLogged.scala
  common/src/main/scala/explore/model/AppContext.scala
  common/src/main/scala/explore/model/GraphQLClients.scala
  common/src/main/scala/explore/model/userVault.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/TopBar.scala
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
Labels: common, explore

#2788 Fix hidden brightnesses table height
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/targeteditor/BrightnessesEditor.scala
Labels: common, explore

#2783 Avoid double scrollbars
  common/src/main/webapp/sass/explore.scss
Labels: common

#2789 Fixes and improvements for visualization
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/ObsConfiguration.scala
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/PAConfigurationPanel.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AgsOverlay.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AladinToolbar.scala
  explore/src/main/scala/explore/targeteditor/GmosGeometry.scala
  model/shared/src/main/scala/explore/model/Constants.scala
Labels: common, explore, model

#2790 Fix missing magnitudes in case of more columns
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
Labels: common, explore

#2791 Improvements when inserting new target
  common/src/main/scala/explore/common/TargetQueries.scala
  common/src/main/scala/explore/model/AppContext.scala
  common/src/main/scala/explore/utils/ToastCtx.scala
  common/src/main/scala/explore/utils/package.scala
  explore/src/main/scala/explore/config/TargetImportPopup.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismModifier.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
Labels: common, explore

#2792 Small improvement over previous PR
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
Labels: explore

#2793 Display FPU in short configuration
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  model-tests/shared/src/test/scala/explore/model/ObsSummarySuite.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
Labels: explore, model, model-tests

#2794 Adjust to new clue API
  common/src/main/scala/explore/model/AppContext.scala
  common/src/main/scala/explore/model/GraphQLClients.scala
  explore/src/main/scala/explore/Explore.scala
  project/Settings.scala
Labels: common, explore

#2796 Move some of the target user preferences to be global
  common-graphql/src/main/resources/graphql/schemas/UserPreferencesDB.graphql
  common-graphql/src/main/scala/queries/common/ITCQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/UserPreferencesQueriesGQL.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  hasura/user-prefs/migrations/default/1678926475745_target_to_global_preferences/down.sql
  hasura/user-prefs/migrations/default/1678926475745_target_to_global_preferences/up.sql
  model-testkit/shared/src/main/scala/explore/model/arb/ArbTargetVisualOptions.scala
  model/shared/src/main/scala/explore/model/TargetVisualOptions.scala
  model/shared/src/main/scala/explore/model/UserGlobalPreferences.scala
  project/Settings.scala
Labels: common, common-graphql, explore, model, model-testkit

#2798 Alternative loading indicator
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/state/ConnectionManager.scala
  common/src/main/webapp/sass/explore.scss
  common/src/main/webapp/sass/solar-system.scss
  explore/src/main/webapp/main.jsx
Labels: common, explore

#2807 Implement RA, Dec, SED and multi-target rows for obs summary table
  common-graphql/src/main/scala/queries/common/ObsQueriesGQL.scala
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObsSummary.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbTargetSummary.scala
  model/shared/src/main/scala/explore/model/TargetSummary.scala
Labels: common, common-graphql, explore, model, model-testkit, common-queries

#2808 Show different column set for Simbad results & rearrange column order
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  explore/src/main/scala/explore/targets/TargetSelectionTable.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
Labels: common, explore

#2812 Don't show toast for each target when importing
  explore/src/main/scala/explore/config/TargetImportPopup.scala
Labels: explore

#2814 Fix target column anchor
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
Labels: explore

#2817 Timing windows exclude, refactor of potRender
  common-graphql/src/main/resources/graphql/schemas/UserPreferencesDB.graphql
  common-graphql/src/main/scala/queries/common/TimingWindowsGQL.scala
  common/src/main/scala/explore/common/TimingWindowQueries.scala
  common/src/main/scala/explore/components/UserSelectionForm.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/syntax/ui/package.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/UnderConstruction.scala
  explore/src/main/scala/explore/config/VizTimeEditor.scala
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceViewer.scala
  explore/src/main/scala/explore/config/sequence/SequenceEditor.scala
  explore/src/main/scala/explore/constraints/TimingWindowsPanel.scala
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/ConstraintsTile.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
  hasura/user-prefs/metadata/databases/default/tables/public_exploreTargetPreferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaItcPlotPreferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaObservation.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaTarget.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaUserPreferences.yaml
  hasura/user-prefs/migrations/default/1679585248916_exclude_timing_windows/down.sql
  hasura/user-prefs/migrations/default/1679585248916_exclude_timing_windows/up.sql
  model/shared/src/main/scala/explore/model/Constants.scala
  model/shared/src/main/scala/explore/model/TimingWindow.scala
  model/shared/src/main/scala/explore/model/formats.scala
  model/shared/src/main/scala/explore/model/parsers.scala
  project/Settings.scala
Labels: common, common-graphql, explore, model
