Repository gemini-hlsw/explore, pull requests merged in 2023-08, with the labels that each got.

#3167 Persist showing scheduling on the elevation plot
  common/src/clue/resources/UserPreferencesDB.graphql
  common/src/clue/scala/queries/common/UserPreferencesQueriesGQL.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  hasura/user-prefs/migrations/default/1690905130468_alter_table_public_lucumaUserPreferences_add_column_elevationPlotScheduling/down.sql
  hasura/user-prefs/migrations/default/1690905130468_alter_table_public_lucumaUserPreferences_add_column_elevationPlotScheduling/up.sql
  model/shared/src/main/scala/explore/model/ElevationPlotOptions.scala
  model/shared/src/main/scala/explore/model/GlobalPreferences.scala
Labels: common, explore, model

#3170 Migrate to new lucuma-schema
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/config/sequence/GmosSequenceRow.scala
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
  explore/src/main/scala/explore/config/sequence/SequenceColumns.scala
  explore/src/main/scala/explore/config/sequence/VisitTable.scala
  project/Versions.scala
Labels: common, explore

#3174 Partial fix for changed to plannedTime API
  common/src/clue/scala/queries/common/ObservationSummarySubquery.scala
  common/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObsSummary.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
  project/Versions.scala
Labels: common, explore, model, model-testkit

#3183 Improve look when there are no scheduling windows
  common/src/main/webapp/sass/explore.scss
Labels: common

#3190 Pass roi/binning/readmode to the ITC
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
  explore/src/main/scala/explore/itc/ItcProps.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/model/ImagingConfigurationOptions.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  model/shared/src/main/scala/queries/schemas/itc/syntax.scala
  project/Versions.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Labels: explore, model, workers

#3191 Refactor the aladin menu to a separate component
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinPreferencesMenu.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
Labels: explore

#3192 Make ITC plot preferences global
  common/src/clue/resources/UserPreferencesDB.graphql
  common/src/clue/scala/queries/common/UserPreferencesQueriesGQL.scala
  common/src/clue/scala/queries/schemas/UserPreferencesDB.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcPlotControl.scala
  explore/src/main/scala/explore/tabs/ItcTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  hasura/user-prefs/metadata/databases/default/tables/public_ItcChartType.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaObservation.yaml
  hasura/user-prefs/metadata/databases/default/tables/tables.yaml
  hasura/user-prefs/migrations/default/1691442561841_global_itc_preferences/down.sql
  hasura/user-prefs/migrations/default/1691442561841_global_itc_preferences/up.sql
  model/shared/src/main/scala/explore/model/GlobalPreferences.scala
Labels: common, explore, model

#3193 Sequence tile
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  common/src/main/scala/explore/components/Tile.scala
  common/src/main/scala/explore/components/TileController.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceTables.scala
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceViewer.scala
  explore/src/main/scala/explore/config/sequence/SequenceEditorPopup.scala
  explore/src/main/scala/explore/config/sequence/SequenceEditorTile.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/model/TileIds.scala
Labels: common, explore, model

#3194 Update lucuma-core to 0.84.0 for ObjectTracking changes.
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
  explore/src/main/scala/explore/attachments/package.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  model/shared/src/main/scala/explore/model/Asterism.scala
  model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  model/shared/src/main/scala/explore/model/extensions.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
  project/Versions.scala
  workers/src/main/scala/workers/package.scala
Labels: explore, model, workers

#3196 Show the brightness table in FF
  common/src/main/webapp/sass/explore.scss
Labels: common

#3197 Extract sequence row model to lucuma-ui
  explore/src/main/scala/explore/config/sequence/GmosSequenceRow.scala
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
  explore/src/main/scala/explore/config/sequence/SequenceColumns.scala
  explore/src/main/scala/explore/config/sequence/VisitTable.scala
  project/Versions.scala
Labels: explore

#3203 Imports change in new lucuma-ui
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTable.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  project/Versions.scala
Labels: common, explore

#3205 Make it possible to add a target directly on the tile if empty
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/AsterismModifier.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
Labels: explore

#3209 Check itc version and cleanup if data version changes
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  workers/src/main/scala/workers/Cache.scala
  workers/src/main/scala/workers/ItcServer.scala
  workers/src/main/scala/workers/itc/ITCVersionsRequests.scala
Labels: model, workers

#3214 Show 'None' when no grating/filter/fpu is defined for a step
  explore/src/main/scala/explore/config/sequence/SequenceColumns.scala
Labels: explore

#3215 Add control to adjust a finder chart to the parallactic angle
  common/src/clue/resources/UserPreferencesDB.graphql
  common/src/clue/scala/queries/common/UserPreferencesQueriesGQL.scala
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/findercharts/ControlOverlay.scala
  explore/src/main/scala/explore/findercharts/FinderCharts.scala
  explore/src/main/scala/explore/tabs/FinderChartsTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  hasura/user-prefs/metadata/databases/default/tables/public_exploreFinderChart.yaml
  model/shared/src/main/scala/explore/model/Transformation.scala
Labels: common, explore, model

#3219 Provide sensible roi and ccd to ITC queries
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/queries/schemas/itc/syntax.scala
  project/Versions.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Labels: explore, model, workers

#3220 Migrate FontAwesome icons component
  common/src/main/scala/explore/Icons.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/observationtree/SchedulingGroupObsList.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
  package-lock.json
  package.json
  project/Versions.scala
Labels: common, explore

#3229 Use side tabs from lucuma-ui
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/RoutingInfo.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/less/variables-dark.less
  common/src/main/webapp/less/verticalbuttons.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/SideTabs.scala
  explore/src/main/webapp/main.jsx
  model/shared/src/main/scala/explore/model/enums/AppTab.scala
Labels: common, explore, model

#3233 Fix pointer events on FF
  common/src/main/webapp/sass/tooltips.scss
  common/src/main/webapp/sass/visualization.scss
Labels: common
