Repository gemini-hlsw/explore, pull requests merged in 2023-09, with the labels that each got.

#3241 Recalculate the sequence when the target changes
  common/src/main/scala/explore/common/package.scala
  explore/src/clue/scala/queries/common/TargetQueriesGQL.scala
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceViewer.scala
  explore/src/main/scala/explore/config/sequence/SequenceEditorTile.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
Labels: common, explore

#3243 Fix the way fields are updated or it could use a default value
  explore/src/clue/scala/queries/common/UserPreferencesQueriesGQL.scala
  explore/src/main/scala/explore/common/UserPreferencesQueries.scala
Labels: explore

#3245 Show patrol field even if there are no offsets
  explore/src/main/scala/explore/targeteditor/GmosGeometry.scala
Labels: explore

#3246 Fix for pasting to asterisms
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targets/ObservationPasteAction.scala
Labels: explore

#3249 Upgrade lucuma-ui
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
  explore/src/main/scala/explore/config/sequence/VisitTable.scala
  project/Versions.scala
Labels: explore

#3248 Add control to add a new observation if none is present
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
Labels: common, explore

#3250 Fix to handle pasting into multiple targets on the summary table
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Labels: explore

#3258 Fix ObsAttachment upload
  common/src/main/scala/explore/utils/OdbRestClient.scala
Labels: common

#3259 Add acquisition offsets to the guidestar calculations.
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
Labels: explore

#3260 Upgrade dependencies - including codec move from schemas to odb-schemas
  build.sbt
  project/Dependencies.scala
  project/Versions.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Labels: workers

#3261 Use methods in lucuma-core to determine the brightest target
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcProps.scala
  model/shared/src/main/scala/explore/model/itc/ItcTarget.scala
Labels: explore, model

#3270 Fix scale calculation bug on tooltips
  explore/src/main/scala/explore/visualization/CrossTarget.scala
  explore/src/main/scala/explore/visualization/GuideStarTarget.scala
  explore/src/main/scala/explore/visualization/OffsetSVG.scala
  explore/src/main/scala/explore/visualization/SVGTooltip.scala
  explore/src/main/scala/explore/visualization/TargetsOverlay.scala
  explore/src/main/scala/explore/visualization/package.scala
Labels: explore

#3275 Extend the staging banner to all non-production instances
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/Explore.scala
Labels: common, explore

#3048 Change staging hostName in environments.conf.json
  common/src/main/public/environments.conf.json
Labels: common

#3280 Dual staging environments.
  common/src/main/public/environments.conf.json
Labels: common

#3276 Update odb itc schema
  explore/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  project/Versions.scala
Labels: explore

#3274 Extract common code and styles
  .github/workflows/ci.yml
  .gitignore
  THEMING.md
  build.sbt
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/.stylelintignore
  common/src/main/webapp/less/style.less
  common/src/main/webapp/less/variables-dark.less
  common/src/main/webapp/less/variables-light.less
  common/src/main/webapp/sass/charts.scss
  common/src/main/webapp/sass/explore-primereact.scss
  common/src/main/webapp/sass/explore.scss
  common/src/main/webapp/sass/tooltips.scss
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/RoleSwitch.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/TopBar.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/webapp/main.jsx
  model/shared/src/main/scala/explore/model/Page.scala
  model/shared/src/main/scala/explore/model/enums/AppTab.scala
  project/Dependencies.scala
  project/Versions.scala
Labels: common, explore, model

#3285 Show S/N on the sequence table per observation class
  explore/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceTables.scala
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceViewer.scala
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
  explore/src/main/scala/explore/config/sequence/SequenceEditorTile.scala
  explore/src/main/scala/explore/config/sequence/VisitTable.scala
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlotDescription.scala
  explore/src/main/scala/explore/itc/package.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
  model/shared/src/main/scala/explore/model/OdbItcResult.scala
  project/Versions.scala
Labels: explore, model

#3289 Fix the way AllowFlip behaves and some cleanups
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AladinPreferencesMenu.scala
  explore/src/main/scala/explore/targeteditor/package.scala
Labels: explore

#3300 Use the extension field for itc errors
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  project/Versions.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Labels: explore, model, workers

#3301 Use common exposure time for all targets when calculating the itc chart
  explore/src/main/scala/explore/itc/ItcProps.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/model/itc/ItcRequestParams.scala
  workers/src/main/scala/workers/ItcServer.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
Labels: explore, model, workers

#3310 Restore ability to hide the obs toolbar
  common/src/main/scala/explore/Icons.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
Labels: common, explore

#3308 Update floating-ui
  explore/src/main/scala/explore/visualization/CrossTarget.scala
  explore/src/main/scala/explore/visualization/GuideStarTarget.scala
  explore/src/main/scala/explore/visualization/OffsetSVG.scala
  explore/src/main/scala/explore/visualization/SVGTooltip.scala
  package-lock.json
  package.json
  project/Versions.scala
Labels: explore

#3302 Fix negative times
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
Labels: explore
