Repository gemini-hlsw/explore, pull requests merged in 2023-05, with the labels that each got.

#2899 Use itc client
  build.sbt
  common-queries/src/clue/resources/ITC.graphql
  common-queries/src/clue/scala/queries/common/ITCQueriesGQL.scala
  common-queries/src/clue/scala/queries/schemas/ITC.scala
  common-queries/src/clue/scala/queries/schemas/UserPreferencesDB.scala
  common-queries/src/main/scala/queries/schemas/itc/ITCConversions.scala
  common-queries/src/main/scala/queries/schemas/itc/syntax.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  common/src/main/scala/explore/model/AppContext.scala
  common/src/main/scala/explore/model/GraphQLClients.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcPanelProps.scala
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
  explore/src/main/scala/explore/itc/ItcPlotControl.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlotDescription.scala
  explore/src/main/scala/explore/itc/package.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/enums/ItcSeriesType.scala
  model/shared/src/main/scala/explore/model/itc/math.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  project/Dependencies.scala
  project/Versions.scala
  workers/src/main/scala/workers/ItcServer.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Labels: common, explore, model, workers, common-queries

#2905 PWA fixes
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/ExplorePWA.scala
  heroku/static.json
  package-lock.json
  package.json
  project/Versions.scala
  vite.config.mjs
Labels: common, explore

#2912 Update lucuma-itc
  common-queries/src/main/scala/queries/schemas/itc/syntax.scala
  explore/src/main/scala/explore/itc/ItcPlotControl.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  model/shared/src/main/scala/explore/model/display.scala
  project/Versions.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Labels: explore, model, workers, common-queries

#2916 Timing windows in ODB
  common-queries/src/clue/scala/queries/common/ObservationSummarySubquery.scala
  common-queries/src/clue/scala/queries/common/TimingWindowsGQL.scala
  common-queries/src/clue/scala/queries/schemas/UserPreferencesDB.scala
  common/src/main/scala/explore/common/ConstraintsQueries.scala
  common/src/main/scala/explore/common/ScienceQueries.scala
  common/src/main/scala/explore/common/TimingWindowQueries.scala
  common/src/main/scala/explore/common/TimingWindowsQueries.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/scala/explore/syntax/ui/package.scala
  common/src/main/scala/explore/utils/ToastCtx.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/main/webapp/less/variables-dark.less
  common/src/main/webapp/less/variables-light.less
  common/src/main/webapp/sass/charts.scss
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/constraints/ConstraintsPanel.scala
  explore/src/main/scala/explore/constraints/TimingWindowsPanel.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
  explore/src/main/scala/explore/timingwindows/TimingWindowsPanel.scala
  hasura/user-prefs/metadata/backend_configs.yaml
  hasura/user-prefs/metadata/databases/default/tables/tables.yaml
  hasura/user-prefs/metadata/metrics_config.yaml
  hasura/user-prefs/metadata/opentelemetry.yaml
  hasura/user-prefs/migrations/default/1683649941418_drop_tmp_timing_windows/down.sql
  hasura/user-prefs/migrations/default/1683649941418_drop_tmp_timing_windows/up.sql
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObsSummary.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
  model/shared/src/main/scala/explore/model/TimingWindow.scala
  package-lock.json
  package.json
  project/Versions.scala
Labels: common, explore, model, model-testkit, common-queries

#2918 Request the itc data to use it when the mode has been selected
  common-queries/src/clue/scala/queries/common/ObsQueriesGQL.scala
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/itc/ItcPanelProps.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/model/OdbItcResult.scala
Labels: explore, model, common-queries

#2919 Populate cache beyond query limit
  common-queries/src/clue/scala/queries/common/AsterismQueriesGQL.scala
  common-queries/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  common/src/main/scala/explore/cache/ProgramCache.scala
  common/src/main/scala/explore/common/AsterismQueries.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
Labels: common, model, common-queries

#2922 Release ITC resource as soon as we have results
  common/src/main/scala/workers/WorkerClient.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcPanelProps.scala
Labels: common, explore

#2939 Actually show timing windows, log other twilights
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
Labels: explore

#2941 Support accepting multiple target's graphs
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcPanelProps.scala
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
  explore/src/main/scala/explore/tabs/ItcTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
Labels: explore, model, workers

#2944 Calculate the peak sn on the backend and accept sn @ wv for the graph
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcPanelProps.scala
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlotDescription.scala
  explore/src/main/scala/explore/itc/package.scala
  model/jvm/src/main/scala/explore/modes/ModesMatrixPlatform.scala
  model/jvm/src/main/scala/explore/modes/SpectroscopyModesMatrixPlatform.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/model/itc/ItcRequestParams.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  project/Versions.scala
  workers/src/main/scala/workers/ItcServer.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
Labels: explore, model, workers

#2948 Add groups to programCache and fix observations updates in obsList
  common-queries/src/clue/scala/queries/common/GroupQueriesGQL.scala
  common-queries/src/clue/scala/queries/common/ObsQueriesGQL.scala
  common-queries/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  common/src/main/scala/explore/cache/ProgramCache.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/ObsListTree.scala
  explore/src/main/scala/explore/observationtree/obsTree.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  model/shared/src/main/scala/explore/model/GroupElement.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/package.scala
Labels: common, explore, model, common-queries

#2946 Handle a particular case when the geometry is calculated and there is…
  explore/src/main/scala/explore/targeteditor/GmosGeometry.scala
Labels: explore

#2949 Show the brightness used to request the ITC graph
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcPanelProps.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlotDescription.scala
  model/shared/src/main/scala/explore/model/itc/ItcTarget.scala
Labels: explore, model

#2952 Allow vertical scrolling on the obs tree
  common/src/main/webapp/sass/explore.scss
Labels: common

#2951 Add Observation Attachments Table
  common-queries/src/clue/scala/queries/common/GroupQueriesGQL.scala
  common-queries/src/clue/scala/queries/common/ObsAttachmentSubquery.scala
  common-queries/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  common-queries/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  common-queries/src/clue/scala/queries/common/ProposalAttachmentSubquery.scala
  common/src/main/public/development.conf.json
  common/src/main/public/production.conf.json
  common/src/main/public/staging.conf.json
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/cache/ProgramCache.scala
  common/src/main/scala/explore/common/ProgramQueries.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/scala/explore/utils/OdbRestClient.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
  explore/src/main/scala/explore/tabs/OverviewTabContents.scala
  explore/src/main/scala/explore/tabs/package.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  model/shared/src/main/scala/explore/model/AppConfig.scala
  model/shared/src/main/scala/explore/model/ObsAttachment.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/ProposalAttachment.scala
  model/shared/src/main/scala/explore/model/enums/GridLayoutSection.scala
  project/Versions.scala
Labels: common, explore, model, common-queries

#2957 Keep group state when selecting observations (and between moving tabs)
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  model/shared/src/main/scala/explore/model/expandedIds.scala
  project/Versions.scala
Labels: common, explore, model

#2960 Fix some interactions where the exposure times gets reset accidentally
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcPanelProps.scala
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlotDescription.scala
  explore/src/main/scala/explore/tabs/ItcTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/model/BasicConfigAndItc.scala
  model/shared/src/main/scala/explore/model/OdbItcResult.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
Labels: common, explore, model

#2961 Show an extra decimal on the sn @ wv field
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  model/shared/src/main/scala/explore/model/ExploreModelValidators.scala
Labels: common, explore, model

#2965 Update prime react and fixes a couple of regressions on the forms
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
  package-lock.json
  package.json
Labels: common

#2962 Allow hiding/showing the obs tree
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TwoPanels.scala
Labels: common, explore

#2967 Small cosmetic changes
  .gitignore
  common/src/main/webapp/less/variables-dark.less
  common/src/main/webapp/less/variables-light.less
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Labels: skip-ch, common, explore

#2968 Revert to auto layout for sequence tables
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
  explore/src/main/scala/explore/config/sequence/VisitTable.scala
Labels: common, explore

#2970 Small last minute cosmetic changes
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/Routing.scala
Labels: common, explore

#2971 Fix obs summary
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
Labels: common, explore

#2972 Fix incongruencies when deleting timing windows
  explore/src/main/scala/explore/timingwindows/TimingWindowsPanel.scala
Labels: explore

#2973 Show/hide scheduling windows in plots
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AladinToolbar.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
  model/shared/src/main/scala/explore/model/ElevationPlotOptions.scala
  model/shared/src/main/scala/explore/model/UserGlobalPreferences.scala
  model/shared/src/main/scala/explore/model/enums/Visible.scala
Labels: common, explore, model

#2975 Clip the target name if too long and few other small improvements
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
Labels: common, explore

#2974 Ability to download attachments
  common/src/main/scala/explore/utils/OdbRestClient.scala
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
  project/Versions.scala
Labels: common, explore

#2980 Allow filtering of cacheable items, e.g. to not cache errors
  workers/src/main/scala/workers/Cache.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Labels: workers

#2981 Update attachments in ProgramCache on programEdit event
  common-queries/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  common/src/main/scala/explore/cache/ProgramCache.scala
Labels: common, common-queries

#2982 Update itc plot when conditions change
  common-queries/src/main/scala/queries/schemas/itc/syntax.scala
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
  explore/src/main/scala/explore/itc/ItcProps.scala
  explore/src/main/scala/explore/itc/package.scala
  explore/src/main/scala/explore/tabs/ItcTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/model/Constants.scala
  model/shared/src/main/scala/explore/model/OdbItcResult.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/itc/ItcRequestParams.scala
  model/shared/src/main/scala/explore/model/itc/ItcTarget.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  project/Versions.scala
  workers/src/main/scala/workers/ItcServer.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
Labels: explore, model, workers, common-queries

#2246 Compress data stored in indexed db via wasm-flate
  package-lock.json
  package.json
  vite.config.mjs
  workers/src/main/scala/workers/AgsServer.scala
  workers/src/main/scala/workers/Cache.scala
  workers/src/main/scala/workers/PlotServer.scala
  workers/src/main/scala/workers/compression.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Labels: workers

#2988 update highcharts
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
  package-lock.json
  package.json
  project/Versions.scala
Labels: common, explore

#2989 Display the correct single SN provided by the server
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlotDescription.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  project/Versions.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
Labels: explore, model, workers

#2990 Support unsetting SED
  common/src/main/scala/explore/model/enums/SEDType.scala
  explore/src/main/scala/explore/config/TargetImportPopup.scala
  explore/src/main/scala/explore/targeteditor/SpectralDefinitionEditor.scala
  explore/src/main/scala/explore/targets/TargetSearchResult.scala
  model/shared/src/main/scala/explore/model/Constants.scala
Labels: common, explore, model
