Repository gemini-hlsw/explore, pull requests merged in 2023-06, with the labels that each got.

#2995 Small graph ui improvements
  common/src/main/webapp/sass/charts.scss
Labels: common

#2997 Calculate ITC even if obs mode is not set
  explore/src/main/scala/explore/itc/ItcProps.scala
  package-lock.json
  package.json
  vite.config.mjs
  workers/src/main/scala/workers/AgsServer.scala
  workers/src/main/scala/workers/Cache.scala
  workers/src/main/scala/workers/PlotServer.scala
  workers/src/main/scala/workers/compression.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Labels: explore, workers

#2998 Setup a finder chart tile
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/Resources.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/main/webapp/images/NGC1055.jpg
  common/src/main/webapp/images/NGC1055.png
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/aladin.scala
  explore/src/main/scala/explore/tabs/FinderChartsTile.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/package.scala
  package-lock.json
  package.json
Labels: common, explore

#3000 Update ags when the selected target changes
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
Labels: explore

#3001 Fix calculation of interval in advanced config
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Labels: explore, model

#3018 Make resolution and interval not input fields
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
Labels: common, explore

#3017 Fix a subtle bug that makes the flip angles not to converge
  build.sbt
  common/src/main/scala/explore/model/ObsConfiguration.scala
  explore/src/main/scala/explore/config/PAConfigurationPanel.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  workers/src/main/scala/workers/AgsServer.scala
Labels: common, explore, workers

#3019 Support scrolling on the obs summary table
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
Labels: common, explore

#3021 Add support to clean the cache stores
  common/src/main/scala/explore/model/WorkerClients.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
  model/shared/src/main/scala/explore/events/AgsMessage.scala
  model/shared/src/main/scala/explore/events/CatalogMessage.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/events/PlotMessage.scala
  model/shared/src/main/scala/explore/model/boopickle/CommonPicklers.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  workers/src/main/scala/workers/AgsServer.scala
  workers/src/main/scala/workers/Cache.scala
  workers/src/main/scala/workers/CacheIDBStores.scala
  workers/src/main/scala/workers/CatalogServer.scala
  workers/src/main/scala/workers/ItcServer.scala
  workers/src/main/scala/workers/PlotServer.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Labels: common, explore, model, workers

#3022 Put program list in the cache and validate the program id in the URL.
  common-queries/src/clue/scala/queries/common/ProgramInfoSubquery.scala
  common-queries/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  common-queries/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  common/src/main/scala/explore/cache/ProgramCache.scala
  common/src/main/scala/explore/common/ProgramQueries.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/TopBar.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/programs/ProgramsPopup.scala
  model/shared/src/main/scala/explore/model/ProgramInfo.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/package.scala
Labels: common, explore, model, common-queries

#3024 Migrate to new sequence model
  common-queries/src/clue/scala/queries/common/GeneratedSequenceSQL.scala
  common-queries/src/clue/scala/queries/common/ManualSequenceGQL.scala
  common-queries/src/clue/scala/queries/common/ObsQueriesGQL.scala
  common-queries/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  common-queries/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceTables.scala
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceViewer.scala
  explore/src/main/scala/explore/config/sequence/GmosSequenceRow.scala
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
  explore/src/main/scala/explore/config/sequence/ManualSequenceTables.scala
  explore/src/main/scala/explore/config/sequence/SequenceEditor.scala
  model/shared/src/main/scala/explore/model/ExecutionOffsets.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
  model/shared/src/main/scala/explore/model/OdbItcResult.scala
  model/shared/src/main/scala/explore/model/ScienceRequirements.scala
  project/Versions.scala
Labels: common, explore, model, common-queries

#3025 Properly assign shortcut
  explore/src/main/scala/explore/shortcuts.scala
Labels: explore

#3026 Render actual guiding in sequence
  explore/src/main/scala/explore/config/sequence/GmosSequenceRow.scala
Labels: explore

#3028 Alternate sorting strategy
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
Labels: explore

#3023 Better sorting of the modes table
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  package-lock.json
  package.json
Labels: common, explore

#3032 Support itc errors with multiple lines
  common/src/main/webapp/sass/tooltips.scss
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
Labels: common, explore

#3043 Read the configuration location dynamically
  common/src/main/scala/explore/utils/OdbRestClient.scala
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
  model/shared/src/main/scala/explore/model/AppConfig.scala
  vite.config.mjs
  workers/src/main/scala/workers/ItcServer.scala
Labels: common, explore, model, workers

#3045 Remove queries subproject
  .mergify.yml
  .scalafix.conf
  build.sbt
  common/src/clue/resources/SSO.graphql
  common/src/clue/resources/UserPreferencesDB.graphql
  common/src/clue/scala/queries/common/AsterismQueriesGQL.scala
  common/src/clue/scala/queries/common/GeneratedSequenceSQL.scala
  common/src/clue/scala/queries/common/GroupQueriesGQL.scala
  common/src/clue/scala/queries/common/ObsAttachmentSubquery.scala
  common/src/clue/scala/queries/common/ObsQueriesGQL.scala
  common/src/clue/scala/queries/common/ObservationSummarySubquery.scala
  common/src/clue/scala/queries/common/ProgramInfoSubquery.scala
  common/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  common/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  common/src/clue/scala/queries/common/ProposalAttachmentSubquery.scala
  common/src/clue/scala/queries/common/SSOQueriesGQL.scala
  common/src/clue/scala/queries/common/TargetQueriesGQL.scala
  common/src/clue/scala/queries/common/UserPreferencesQueriesGQL.scala
  common/src/clue/scala/queries/common/VisitsSQL.scala
  common/src/clue/scala/queries/schemas/SSO.scala
  common/src/clue/scala/queries/schemas/UserPreferencesDB.scala
  common/src/main/scala/queries/schemas/odb/ObsQueries.scala
  model/shared/src/main/scala/queries/schemas/itc/syntax.scala
Labels: common, model

#3046 Support local.conf.json again.
  model/shared/src/main/scala/explore/model/AppConfig.scala
  vite.config.mjs
Labels: model

#3057 Fix selecting new observation resetting scroll position and scroll to new observations
  explore/src/main/scala/explore/observationtree/ObsList.scala
Labels: explore

#3058 Support multiple finder charts
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/Resources.scala
  common/src/main/scala/explore/components/state/ConnectionManager.scala
  common/src/main/scala/explore/components/state/SolarProgress.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/main/webapp/images/NGC1055.jpg
  common/src/main/webapp/images/NGC1055.png
  common/src/main/webapp/less/variables-dark.less
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
  explore/src/main/scala/explore/attachments/package.scala
  explore/src/main/scala/explore/findercharts/AttachmentsOverlay.scala
  explore/src/main/scala/explore/findercharts/ControlOverlay.scala
  explore/src/main/scala/explore/findercharts/FinderCharts.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/tabs/FinderChartsTile.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Labels: common, explore

#3065 Simplify logic
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Labels: explore

#3060 Add `switching` View bracket utility extension
  common/src/main/scala/explore/syntax/ui/package.scala
  common/src/test/scala/explore/syntax/ui/SwitchingSpec.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
Labels: common, explore

#3077 Small user prefs migration
  common/src/clue/resources/UserPreferencesDB.graphql
  common/src/clue/scala/queries/schemas/UserPreferencesDB.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  fetchUserPreferencesSchema.sh
  hasura/user-prefs/metadata/databases/default/tables/public_exploreChartType.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_exploreTargetPreferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaGridBreakpointName.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaItcPlotPreferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaObservation.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaTarget.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaUserPreferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/tables.yaml
  hasura/user-prefs/migrations/default/1687885000365_remove_chart_type/down.sql
  hasura/user-prefs/migrations/default/1687885000365_remove_chart_type/up.sql
  hasura/user-prefs/migrations/default/1687885692538_remove_breakpoint_name_type/down.sql
  hasura/user-prefs/migrations/default/1687885692538_remove_breakpoint_name_type/up.sql
  model/shared/src/main/scala/explore/model/enums/GridBreakpointName.scala
Labels: common, model

#3049 Vite build improvements
  build.mjs
  build.sbt
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/ExplorePWA.scala
  explore/src/main/webapp/catalogworker.js
  explore/src/main/webapp/itcworker.js
  explore/src/main/webapp/main.jsx
  explore/src/main/webapp/plotworker.js
  package.json
  vite.config.mjs
Labels: explore

#3088 Go to obs url on attachment table
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
Labels: explore

#3090 Migrate methods away
  common/src/main/scala/explore/givens.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  project/Versions.scala
Labels: common, explore

#3089 Show a tooltip at each candidate star
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/visualization/GuideStarTarget.scala
  explore/src/main/scala/explore/visualization/SVGTooltip.scala
  explore/src/main/scala/explore/visualization/TargetsOverlay.scala
Labels: common, explore
