Repository gemini-hlsw/explore, pull requests merged in 2023-02, with the labels that each got.

#2660 Changes to config workflow, itc graphs for modes table, fix broken tabs
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  common-graphql/src/main/scala/queries/common/AsterismQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/ConstraintGroupQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/ObsQueriesGQL.scala
  common/src/main/scala/explore/common/ScienceConversions.scala
  common/src/main/scala/explore/model/ObsConfiguration.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcPanelProps.scala
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/tabs/ItcTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  explore/src/main/scala/explore/targeteditor/GmosGeometry.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbBasicConfiguration.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObsSummary.scala
  model/shared/src/main/scala/explore/model/BasicConfigAndItc.scala
  model/shared/src/main/scala/explore/model/BasicConfiguration.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
  model/shared/src/main/scala/explore/model/ScienceMode.scala
  model/shared/src/main/scala/explore/model/ScienceModeInitial.scala
  vite.config.mjs
Labels: common, common-graphql, explore, model, model-testkit

#2663 Target edit subscription
  common-graphql/src/main/scala/queries/common/TargetQueriesGQL.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Labels: common-graphql, explore

#2664 Add debug info for moon brightness, fix (c) year
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  model-testkit/shared/src/main/scala/explore/boopickle/package.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbAsterism.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbConstraintsSummary.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbKeyedIndexedList.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbKeyedIndexedTree.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObsIdSet.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObsSummary.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbScienceMode.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbScienceModeAdvanced.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbScienceModeBasic.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbTargetSummary.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbTargetVisualOptions.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbTree.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbUserVault.scala
  model-testkit/shared/src/main/scala/explore/model/arb/CogenUUID.scala
  model-testkit/shared/src/main/scala/explore/model/arb/package.scala
  model-testkit/shared/src/main/scala/explore/optics/AdjusterLaws.scala
  model-testkit/shared/src/main/scala/explore/optics/AdjusterTests.scala
Labels: explore, model-testkit

#2665 Sort the target tree by name
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
Labels: explore

#2682 Improve dithers and offsets editing
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
Labels: explore

#2683 Fix test
  model-tests/shared/src/test/scala/explore/model/ExploreModelValidatorsSuite.scala
Labels: model-tests

#2685 Temporary fix for the odb not accepting empty lists for partnerSplits
  common-queries/src/main/scala/queries/schemas/odb/ODBConversions.scala
Labels: common-queries

#2684 Point staging to new postgres odb
  common/src/main/public/staging.conf.json
Labels: common

#2688 More configuration editing improvements
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
Labels: explore

#2689 Fix decimals in dithers control
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  model-tests/shared/src/test/scala/explore/model/ExploreModelValidatorsSuite.scala
  model/shared/src/main/scala/explore/model/ExploreModelValidators.scala
Labels: explore, model, model-tests

#2692 New lucuma-core and lucuma-ui
  common-queries/src/main/scala/queries/schemas/itc/ITCConversions.scala
  common-queries/src/main/scala/queries/schemas/odb/ODBConversions.scala
  common/src/main/scala/explore/common/AsterismQueries.scala
  common/src/main/scala/explore/common/ConstraintGroupQueries.scala
  common/src/main/scala/explore/common/ProgramQueries.scala
  common/src/main/scala/explore/components/TileController.scala
  common/src/main/scala/explore/model/RoutingInfo.scala
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
  explore/src/main/scala/explore/constraints/ConstraintsPanel.scala
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTable.scala
  explore/src/main/scala/explore/constraints/TimingWindowsPanel.scala
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/BrightnessesEditor.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  explore/src/main/scala/explore/targeteditor/EmissionLineEditor.scala
  explore/src/main/scala/explore/targeteditor/SearchForm.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/SourceProfileEditor.scala
  explore/src/main/scala/explore/targeteditor/SpectralDefinitionEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  explore/src/main/scala/explore/visualization/TargetsOverlay.scala
  model-tests/shared/src/test/scala/explore/model/ExploreModelValidatorsSuite.scala
  model/shared/src/main/scala/explore/model/ExploreModelValidators.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/itc/ItcTarget.scala
  project/Settings.scala
Labels: common, explore, model, model-tests, common-queries

#2696 Newtypes and refinements in core
  common-queries/src/main/scala/queries/schemas/itc/ITCConversions.scala
  common-queries/src/main/scala/queries/schemas/odb/ODBConversions.scala
  common/src/main/scala/explore/model/enums/SEDType.scala
  explore/src/main/scala/explore/targeteditor/EmissionLineEditor.scala
  explore/src/main/scala/explore/targeteditor/SpectralDefinitionEditor.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  project/Settings.scala
Labels: common, explore, model, common-queries

#2693 Fix `offsetQNelValidWedge`
  model/shared/src/main/scala/explore/model/ExploreModelValidators.scala
Labels: model

#2699 Subqueries
  build.sbt
  common-graphql/src/main/scala/queries/common/AsterismQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/ConstraintGroupQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/GeneratedSequenceSQL.scala
  common-graphql/src/main/scala/queries/common/ManualSequenceGQL.scala
  common-graphql/src/main/scala/queries/common/ObsQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/ProgramQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/TargetQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/VisitsSQL.scala
  common-graphql/src/main/scala/queries/schema/UserPreferencesDB.scala
  common-queries/src/main/scala/queries/schemas/itc/ITCConversions.scala
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  common/src/main/scala/explore/common/AsterismQueries.scala
  common/src/main/scala/explore/common/ConstraintGroupQueries.scala
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/AsterismModifier.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/TargetSearchResult.scala
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbAsterism.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbConstraintsSummary.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObsSummary.scala
  model-testkit/shared/src/main/scala/explore/model/arb/package.scala
  model-tests/shared/src/test/scala/explore/model/AsterismSuite.scala
  model-tests/shared/src/test/scala/explore/model/ConstraintsSummarySuite.scala
  model-tests/shared/src/test/scala/explore/model/WithIdSuite.scala
  model/shared/src/main/scala/explore/model/Asterism.scala
  model/shared/src/main/scala/explore/model/BasicConfiguration.scala
  model/shared/src/main/scala/explore/model/ConstraintGroup.scala
  model/shared/src/main/scala/explore/model/ConstraintsSummary.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
  model/shared/src/main/scala/explore/model/OdbItcResult.scala
  model/shared/src/main/scala/explore/model/ScienceMode.scala
  model/shared/src/main/scala/explore/model/TargetWithId.scala
  model/shared/src/main/scala/explore/model/TargetWithObs.scala
  package-lock.json
  project/Settings.scala
Labels: common, common-graphql, explore, model, model-testkit, model-tests, common-queries

#2703 Update lucuma-react/lucuma-ui
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  common/src/main/scala/explore/components/undo/UndoButtons.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTable.scala
  explore/src/main/scala/explore/constraints/TimingWindowsPanel.scala
  explore/src/main/scala/explore/highcharts.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/targeteditor/BrightnessesEditor.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
  explore/src/main/scala/explore/targeteditor/EmissionLineEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  project/Settings.scala
Labels: common, explore

#2706 More subqueries and renames
  common-graphql/src/main/scala/queries/common/AsterismQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/ConstraintGroupQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/ObsQueriesGQL.scala
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  common/src/main/scala/explore/common/ScienceConversions.scala
  common/src/main/scala/explore/common/ScienceQueries.scala
  common/src/main/scala/explore/model/ObsConfiguration.scala
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcPanelProps.scala
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
  explore/src/main/scala/explore/itc/ItcResultsCache.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ItcTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  explore/src/main/scala/explore/targeteditor/GmosGeometry.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbBasicConfiguration.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObsSummary.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbScienceMode.scala
  model-tests/jvm/src/test/scala/explore/modes/ModesSuite.scala
  model-tests/shared/src/test/scala/explore/optics/OpticsSuite.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/model/BasicConfigAndItc.scala
  model/shared/src/main/scala/explore/model/BasicConfiguration.scala
  model/shared/src/main/scala/explore/model/ExploreModelValidators.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
  model/shared/src/main/scala/explore/model/ScienceMode.scala
  model/shared/src/main/scala/explore/model/boopickle/CommonPicklers.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/itc/ItcRequestParams.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  model/shared/src/main/scala/explore/modes/package.scala
  project/Settings.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Labels: common, common-graphql, explore, model, model-testkit, model-tests, workers, common-queries

#2707 Add `?` as alternative key for shortcuts help
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/shortcuts.scala
Labels: explore

#2711 Fix problem of ITC not being called for spectroscopy modes table.
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
Labels: explore

#2712 Wait for ITC before allowing config creation. More messages.
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcPanelProps.scala
  model/shared/src/main/scala/explore/model/BasicConfigAndItc.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
Labels: explore, model

#2717 Fix scrolling issues with spectroscopy table when sorted.
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
Labels: explore

#2721 Update scalajs-dom
  explore/src/main/scala/explore/TopBar.scala
  project/Settings.scala
Labels: explore

#2723 Update lucuma-ui and use table reusability from there
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  project/Settings.scala
Labels: explore

#2725 PM correct the base target of asterisms
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  model/shared/src/main/scala/explore/model/Asterism.scala
Labels: explore, model

#2726 Paint visualization time in night plot
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
Labels: common, explore

#2727 Fix scrollTo of spectroscopy modes table.
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
Labels: explore

#2728 Display catalog object info in target editor
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/SourceProfileEditor.scala
  explore/src/main/scala/explore/targeteditor/SpectralDefinitionEditor.scala
  model/shared/src/main/scala/explore/model/display.scala
Labels: explore, model

#2729 Use custom zoom buttons on the search aladin control
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/aladin.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbTargetVisualOptions.scala
  model/shared/src/main/scala/explore/model/TargetVisualOptions.scala
  model/shared/src/main/scala/explore/model/newtypes.scala
Labels: common, explore, model, model-testkit

#2733 Fix brightness table in grid
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/SpectralDefinitionEditor.scala
Labels: common, explore

#2731 In modes table, handle case of no brightnesses
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcResultsCache.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
Labels: explore, model

#2735 Move average parallactic calculation to core
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/targeteditor/AgsOverlay.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  model/shared/src/main/scala/explore/events/CatalogMessage.scala
  model/shared/src/main/scala/explore/model/Asterism.scala
  model/shared/src/main/scala/explore/model/AverageParallactic.scala
  model/shared/src/main/scala/explore/model/ObjectTracking.scala
  model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  project/Settings.scala
Labels: common, explore, model

#2737 Fix bug when deleting last target from asterism on target tab
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Labels: explore

#2719 Show date in semester plot
  common/src/main/scala/explore/components/FormStaticData.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/charts.scss
  common/src/main/webapp/sass/datepicker.scss
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
  model/shared/src/main/scala/explore/model/ElevationPlotOptions.scala
  model/shared/src/main/scala/explore/model/display.scala
Labels: common, explore, model

#2738 Use localStorage for copy/paste of targets/observations
  common/src/main/scala/explore/model/AppContext.scala
  common/src/main/scala/explore/model/ExploreClipboard.scala
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  model/shared/src/main/scala/explore/model/TargetIdSet.scala
Labels: common, explore, model

#2742 Update to vite 4
  .bundlemonrc.json
  common/src/main/webapp/sass/explore.scss
  package-lock.json
  package.json
  vite.config.mjs
Labels: common

#2743 Properly pm correct for 1-arity asterisms
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
  model/shared/src/main/scala/explore/model/ElevationPlotOptions.scala
  model/shared/src/main/scala/explore/model/package.scala
Labels: explore, model

#2746 Timing windows in plot
  common/src/main/scala/explore/common/TimingWindowQueries.scala
  common/src/main/webapp/less/variables-dark.less
  common/src/main/webapp/less/variables-light.less
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/constraints/TimingWindowsPanel.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
  model/shared/src/main/scala/explore/model/ElevationPlotOptions.scala
  model/shared/src/main/scala/explore/model/TimingWindow.scala
Labels: common, explore, model

#2752 Aladin target overlay using proper motion
  common-graphql/src/main/resources/graphql/schemas/UserPreferencesDB.graphql
  common-graphql/src/main/scala/queries/common/UserPreferencesQueriesGQL.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/charts.scss
  common/src/main/webapp/sass/explore.scss
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/visualization/CrossTarget.scala
  explore/src/main/scala/explore/visualization/OffsetSVG.scala
  explore/src/main/scala/explore/visualization/SVGTooltip.scala
  explore/src/main/scala/explore/visualization/TargetsOverlay.scala
  hasura/user-prefs/migrations/default/1677515714074_offset_preferences/down.sql
  hasura/user-prefs/migrations/default/1677515714074_offset_preferences/up.sql
  model-testkit/shared/src/main/scala/explore/model/arb/ArbTargetVisualOptions.scala
  model/shared/src/main/scala/explore/model/TargetVisualOptions.scala
  workers/src/main/scala/workers/AgsServer.scala
Labels: common, common-graphql, explore, model, model-testkit, workers

#2756 Small ui fixes
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/programs/ProgramTable.scala
Labels: common, explore

#2757 Quick fix for the ODB change to the itc query
  common-graphql/src/main/scala/queries/common/ObsQueriesGQL.scala
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
Labels: common-graphql, common-queries

#2758 Prevent reload when clicking on the constraints summary
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTable.scala
Labels: explore
