Repository gemini-hlsw/explore, pull requests merged in 2023-01, with the labels that each got.

#2576 More prime migration
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/config/sequence/ManualSequenceTables.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
Labels: common, explore

#2583 Minor cleanup items for recent PRs.
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/ImagingConfigurationPanel.scala
  explore/src/main/scala/explore/targeteditor/SearchForm.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
Labels: common, explore

#2527 Limit asterism table height (with scrollbars).
  common/src/main/webapp/sass/explore.scss
Labels: common

#2585 Support unconstrained and parallactic override modes
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/ObsConfiguration.scala
  common/src/main/scala/explore/model/PAProperties.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/PAConfigurationPanel.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
Labels: common, explore

#2588 Set the selected tab depending on the route
  explore/src/main/scala/explore/SideTabs.scala
Labels: explore

#2590 Remove methods on lucuma-catalog
  common/src/main/scala/explore/model/ObsConfiguration.scala
  common/src/main/scala/explore/model/PAProperties.scala
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/config/PAConfigurationPanel.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  project/Settings.scala
Labels: common, explore

#2591 Dont have padding on the brightness table
  common/src/main/webapp/sass/explore.scss
Labels: common

#2601 Fixes a bug refreshing the coordinates
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
Labels: explore

#2609 Core update
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/ImagingConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  model-tests/jvm/src/test/scala/explore/modes/ModesSuite.scala
  model/shared/src/main/scala/explore/model/ImagingConfigurationOptions.scala
  model/shared/src/main/scala/explore/model/boopickle/CommonPicklers.scala
  model/shared/src/main/scala/explore/model/formats.scala
  model/shared/src/main/scala/explore/modes/ModesMatrix.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  model/shared/src/main/scala/explore/modes/package.scala
  project/Settings.scala
  workers/src/main/scala/workers/AgsServer.scala
  workers/src/main/scala/workers/CatalogCache.scala
Labels: explore, model, model-tests, workers

#2600 Replace last SUI component and remove lucuma-react-semantic-ui
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/syntax/ui/package.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ImagingConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/config/sequence/SequenceEditorPopup.scala
  explore/src/main/scala/explore/constraints/ConstraintsPanel.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  explore/src/main/webapp/main.jsx
  package-lock.json
  package.json
  project/Settings.scala
Labels: common, explore

#2612 Small fixes for safari
  common/src/main/webapp/less/vendor/react-resizable.less
  common/src/main/webapp/sass/visualization.scss
Labels: common

#2617 Launcher improvemnts and better detection of ctrl key
  common/src/main/scala/react/hotkeys/package.scala
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/ExplorePWA.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  explore/src/main/webapp/main.jsx
Labels: common, explore

#2618 Rework the way shortcuts are built
  common/src/main/scala/react/hotkeys/package.scala
  explore/src/main/scala/explore/shortcuts.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Labels: common, explore

#2619 Show a toast on pasting
  common-queries/src/main/scala/queries/schemas/itc/ITCConversions.scala
  common-queries/src/main/scala/queries/schemas/odb/ODBConversions.scala
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Labels: explore, common-queries

#2628 Support copy paste observation as equivalent to duplicate
  common/src/main/scala/explore/utils/package.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/ObsListActions.scala
  explore/src/main/scala/explore/observationtree/ViewCommon.scala
  explore/src/main/scala/explore/observationtree/obsTree.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Labels: common, explore

#2645 First try at calculating the average parallactic angle for AGS
  common/src/main/scala/explore/model/ObsConfiguration.scala
  explore/src/main/scala/explore/config/PAConfigurationPanel.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  model/shared/src/main/scala/explore/model/AverageParallactic.scala
Labels: common, explore, model

#2647 Detect avg paralactic angle changes
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
Labels: explore

#2649 Average should allow a 180 flip
  model/shared/src/main/scala/explore/model/AverageParallactic.scala
Labels: model

#2655 Some fixes on when to display average parallactic changes
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/config/PAConfigurationPanel.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
Labels: common, explore
