Repository gemini-hlsw/explore, pull requests merged in 2023-04, with the labels that each got.

#2846 Update ITC and ODB schemas
  common-graphql/src/main/resources/graphql/schemas/ITC.graphql
  common-graphql/src/main/scala/queries/schema/ITC.scala
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  common/src/main/public/development.conf.json
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/config/ExposureTimeModeType.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcPanelProps.scala
  explore/src/main/scala/explore/itc/ItcResultsCache.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/model/ExploreModelValidators.scala
  model/shared/src/main/scala/explore/model/ImagingConfigurationOptions.scala
  model/shared/src/main/scala/explore/model/boopickle/CommonPicklers.scala
  model/shared/src/main/scala/explore/model/itc/ItcRequestParams.scala
  project/Settings.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Labels: common, common-graphql, explore, model, workers, common-queries

#2852 Reinstate target auto-selection when showing an asterism
  common/src/main/scala/explore/TODO.md
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
Labels: common, explore

#2853 Migrate to new clue with simpler types
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  common/src/main/scala/explore/common/AsterismQueries.scala
  common/src/main/scala/explore/common/ConstraintsQueries.scala
  common/src/main/scala/explore/common/ProgramQueries.scala
  common/src/main/scala/explore/common/ScienceQueries.scala
  common/src/main/scala/explore/common/TargetQueries.scala
  common/src/main/scala/explore/common/TimingWindowQueries.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  common/src/main/scala/explore/components/TileController.scala
  common/src/main/scala/explore/components/state/IfLogged.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/TargetImportPopup.scala
  explore/src/main/scala/explore/constraints/TimingWindowsPanel.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsListActions.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/AsterismModifier.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/ObservationInsertAction.scala
  explore/src/main/scala/explore/targets/ObservationPasteAction.scala
  explore/src/main/scala/explore/targets/TargetAddDeleteActions.scala
  explore/src/main/scala/explore/targets/TargetPasteAction.scala
  explore/src/main/scala/explore/targets/TargetSource.scala
  project/Settings.scala
  workers/src/main/scala/workers/ItcServer.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Labels: common, explore, workers, common-queries

#2856 Fixes to previous cache refactor
  common/src/main/scala/explore/TODO.md
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/targets/ObservationInsertAction.scala
  explore/src/main/scala/explore/targets/ObservationPasteAction.scala
  model/shared/src/main/scala/explore/data/KeyedIndexedList.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
Labels: common, explore, model

#2862 Auto-expanding of groups reinstated
  .gitignore
  common/src/main/scala/explore/TODO.md
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTable.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsListActions.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  model/shared/src/main/scala/explore/model/ObsIdSet.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
  vite.config.mjs
Labels: common, explore, model

#2864 Show the intersection of patrols fields at each offset
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/GmosGeometry.scala
  explore/src/main/scala/explore/visualization/VisualizationOverlay.scala
  project/Settings.scala
  workers/src/main/scala/workers/CatalogCache.scala
Labels: common, explore, workers

#2871 Small touches to the patrol field display
  common/src/main/webapp/sass/visualization.scss
Labels: common

#2877 Update ags logic and add a default 0 offset for ags calculations
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/GmosGeometry.scala
  project/Versions.scala
  workers/src/main/scala/workers/AgsServer.scala
Labels: explore, workers

#2886 Allow using SmallestModulesFor
  build.sbt
  common/src/main/scala/explore/components/state/ConnectionManager.scala
  common/src/main/scala/explore/model/userVault.scala
  common/src/main/scala/explore/syntax/ui/package.scala
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
Labels: common, explore

#2887 Use the new ITC api
  common-queries/src/clue/resources/ITC.graphql
  common-queries/src/clue/scala/queries/common/ITCQueriesGQL.scala
  common-queries/src/main/scala/queries/schemas/itc/ITCConversions.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Labels: common, explore, model, workers, common-queries

#2893 Core update
  model/shared/src/main/scala/explore/model/ExploreModelValidators.scala
  project/Versions.scala
Labels: model
