Repository gemini-hlsw/explore, pull requests merged in 2023-07, with the labels that each got.

#3093 Move the attachment selector to the toolbar
  common/src/main/scala/explore/components/Tile.scala
  common/src/main/scala/explore/components/TileController.scala
  common/src/main/scala/explore/components/state/ConnectionManager.scala
  common/src/main/scala/explore/components/state/SolarProgress.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
  explore/src/main/scala/explore/attachments/package.scala
  explore/src/main/scala/explore/findercharts/AttachmentsOverlay.scala
  explore/src/main/scala/explore/findercharts/FinderCharts.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/tabs/FinderChartsTile.scala
  explore/src/main/scala/explore/tabs/ItcTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
Labels: common, explore

#3097 Remove some facades moved to lucuma-react
  common/src/main/scala/react/hotkeys/hooks.scala
  common/src/main/scala/react/hotkeys/package.scala
  common/src/main/scala/react/markdown/ReactMarkdown.scala
  project/Dependencies.scala
  project/Versions.scala
Labels: common

#3099 Extract sequence query, update sbt-lucuma, clue
  .github/workflows/ci.yml
  .mergify.yml
  .scalafmt-common.conf
  build.sbt
  common/src/clue/scala/queries/common/GeneratedSequenceSQL.scala
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceViewer.scala
  project/Versions.scala
Labels: common, explore

#3100 Add control to link attachments
  common/src/main/webapp/sass/common.scss
  common/src/main/webapp/sass/explore.scss
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/findercharts/AttachmentsOverlay.scala
  explore/src/main/scala/explore/findercharts/FinderChartLinker.scala
  explore/src/main/scala/explore/findercharts/FinderCharts.scala
Labels: common, explore

#3101 Small ui fix to the chart selector
  explore/src/main/scala/explore/findercharts/FinderCharts.scala
Labels: explore

#3104 Update ags and fix a bug that produced too many unusable results
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AgsOverlay.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/visualization/GuideStarTarget.scala
  project/Versions.scala
  workers/src/main/scala/workers/AgsServer.scala
Labels: common, explore, workers

#3105 Show a warning if we don't have enough information to run AGS
  explore/src/main/scala/explore/targeteditor/AgsOverlay.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  model/shared/src/main/scala/explore/model/Constants.scala
Labels: explore, model

#3107 Show the finder chart selector even when the tile is closed
  common/src/main/scala/explore/components/Tile.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/attachments/package.scala
  explore/src/main/scala/explore/findercharts/FinderCharts.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/FinderChartsTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/model/enums/TileSizeState.scala
Labels: common, explore, model

#3108 Put the back button on the first tile always
  common/src/main/scala/explore/components/Tile.scala
  common/src/main/scala/explore/components/TileController.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Labels: common, explore

#3109 Require signal to noise at to call ITC
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcProps.scala
  explore/src/main/scala/explore/itc/ItcResultsCache.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/itc/ItcRequestParams.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Labels: explore, model, workers

#3110 Implement cache for user preferences
  common/src/clue/scala/queries/common/UserPreferencesQueriesGQL.scala
  common/src/main/scala/explore/cache/PreferencesCache.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  common/src/main/scala/explore/components/TileController.scala
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  common/src/main/scala/explore/model/RootModel.scala
  common/src/main/scala/explore/model/UserPreferences.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/tabs/FinderChartsTile.scala
  explore/src/main/scala/explore/tabs/ItcTile.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/OverviewTabContents.scala
  explore/src/main/scala/explore/tabs/SchedulingTabContents.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  model/shared/src/main/scala/explore/model/TileIds.scala
Labels: common, explore, model

#3119 Fix configuration input selection not sticking during input changes
  common/src/main/scala/explore/syntax/ui/package.scala
  common/src/test/scala/explore/syntax/ui/SwitchingSpec.scala
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
  explore/src/main/scala/explore/attachments/package.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/shortcuts.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Labels: common, explore

#3112 Replace react-moon
  common/src/main/scala/explore/components/MoonPhase.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/moon.scss
  common/src/main/webapp/sass/solar-system.scss
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/webapp/main.jsx
  package-lock.json
  package.json
  project/Dependencies.scala
Labels: common, explore

#3125 Switch to the moon component in lucuma-ui
  common/src/main/public/environments.conf.json
  common/src/main/scala/explore/components/MoonPhase.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/moon.scss
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/webapp/main.jsx
  project/Versions.scala
Labels: common, explore

#3124 Correctly handle if getElementById returns null
  explore/src/main/scala/explore/observationtree/ObsList.scala
Labels: explore

#3127 Add control to switch between roles
  common/src/main/scala/explore/cache/ProgramCache.scala
  common/src/main/scala/explore/common/SSOClient.scala
  common/src/main/scala/explore/components/ConnectionsStatus.scala
  common/src/main/scala/explore/model/RootModel.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/RoleSwitch.scala
  explore/src/main/scala/explore/TopBar.scala
  model/shared/src/main/scala/explore/model/UserVault.scala
Labels: common, explore, model

#3131 Improve saving/restoring of tile layouts in user preferences
  common/src/clue/scala/queries/common/UserPreferencesQueriesGQL.scala
  common/src/main/scala/explore/cache/PreferencesCache.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  common/src/main/scala/explore/components/TileController.scala
  common/src/main/scala/explore/model/layout.scala
  common/src/test/scala/explore/model/LayoutSuite.scala
  project/Versions.scala
Labels: common

#3136 Add empty programs tab
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  common/src/main/scala/explore/model/RoutingInfo.scala
  common/src/main/scala/explore/model/UserPreferences.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/SideTabs.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
  hasura/user-prefs/migrations/default/1689609477616_insert_into_public_lucumaGridLayoutId/down.sql
  hasura/user-prefs/migrations/default/1689609477616_insert_into_public_lucumaGridLayoutId/up.sql
  model/shared/src/main/scala/explore/model/Page.scala
  model/shared/src/main/scala/explore/model/TileIds.scala
  model/shared/src/main/scala/explore/model/enums/AppTab.scala
  model/shared/src/main/scala/explore/model/enums/GridLayoutSection.scala
Labels: common, explore, model

#3142 Move SSO and state classes to lucuma-ui
  build.sbt
  common/src/main/scala/explore/common/SSOClient.scala
  common/src/main/scala/explore/components/UserSelectionForm.scala
  common/src/main/scala/explore/components/state/ConnectionManager.scala
  common/src/main/scala/explore/components/state/IfLogged.scala
  common/src/main/scala/explore/components/state/LogoutTracker.scala
  common/src/main/scala/explore/components/state/SSOManager.scala
  common/src/main/scala/explore/model/AppConfig.scala
  common/src/main/scala/explore/model/AppContext.scala
  common/src/main/scala/explore/model/RootModel.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/scala/explore/syntax/ui/package.scala
  common/src/main/scala/workers/WorkerClient.scala
  common/src/test/scala/explore/model/arb/ArbRootModel.scala
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/RoleSwitch.scala
  explore/src/main/scala/explore/TopBar.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/OverviewTabContents.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbUserVault.scala
  model-testkit/shared/src/main/scala/explore/model/arb/package.scala
  model-tests/shared/src/test/scala/explore/model/ModelSuite.scala
  model/js/src/main/scala/explore/events/package.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/model/UserVault.scala
  project/Dependencies.scala
  project/Versions.scala
  workers/src/main/scala/workers/ItcServer.scala
  workers/src/main/scala/workers/RetryHelpers.scala
  workers/src/main/scala/workers/StaticData.scala
Labels: common, explore, model, model-testkit, model-tests, workers

#3144 Remove `Pot.fromOption(userVault)` in overview tab
  explore/src/main/scala/explore/tabs/OverviewTabContents.scala
Labels: explore

#3145 Extract more components to lucuma-ui
  build.sbt
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/Resources.scala
  common/src/main/scala/explore/components/About.scala
  common/src/main/scala/explore/components/ExploreCopy.scala
  common/src/main/scala/explore/components/Logo.scala
  common/src/main/scala/explore/components/UserSelectionForm.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/AppConfig.scala
  common/src/main/scala/explore/model/AppContext.scala
  common/src/main/scala/explore/utils/OdbRestClient.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/main/webapp/images/ORCID-iD_icon-vector.svg
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore-primereact.scss
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/TopBar.scala
  explore/src/main/scala/explore/attachments/package.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/ImagingConfigurationPanel.scala
  explore/src/main/scala/explore/config/PAConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/config/sequence/SequenceEditorPopup.scala
  explore/src/main/scala/explore/itc/ItcPlotControl.scala
  explore/src/main/scala/explore/programs/ProgramsPopup.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  explore/src/main/scala/explore/targeteditor/RVInput.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/SourceProfileEditor.scala
  explore/src/main/scala/explore/targeteditor/SpectralDefinitionEditor.scala
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  explore/src/main/scala/explore/timingwindows/TimingWindowsPanel.scala
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
  explore/src/main/webapp/main.jsx
  model/shared/src/main/scala/explore/model/enums/ExecutionEnvironment.scala
  project/Dependencies.scala
  project/Versions.scala
Labels: common, explore, model

#3148 Move global user preferences to the cache
  .prettierignore
  common/src/clue/resources/UserPreferencesDB.graphql
  common/src/clue/scala/queries/common/UserPreferencesQueriesGQL.scala
  common/src/main/scala/explore/cache/PreferencesCache.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  common/src/main/scala/explore/model/UserPreferences.scala
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/aladin.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  hasura/user-prefs/metadata/databases/databases.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_exploreTargetPreferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaItcPlotPreferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaObservation.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaTarget.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaUserPreferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/tables.yaml
  hasura/user-prefs/migrations/default/1690041757694_global_preferences/down.sql
  hasura/user-prefs/migrations/default/1690041757694_global_preferences/up.sql
  model/shared/src/main/scala/explore/model/GlobalPreferences.scala
  model/shared/src/main/scala/explore/model/UserGlobalPreferences.scala
Labels: common, explore, model

#3153 Extract common styles to lucuma-ui
  common/src/main/webapp/sass/common.scss
  common/src/main/webapp/sass/explore-common.scss
  common/src/main/webapp/sass/explore-primereact.scss
  common/src/main/webapp/sass/explore.scss
  common/src/main/webapp/sass/visualization.scss
  project/Versions.scala
Labels: common

#3155 Bump lucuma-ui, externalize login message
  explore/src/main/scala/explore/ExploreLayout.scala
  project/Versions.scala
Labels: explore

#3160 Update lucuma-catalog to 0.42.0
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  project/Versions.scala
  workers/src/main/scala/workers/AgsServer.scala
Labels: explore, workers

#3164 Update dependencies and update for the changes to the sequence in ODB
  common/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceViewer.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  project/Versions.scala
Labels: common, explore
