Repository gemini-hlsw/explore, pull requests merged in 2023-10, with the labels that each got.

#3319 Remove deprecated field on ObservationEditSubscription
  explore/src/clue/scala/queries/common/ObsQueriesGQL.scala
Labels: explore

#3328 Switch to Unfonts
  explore/src/main/webapp/main.jsx
  package-lock.json
  package.json
  vite.config.mjs
Labels: explore

#3320 Round twilight times in charts
  .gitignore
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  project/Versions.scala
Labels: explore

#3336 Update lucuma-core 0.86.1 with new GMOS Binning
  model/shared/src/main/scala/queries/schemas/itc/syntax.scala
  project/Versions.scala
  vite.config.mjs
Labels: model

#3350 update libs: Adds duration to ave parallactic angle calculation
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  project/Versions.scala
Labels: explore

#3318 Use `fs2.dom.BroadcastChannel`
  build.sbt
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/ExplorePWA.scala
  explore/src/main/scala/explore/model/AppContext.scala
  model/js/src/main/scala/explore/events/package.scala
  package.json
  project/Dependencies.scala
  project/Versions.scala
Labels: explore, model

#3362 Allow logout from the Programs popup.
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/programs/ProgramsPopup.scala
Labels: explore

#3366 Handle errors in ProgramCache and DynamicEnums initialization
  common/src/main/scala/explore/DynamicEnums.scala
  explore/src/main/scala/explore/cache/ProgramCache.scala
Labels: common, explore

#3381 Migrate optics helpers to lucuma-ui
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  model-tests/shared/src/test/scala/explore/optics/OpticsSuite.scala
  model/shared/src/main/scala/explore/optics/all.scala
Labels: explore, model, model-tests

#3361 Implement drag'n'drop for observation list
  explore/src/clue/scala/queries/common/GroupQueriesGQL.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/common/GroupQueries.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/obsTree.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
  model/shared/src/main/scala/explore/data/tree/KeyedIndexedTree.scala
  model/shared/src/main/scala/explore/model/GroupElement.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
  package-lock.json
  package.json
Labels: explore, model, model-testkit
