Repository gemini-hlsw/explore, pull requests merged in 2023-12, with the labels that each got.

#3468 Fixes the `toHours` conversion from TimeSpan
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
Labels: explore

#3469 Move dynamic enum logic to lucuma-schemas
  common/src/main/scala/explore/DynamicEnums.scala
  common/src/main/scala/explore/utils/OdbRestClient.scala
  explore/src/clue/scala/queries/common/ObsAttachmentSubquery.scala
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
  explore/src/main/scala/explore/attachments/package.scala
  explore/src/main/scala/explore/findercharts/FinderCharts.scala
  model/shared/src/main/scala/explore/model/ObsAttachment.scala
  model/shared/src/main/scala/explore/model/enums/ObsAttachmentType.scala
  project/Versions.scala
  vite.config.mjs
Labels: common, explore, model

#3337 Program tab details tile
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/programs/ProgramChangeRequestsTile.scala
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/src/main/scala/explore/programs/ProgramNotesTile.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
Labels: common, explore

#3486 Update dependencies - change plannedTime to timeEstimate
  explore/src/clue/scala/queries/common/ExecutionSubquery.scala
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/main/scala/explore/attachments/package.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
  project/Versions.scala
Labels: explore, model

#3489 Fix SequenceDigestSubquery
  explore/src/clue/scala/queries/common/ExecutionSubquery.scala
Labels: explore
