Repository gemini-hlsw/explore, pull requests merged in 2023-11, with the labels that each got.

#3386 Add reduceWithin stream combinator and group subscription updates
  build.sbt
  common/src/main/scala/explore/utils/package.scala
  common/src/test/scala/explore/syntax/ui/SwitchingSpec.scala
  common/src/test/scala/explore/utils/StreamSpec.scala
  explore/src/main/scala/explore/cache/ProgramCache.scala
  project/Dependencies.scala
Labels: common, explore

#3406 handle case where groupEdit value is now nullable
  explore/src/clue/scala/queries/common/GroupQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
Labels: explore

#3411 Migrate optics away to lucuma-ui
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
  model-tests/shared/src/test/scala/explore/optics/ModelOpticsSuite.scala
  model-tests/shared/src/test/scala/explore/optics/OptionNonEmptyStringIsoSuite.scala
  model/shared/src/main/scala/explore/model/formats.scala
  model/shared/src/main/scala/explore/optics/ModelOptics.scala
  model/shared/src/main/scala/queries/schemas/itc/syntax.scala
  project/Versions.scala
Labels: explore, model, model-tests

#3409 lucuma-core to v0.88.2, pickler for ConstantTracking
  model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
Labels: model

#3436 Point explore production to the postgres ODB
  common/src/main/public/environments.conf.json
Labels: common

#3443 Update lucuma-schema to 0.64.0
  explore/src/clue/scala/queries/common/GroupQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceViewer.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  project/Versions.scala
Labels: explore

#3435 Add execution time for observations
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/ExecutionSubquery.scala
  explore/src/clue/scala/queries/common/ObservationSummarySubquery.scala
  explore/src/main/scala/explore/cache/ProgramCache.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbExecution.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObsSummary.scala
  model/shared/src/main/scala/explore/model/Execution.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
  project/Versions.scala
Labels: common, explore, model, model-testkit
