Repository gemini-hlsw/explore, pull requests merged in 2024-04, with the labels that each got.

#3714 Adjust width of layouts when we hit a breakpoint
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  common/src/main/scala/explore/model/layout.scala
  explore/src/main/scala/explore/components/TileController.scala
Labels: common, explore

#3720 Fix observations not appearing in groups on first render
  explore/src/clue/scala/queries/common/GroupQueriesGQL.scala
  model/shared/src/main/scala/explore/model/GroupElement.scala
  model/shared/src/main/scala/explore/model/GroupTree.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
Labels: explore, model

#3723 Update to API with new proposal mutations.
  explore/src/clue/scala/queries/common/ProposalQueriesGQL.scala
  explore/src/main/scala/explore/common/ProgramQueries.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  project/Versions.scala
Labels: explore

#3719 Don't save timingwindows if some are invalid
  common/src/main/scala/explore/Icons.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/common/TimingWindowsQueries.scala
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
  explore/src/main/scala/explore/timingwindows/TimingWindowsPanel.scala
  model/shared/src/main/scala/explore/model/Constants.scala
  package-lock.json
  package.json
Labels: common, explore, model

#3710 Add UI to create a invite
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/InvitationQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramDetailsSubquery.scala
  explore/src/clue/scala/queries/common/ProgramInvitationsSubquery.scala
  explore/src/main/scala/explore/proposal/InviteUserPopup.scala
  explore/src/main/scala/explore/proposal/ProgramUserInvitations.scala
  explore/src/main/scala/explore/proposal/ProgramUsers.scala
  explore/src/main/scala/explore/proposal/ProgramUsersTable.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
  model/shared/src/main/scala/explore/model/ProgramTimeSubquery.scala
  model/shared/src/main/scala/explore/model/UserInvitation.scala
  project/Versions.scala
Labels: common, explore, model

#3728 Add parameter to visits query for the subquery
  explore/src/clue/scala/queries/common/VisitQueriesGQL.scala
  project/Versions.scala
Labels: explore

#3726 Allow revoking invites
  common/src/main/scala/explore/model/reusability.scala
  explore/src/clue/scala/queries/common/InvitationQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramInvitationsSubquery.scala
  explore/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  explore/src/clue/scala/queries/schemas/SSO.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/common/TimingWindowsQueries.scala
  explore/src/main/scala/explore/components/package.scala
  explore/src/main/scala/explore/proposal/InviteUserPopup.scala
  explore/src/main/scala/explore/proposal/ProgramUserInvitations.scala
  explore/src/main/scala/explore/proposal/ProgramUsers.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  explore/src/main/scala/explore/timingwindows/TimingWindowsPanel.scala
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
  model/shared/src/main/scala/explore/model/ApiKey.scala
  model/shared/src/main/scala/explore/model/CoIInvitation.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
  model/shared/src/main/scala/explore/model/UserInvitation.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/enums/RoleType.scala
  model/shared/src/main/scala/explore/model/formats.scala
  model/shared/src/main/scala/explore/model/newtypes.scala
  project/Versions.scala
Labels: common, explore, model

#3732 Show step id on dev mode, useful for debugging sequence execution
  build.sbt
  common/src/main/scala/explore/utils/pprinter.scala
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
  project/Dependencies.scala
  project/Versions.scala
Labels: common, explore

#3730 Hide the proposal tab for non-Science program types
  explore/src/clue/scala/queries/common/ProgramDetailsSubquery.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
Labels: explore, model

#3733 Do not use gaia g magnitude for the itc
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcProps.scala
  model/shared/src/main/scala/explore/model/itc/ItcTarget.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Labels: explore, model, workers

#3737 No words
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
Labels: common

#3736 Small UI retouches to the timing window editor
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/timingwindows/TimingWindowsPanel.scala
Labels: common, explore

#3739 Add box to redeem invites
  common/src/main/scala/explore/Icons.scala
  explore/src/clue/scala/queries/common/InvitationQueriesGQL.scala
  explore/src/main/scala/explore/TopBar.scala
  explore/src/main/scala/explore/proposal/InviteUserPopup.scala
  explore/src/main/scala/explore/users/RedeemInvitationsPopup.scala
  model/shared/src/main/scala/explore/model/ProgramInvitation.scala
Labels: common, explore, model

#3746 Show how many scheduling windows are present on the tile's title
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SchedulingTabContents.scala
  explore/src/main/scala/explore/timingwindows/TimingWindowsPanel.scala
Labels: explore

#3747 Hide S/N for calibrations and certain acq
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
Labels: explore

#3742 Show planned times with the tile closed
  explore/src/main/scala/explore/config/sequence/SequenceEditorTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Labels: explore

#3748 Show on the table S/N per exposure
  explore/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/model/OdbItcResult.scala
Labels: explore, model

#3750 Disable sky brightness and lunar elevation on the elevation plot
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
Labels: explore

#3752 Hide/Show the correct series
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
Labels: explore

#3751 Hide unsupported modes
  build.sbt
  common/src/main/public/instrument_spectroscopy_matrix.csv
  common/src/main/scala/explore/model/RootModel.scala
  explore/src/clue/scala/queries/common/ModesQueriesGQL.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/cache/ModesCache.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model-tests/jvm/src/test/resources/instrument_matrix.csv
  model-tests/jvm/src/test/resources/instrument_spectroscopy_matrix.csv
  model-tests/jvm/src/test/scala/explore/modes/ModesSuite.scala
  model/js/src/main/scala/explore/modes/ModesMatrixPlatform.scala
  model/js/src/main/scala/explore/modes/SpectroscopyModesMatrixPlatform.scala
  model/jvm/src/main/scala/explore/modes/ModesMatrixPlatform.scala
  model/jvm/src/main/scala/explore/modes/SpectroscopyModesMatrixPlatform.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/modes/ModesMatrix.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  model/shared/src/main/scala/explore/modes/package.scala
  workers/src/main/scala/workers/ItcServer.scala
  workers/src/main/scala/workers/StaticData.scala
Labels: common, explore, model, model-tests, workers

#3753 Show the selected band for AGS
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AgsOverlay.scala
  explore/src/main/scala/explore/visualization/GuideStarTarget.scala
  project/Versions.scala
  workers/src/main/scala/workers/CatalogCache.scala
Labels: common, explore, workers

#3756 Use pending duration to calculate average parallactic angle
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Labels: explore

#3755 Make some plot series hidden rather than gone
  explore/src/clue/resources/UserPreferencesDB.graphql
  explore/src/clue/scala/queries/common/UserPreferencesQueriesGQL.scala
  explore/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  hasura/user-prefs/metadata/databases/default/tables/public_exploreAsterismPreferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_exploreFinderChart.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaAsterism.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaObservation.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaUserPreferences.yaml
  hasura/user-prefs/migrations/default/1712849109532_elevation_plot_series/down.sql
  hasura/user-prefs/migrations/default/1712849109532_elevation_plot_series/up.sql
  model/shared/src/main/scala/explore/model/ElevationPlotOptions.scala
  model/shared/src/main/scala/explore/model/GlobalPreferences.scala
Labels: explore, model

#3758 Create new targets with the name given on search
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
Labels: explore

#3763 Show observation length on elevation plot
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
Labels: explore

#3759 Subscribe to plot series selection
  explore/src/clue/scala/queries/common/UserPreferencesQueriesGQL.scala
Labels: explore

#3764 Allow to open the panel after redeeming an invitation
  common/src/main/scala/explore/Icons.scala
  explore/src/main/scala/explore/proposal/InviteUserPopup.scala
  explore/src/main/scala/explore/users/RedeemInvitationsPopup.scala
Labels: common, explore

#3766 Better error message if Gaia is down
  explore/src/main/scala/explore/targeteditor/AgsOverlay.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  model/shared/src/main/scala/explore/model/Constants.scala
Labels: explore, model

#3767 Show next to the average parallactic angle the duration and time used…
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/AveragePABasis.scala
  common/src/main/scala/explore/model/ObsConfiguration.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/PAConfigurationPanel.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Labels: common, explore

#3768 Add info button for times
  explore/src/main/scala/explore/config/sequence/SequenceEditorTile.scala
Labels: explore

#3771 Swap itc and sequence tile positions
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
Labels: common

#3772 Don't use the selected PA when showing average PA
  common/src/main/scala/explore/model/PAProperties.scala
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/config/PAConfigurationPanel.scala
Labels: common, explore

#3774 Remove times from ProgramDetailsSubquery
  explore/src/clue/scala/queries/common/ProgramDetailsSubquery.scala
Labels: explore

#3780 Show the available call for proposals
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/CallForProposal.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/CallsQueriesGQL.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
Labels: common, explore

#3783 Add email status to the invitations table
  explore/src/clue/scala/queries/common/InvitationQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramInvitationsSubquery.scala
  explore/src/main/scala/explore/proposal/InviteUserPopup.scala
  explore/src/main/scala/explore/proposal/ProgramUserInvitations.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/users/RedeemInvitationsPopup.scala
  model/shared/src/main/scala/explore/model/CoIInvitation.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
Labels: explore, model
