Repository gemini-hlsw/explore, pull requests merged in 2024-09, with the labels that each got.

#4104 Migrate to new ITC API with asterism
  common/src/main/scala/explore/model/reusability.scala
  explore/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/src/clue/scala/queries/schemas/UserPreferencesDB.scala
  explore/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceBody.scala
  explore/src/main/scala/explore/config/sequence/SequenceEditorTile.scala
  explore/src/main/scala/explore/itc/ItcPanelTile.scala
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
  explore/src/main/scala/explore/itc/ItcPlotControl.scala
  explore/src/main/scala/explore/itc/ItcProps.scala
  explore/src/main/scala/explore/itc/ItcResultsCache.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlotDescription.scala
  explore/src/main/scala/explore/itc/package.scala
  explore/src/main/scala/explore/tabs/ItcTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
  hasura/user-prefs/migrations/default/1725303654076_itc_graph_rename/down.sql
  hasura/user-prefs/migrations/default/1725303654076_itc_graph_rename/up.sql
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/model/BasicConfigAndItc.scala
  model/shared/src/main/scala/explore/model/GlobalPreferences.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/model/OdbItcResult.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/itc/ItcRequestParams.scala
  model/shared/src/main/scala/explore/model/itc/ItcTarget.scala
  model/shared/src/main/scala/explore/model/itc/math.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  model/shared/src/main/scala/explore/optics/ModelOptics.scala
  model/shared/src/main/scala/queries/schemas/itc/syntax.scala
  project/Versions.scala
  workers/src/main/scala/workers/ItcServer.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
  workers/src/main/scala/workers/itc/ITCVersionsRequests.scala
Labels: common, explore, model, workers

#4106 Substitute cache reusability with key
  common/src/main/scala/explore/cache/CacheControllerComponent.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/cache/CfpCacheController.scala
  explore/src/main/scala/explore/cache/ModesCacheController.scala
  explore/src/main/scala/explore/cache/PreferencesCacheController.scala
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
  project/Versions.scala
Labels: common, explore

#4109 Fix undo with effectful get
  common/src/main/scala/explore/undo/UndoContext.scala
Labels: common

#4105 Support editing educational status and thesis
  explore/src/clue/scala/queries/common/ProgramUserWithRoleSubquery.scala
  explore/src/main/scala/explore/common/ProgramQueries.scala
  explore/src/main/scala/explore/proposal/ProgramUsersTable.scala
  model/shared/src/main/scala/explore/model/ProgramUserWithRole.scala
  model/shared/src/main/scala/explore/model/display.scala
Labels: explore, model

#4110 Fix web worker stream acquisition
  common/src/main/scala/workers/WebWorkerF.scala
  common/src/main/scala/workers/WorkerClient.scala
  explore/src/main/scala/explore/itc/ItcPanelBody.scala
Labels: common, explore

#4111 Add gender editor
  explore/src/clue/scala/queries/common/ProgramUserWithRoleSubquery.scala
  explore/src/main/scala/explore/common/ProgramQueries.scala
  explore/src/main/scala/explore/proposal/ProgramUsersTable.scala
  model/shared/src/main/scala/explore/model/ProgramUserWithRole.scala
  model/shared/src/main/scala/explore/model/display.scala
Labels: explore, model

#4112 Add editing of observation duration
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/ObservationSubquery.scala
  explore/src/main/scala/explore/config/ObsTimeEditor.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditorBody.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObservation.scala
  model/shared/src/main/scala/explore/model/ObsIdSet.scala
  model/shared/src/main/scala/explore/model/Observation.scala
Labels: common, explore, model, model-testkit

#4115 Deglitch
  common/src/main/scala/explore/model/RootModel.scala
  common/src/main/scala/explore/model/RootModelViews.scala
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/RootComponent.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/config/ObsTimeEditor.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  project/Versions.scala
Labels: common, explore, model

#4117 Add available program details
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
  model/shared/src/main/scala/explore/model/ProgramUser.scala
  model/shared/src/main/scala/explore/model/ProgramUserWithRole.scala
Labels: common, explore, model

#4125 Clean observation attachments when copying observation
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
Labels: explore

#4131 Better itc edge cases
  explore/src/main/scala/explore/itc/ItcPanelBody.scala
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
  explore/src/main/scala/explore/itc/ItcProps.scala
  explore/src/main/scala/explore/tabs/ItcTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/queries/schemas/itc/syntax.scala
Labels: explore, model

#4132 Action buttons for target tab
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/ActionButtons.scala
  common/src/main/scala/explore/components/package.scala
  common/src/main/scala/explore/components/undo/UndoButtons.scala
  common/src/main/scala/explore/model/LocalClipboard.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Labels: skip-sc, common, explore

#4134 Revert #4110, correct fix for sc-3434
  common/src/main/scala/workers/WebWorkerF.scala
  common/src/main/scala/workers/WorkerClient.scala
  project/Versions.scala
Labels: common

#4137 For targets with no obs, default coords to base coordinates
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Labels: explore

#4138 Action buttons in observations tab
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore-common.scss
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/tabs/TwoPanels.scala
Labels: skip-sc, common, explore

#4141 Action buttons in constraints tab
  explore/src/main/scala/explore/actions/ObservationInsertAction.scala
  explore/src/main/scala/explore/actions/ObservationPasteIntoAsterismAction.scala
  explore/src/main/scala/explore/actions/ObservationPasteIntoConstraintSetAction.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targets/ObservationPasteAction.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
Labels: skip-sc, explore, model

#4140 Better target tile
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/ObsTimeEditor.scala
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceBody.scala
Labels: common, explore

#4142 Action buttons in scheduling tab
  explore/src/main/scala/explore/actions/ObservationPasteIntoSchedulingGroupAction.scala
  explore/src/main/scala/explore/observationtree/SchedulingGroupObsList.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/SchedulingTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
Labels: explore, model

#4147 Fix broken band label
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
Labels: explore

#4148 Adjust tooltip text
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
Labels: explore

#4133 Better handling of error cases on AGS calculations
  explore/src/main/scala/explore/config/ObsTimeEditor.scala
  explore/src/main/scala/explore/targeteditor/AgsOverlay.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinToolbar.scala
  model/shared/src/main/scala/explore/model/Constants.scala
  model/shared/src/main/scala/explore/model/enums/AgsState.scala
Labels: explore, model

#4150 Handle AGS differently for different types of calibrations
  common/src/main/scala/explore/model/ObsConfiguration.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
Labels: common, explore, model

#4156 Edit support users in program tab
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/InvitationQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramInvitationsSubquery.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/src/main/scala/explore/programs/SupportUsers.scala
  explore/src/main/scala/explore/proposal/CallDeadline.scala
  explore/src/main/scala/explore/proposal/ProgramUsers.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
  explore/src/main/scala/explore/users/CreateInviteStatus.scala
  explore/src/main/scala/explore/users/InviteUserButton.scala
  explore/src/main/scala/explore/users/InviteUserPopup.scala
  explore/src/main/scala/explore/users/ProgramUserInvitations.scala
  explore/src/main/scala/explore/users/ProgramUsersTable.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
  model/shared/src/main/scala/explore/model/ProgramUserWithRole.scala
  model/shared/src/main/scala/explore/model/UserInvitation.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/enums/ProgramUserRole.scala
  project/Versions.scala
Labels: common, explore, model

#4158 Don't try to do ITC if SED is missing
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
Labels: explore

#4166 Copy observations into groups
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
Labels: explore

#4168 Delete obsExecutionPot when observation is deleted.
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
Labels: explore

#4167 Invoke ITC chart only once when Image Quality changes
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/itc/ItcProps.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  model/shared/src/main/scala/queries/schemas/itc/syntax.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
Labels: common, explore, model, workers

#4169 Unify delete buttons in target tab
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targets/TargetSummaryBody.scala
Labels: explore

#4170 Enforce proposal deadlines
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/SubmittedProposalMessage.scala
  explore/src/main/scala/explore/proposal/CallDeadline.scala
  explore/src/main/scala/explore/proposal/ProposalSubmissionBar.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  model/shared/src/main/scala/explore/Proposal.scala
Labels: skip-sc, explore, model

#4171 Separate X and Y binning
  common/src/main/scala/explore/model/reusability.scala
  model/shared/src/main/scala/explore/model/Observation.scala
Labels: common, model

#4174 Fixes an edge case that made it look like the target table was resizable
  common/src/main/scala/explore/components/Tile.scala
  explore/src/main/scala/explore/components/TileController.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Labels: common, explore

#4173 Save guide star selected in explore
  common/src/main/scala/explore/model/GuideStarSelection.scala
  common/src/main/scala/explore/model/ObsConfiguration.scala
  common/src/main/scala/explore/model/PAProperties.scala
  common/src/main/webapp/sass/explore.scss
  common/src/main/webapp/sass/visualization.scss
  explore/src/clue/scala/queries/common/ObservationSubquery.scala
  explore/src/clue/scala/queries/common/TargetQueriesGQL.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AgsOverlay.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditorBody.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObservation.scala
  model/shared/src/main/scala/explore/model/Observation.scala
Labels: common, explore, model, model-testkit

#4176 Add link to download templates
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  model/shared/src/main/scala/explore/model/Constants.scala
Labels: common, explore, model

#4180 Add help icon for the calibrations group
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/observationtree/GroupBadge.scala
Labels: common, explore

#4179 Consider central wavelength overrides to request ITC graph
  explore/src/main/scala/explore/itc/ItcProps.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Labels: explore, model
