Repository gemini-hlsw/explore, pull requests merged in 2024-07, with the labels that each got.

#3960 Better control of the itc tile for small sizes
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/charts.scss
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/itc/ItcPlotControl.scala
Labels: common, explore

#3967 Allow editing proposal splits
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  explore/src/main/scala/explore/proposal/PartnerSplitsEditor.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
Labels: common, explore

#3966 Restrict theme menu to the dev environment
  explore/src/main/scala/explore/TopBar.scala
Labels: explore

#3968 Show the proposal id on the read-only message
  explore/src/clue/scala/queries/common/ProposalSubquery.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbProposal.scala
  model/shared/src/main/scala/explore/Proposal.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
Labels: explore, model, model-testkit

#3969 Fix deletion of magnitudes
  explore/src/main/scala/explore/targeteditor/BrightnessesEditor.scala
Labels: explore

#3970 Fix issue where targets cannot be deleted from an asterism
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
Labels: explore

#3980 Attempt to fix eternal reconnection attempts after reopening laptop lid
  common/src/main/public/conf.json
  common/src/main/public/environments.conf.json
  common/src/main/public/staging.conf.json
  explore/src/main/scala/explore/components/ConnectionsStatus.scala
  project/Versions.scala
Labels: common, explore

#3983 Avoid captures and provide stable undo modders
  .scalafix.conf
  common/src/main/scala/explore/common/AlignerF.scala
  common/src/main/scala/explore/undo/UndoContext.scala
  common/src/main/scala/explore/undo/UndoSetter.scala
  common/src/main/scala/explore/utils/CloneListView.scala
  common/src/test/scala/explore/syntax/ui/SwitchingSpec.scala
  common/src/test/scala/explore/undo/TestUndoable.scala
  common/src/test/scala/explore/undo/package.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/constraints/ConstraintsPanel.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/BrightnessesEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
  project/Versions.scala
Labels: common, explore

#3972 Update css for react-datepicker
  common/src/main/webapp/sass/datepicker/datepicker.scss
  common/src/main/webapp/sass/datepicker/mixins.scss
  common/src/main/webapp/sass/datepicker/variables.scss
Labels: common

#3965 Don't allow targets for executed observations to be edited
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetCloneSelector.scala
  model-tests/shared/src/test/scala/explore/model/TargetEditCloneInfoSuite.scala
  model/shared/src/main/scala/explore/model/ObsIdSet.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/TargetEditCloneInfo.scala
  model/shared/src/main/scala/explore/model/TargetEditObsInfo.scala
Labels: common, explore, model, model-tests

#3988 Fix logic issue in target clone selection
  model-tests/shared/src/test/scala/explore/model/TargetEditCloneInfoSuite.scala
  model/shared/src/main/scala/explore/model/TargetEditCloneInfo.scala
Labels: model, model-tests

#3971 Improve sorting of Target and Duration columns
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
Labels: explore

#3990 Tiny fix on the email display
  explore/src/main/scala/explore/proposal/ProgramUsersTable.scala
Labels: explore

#3991 Cleaning up tile controls
  common/src/main/scala/explore/components/Tile.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore-common.scss
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/components/TileController.scala
  explore/src/main/scala/explore/findercharts/package.scala
  explore/src/main/scala/explore/proposal/ProgramUsers.scala
  explore/src/main/scala/explore/tabs/FinderChartsTile.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/AsterismModifier.scala
Labels: common, explore

#4001 Time award table
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/scala/explore/syntax/ui/package.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/AllocationSubquery.scala
  explore/src/clue/scala/queries/common/ProgramDetailsSubquery.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/src/main/scala/explore/programs/TimeAccountingTable.scala
  explore/src/main/scala/explore/programs/TimeAwardTable.scala
  explore/src/main/scala/explore/proposal/PartnerSplitsEditor.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  model/shared/src/main/scala/explore/model/PartnerSplit.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
  model/shared/src/main/scala/explore/model/ProgramTime.scala
  model/shared/src/main/scala/explore/model/allocations.scala
  model/shared/src/main/scala/explore/model/display.scala
  project/Versions.scala
Labels: common, explore, model

#3976 Show the program id label if present
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/RootModel.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/TopBar.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
Labels: common, explore, model

#4004 Add editor for observation notes with markdown support
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  common/src/main/webapp/css/github-markdown.css
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/ObservationSummarySubquery.scala
  explore/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  explore/src/main/scala/explore/HelpBody.scala
  explore/src/main/scala/explore/notes/NotesTile.scala
  explore/src/main/scala/explore/tabs/ObsGroupTiles.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
  explore/src/main/webapp/main.jsx
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObsSummary.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
  package-lock.json
  package.json
Labels: common, explore, model, model-testkit

#3995 Undo/Redo for target cloning
  common/src/main/scala/explore/model/Focused.scala
  common/src/main/scala/explore/undo/Action.scala
  explore/src/clue/scala/queries/common/TargetQueriesGQL.scala
  explore/src/main/scala/explore/common/AsterismQueries.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetCloneAction.scala
  model/shared/src/main/scala/explore/model/OnCloneParameters.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/package.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
Labels: common, explore, model

#4009 Deactivate unavailable options on the spectroscopy configuration form
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
Labels: explore

#4006 Fix eternal reconnection issue
  build.sbt
  explore/src/main/scala/explore/model/GraphQLClients.scala
  project/Versions.scala
Labels: explore

#4010 Add a help icon to aladin
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
Labels: common, explore

#4011 Increase preview FOV to 4 arcmin
  model/shared/src/main/scala/explore/model/Constants.scala
Labels: model

#4012 Time awards totals in meta
  explore/src/main/scala/explore/programs/TimeAwardTable.scala
Labels: explore

#4013 Reinstate floatinguUI styles
  common/src/main/webapp/sass/tooltips.scss
  explore/src/main/webapp/main.jsx
Labels: common, explore

#4017 Show the submission deadline for a proposal
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/CallsQueriesGQL.scala
  explore/src/main/scala/explore/notes/NotesTile.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbCallForProposal.scala
  model/shared/src/main/scala/explore/CallForProposal.scala
Labels: common, explore, model, model-testkit

#4019 Bump clue, use more fitting reconnection strategy
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/components/ConnectionsStatus.scala
  explore/src/main/scala/explore/model/GraphQLClients.scala
  explore/src/main/scala/explore/programs/TimeAwardTable.scala
  project/Versions.scala
Labels: explore

#4022 Decimal time format in award table
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/programs/TimeAwardTable.scala
  explore/src/main/scala/explore/tabs/GroupEditTile.scala
  project/Versions.scala
Labels: explore

#4023 Avoid remount on observation time change
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/RootComponent.scala
  explore/src/main/scala/explore/components/TileController.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  project/Versions.scala
Labels: common, explore

#4025 Show acquisition steps when sequence never started running
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
Labels: explore

#4028 Remove partner field on user invitations
  explore/src/clue/scala/queries/common/InvitationQueriesGQL.scala
  explore/src/main/scala/explore/proposal/InviteUserPopup.scala
Labels: explore

#4031 Fix 1 hour offset in datetimepicker
  common/src/main/scala/explore/utils/package.scala
Labels: common

#4032 Don't show the tiles with attachment controls for guest users
  common/src/main/scala/explore/syntax/ui/package.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/OverviewTabContents.scala
Labels: common, explore

#4033 Avoid blinks when selecting in target summary
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  explore/src/main/scala/explore/components/TileController.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  model/shared/src/main/scala/explore/model/TileIds.scala
  project/Versions.scala
Labels: common, explore, model
