Repository gemini-hlsw/explore, pull requests merged in 2024-12, with the labels that each got.

#4352 Fix change editor
  explore/src/main/scala/explore/config/package.scala
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
Labels: explore

#4353 oops
  explore/src/main/scala/explore/proposal/ProposalDetailsTile.scala
Labels: explore

#4361 Update to use the new schema for users
  explore/src/clue/resources/SSO.graphql
  explore/src/clue/scala/queries/common/InvitationQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramUserSubquery.scala
  explore/src/clue/scala/queries/common/SSOQueriesGQL.scala
  explore/src/main/scala/explore/users/ProgramUsersTable.scala
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
  model/shared/src/main/scala/explore/model/ProgramUser.scala
  project/Versions.scala
Labels: explore, model

#4363 Tiny UI fix
  common/src/main/webapp/sass/explore.scss
Labels: common, model

#4366 Remove notes tile for groups
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  explore/src/main/scala/explore/tabs/ObsGroupTiles.scala
  model/shared/src/main/scala/explore/model/TileIds.scala
Labels: common, explore, model

#4369 Handle initialization errors, fix leak when switching programs
  common/src/main/scala/explore/cache/CacheControllerComponent.scala
  common/src/main/scala/explore/model/RootModel.scala
  common/src/main/scala/explore/model/RootModelViews.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/HelpBody.scala
  explore/src/main/scala/explore/RootComponent.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/attachments/ObsAttachmentsTableBody.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/cache/CfpCacheController.scala
  explore/src/main/scala/explore/cache/ModesCacheController.scala
  explore/src/main/scala/explore/cache/PreferencesCacheController.scala
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/src/main/scala/explore/findercharts/FinderChartsTile.scala
  explore/src/main/scala/explore/proposal/ProposalAttachmentsTable.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  model/shared/src/main/scala/explore/model/package.scala
  project/Versions.scala
Labels: common, explore, model

#4374 Improve the text shown when no scheduling group is selected
  explore/src/main/scala/explore/tabs/SchedulingTabContents.scala
Labels: explore

#4377 Update redeem invitation decoder for the new schema
  explore/src/main/scala/explore/users/RedeemInvitationsPopup.scala
  model/shared/src/main/scala/explore/model/ProgramInvitation.scala
Labels: explore, model

#4373 Use central wavelength for AGS thus able to calculate guide star for …
  common/src/main/scala/explore/model/ObsConfiguration.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObservation.scala
  model/shared/src/main/scala/explore/model/Observation.scala
Labels: common, explore, model, model-testkit

#4378 Fix class for BandedProgramTime to consider the band as optional
  model/shared/src/main/scala/explore/model/BandedProgramTime.scala
  model/shared/src/main/scala/explore/model/ProgramTimes.scala
Labels: model

#4380 Unify attachments
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/scala/explore/utils/OdbRestClient.scala
  explore/src/clue/scala/queries/common/AttachmentSubquery.scala
  explore/src/clue/scala/queries/common/ObservationSubquery.scala
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProposalAttachmentSubquery.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/attachments/ObsAttachmentsTableBody.scala
  explore/src/main/scala/explore/attachments/package.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/src/main/scala/explore/common/ProgramQueries.scala
  explore/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/findercharts/FinderChartLinker.scala
  explore/src/main/scala/explore/findercharts/FinderChartsTile.scala
  explore/src/main/scala/explore/findercharts/package.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/proposal/ProposalAttachmentUtils.scala
  explore/src/main/scala/explore/proposal/ProposalAttachmentsTable.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/OverviewTabContents.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObservation.scala
  model/shared/src/main/scala/explore/model/Attachment.scala
  model/shared/src/main/scala/explore/model/ObsAttachment.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/ProposalAttachment.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/package.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
  project/Versions.scala
Labels: common, explore, model, model-testkit

#4381 Explicit column sorting in tables
  explore/src/main/scala/explore/observationtree/ObsSummaryTile.scala
  explore/src/main/scala/explore/users/ProgramUsersTable.scala
  project/Versions.scala
Labels: explore

#4382 Use execution digest to get the offsets
  explore/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/model/Constants.scala
  model/shared/src/main/scala/explore/model/ExecutionOffsets.scala
Labels: explore, model

#4383 Final leak fix + restore updates
  common/src/main/scala/explore/cache/CacheControllerComponent.scala
Labels: common

#4385 Allow withdrawing a configuration request
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/common/ProgramQueries.scala
  explore/src/main/scala/explore/programs/ProgramConfigRequestsTile.scala
  explore/src/main/scala/explore/programs/ProgramUnrequestedConfigsTile.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
  project/Versions.scala
Labels: explore

#4386 Support proposal and program id in the URL
  common/src/main/scala/explore/model/RoutingInfo.scala
  explore/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/ObsReferenceResolver.scala
  explore/src/main/scala/explore/ProgramReferenceResolver.scala
  explore/src/main/scala/explore/ProposalReferenceResolver.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/attachments/ObsAttachmentsTableBody.scala
  explore/src/main/scala/explore/components/FocusedStatus.scala
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTile.scala
  explore/src/main/scala/explore/model/AppContext.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTile.scala
  explore/src/main/scala/explore/observationtree/ObsTree.scala
  explore/src/main/scala/explore/observationtree/SchedulingGroupObsList.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/programs/ProgramsPopup.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SchedulingTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/tabs/TwoPanels.scala
  explore/src/main/scala/explore/targets/TargetSummaryTile.scala
  explore/src/main/scala/explore/users/RedeemInvitationsPopup.scala
  explore/src/main/scala/explore/validations/ObservationValidationsTableBody.scala
  model/shared/src/main/scala/explore/model/Page.scala
  project/Versions.scala
Labels: common, explore, model

#4387 Don't adapt sequence generation errors
  explore/src/main/scala/explore/config/sequence/SequenceTile.scala
Labels: explore

#4388 Change the default aladin fov
  model/shared/src/main/scala/explore/model/Constants.scala
Labels: model

#4396 Don't show executing step in visit, show all nextAtom steps
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
Labels: explore

#4399 Use a ref for TargetName input instead of direct dom lookup
  explore/src/main/scala/explore/targeteditor/SearchForm.scala
Labels: explore

#4400 Add a word counter for abstract and indicate if the abstract is too long
  common/src/main/scala/explore/components/Tile.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  project/Versions.scala
Labels: common, explore

#4407 Handle target cloning on target replacement better.
  explore/src/main/scala/explore/observationtree/ObsTree.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/targeteditor/SearchForm.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
Labels: explore

#4409 Update scala to 3.6.2
  .github/workflows/ci.yml
  build.sbt
  explore/src/main/scala/explore/plots/SeriesType.scala
  explore/src/main/scala/explore/tabs/GroupEditBody.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SchedulingTabContents.scala
  project/Versions.scala
  vite.config.mts
Labels: explore

#4419 Allow accessing menu when no program selected
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/TopBar.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/programs/ProgramsPopup.scala
Labels: explore

#4420 Better identification of new programs
  explore/src/main/scala/explore/EditableLabel.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/programs/ProgramsPopup.scala
Labels: explore

#4423 Internalize japgolly's IndexedDB library
  build.sbt
  project/Dependencies.scala
  project/Versions.scala
  workers/src/main/scala/japgolly/webapputil/binary/BinaryData.scala
  workers/src/main/scala/japgolly/webapputil/binary/BinaryData_PlatformSpecific.scala
  workers/src/main/scala/japgolly/webapputil/binary/BinaryFormat.scala
  workers/src/main/scala/japgolly/webapputil/binary/BinaryJs.scala
  workers/src/main/scala/japgolly/webapputil/boopickle/BinaryFormatExt.scala
  workers/src/main/scala/japgolly/webapputil/boopickle/PicklerUtil.scala
  workers/src/main/scala/japgolly/webapputil/boopickle/SafePickler.scala
  workers/src/main/scala/japgolly/webapputil/boopickle/SafePicklerUtil.scala
  workers/src/main/scala/japgolly/webapputil/general/ErrorMsg.scala
  workers/src/main/scala/japgolly/webapputil/general/Version.scala
  workers/src/main/scala/japgolly/webapputil/indexeddb/IndexedDb.scala
  workers/src/main/scala/japgolly/webapputil/indexeddb/IndexedDbKey.scala
  workers/src/main/scala/japgolly/webapputil/indexeddb/KeyCodec.scala
  workers/src/main/scala/japgolly/webapputil/indexeddb/ObjectStoreDef.scala
  workers/src/main/scala/japgolly/webapputil/indexeddb/Txn.scala
  workers/src/main/scala/japgolly/webapputil/indexeddb/TxnDsl.scala
  workers/src/main/scala/japgolly/webapputil/indexeddb/TxnMode.scala
  workers/src/main/scala/japgolly/webapputil/indexeddb/TxnStep.scala
  workers/src/main/scala/japgolly/webapputil/indexeddb/ValueCodec.scala
  workers/src/main/scala/japgolly/webapputil/indexeddb/package.scala
  workers/src/main/scala/workers/CacheIDBStores.scala
Labels: workers

#4424 Fix submitted proposal banner
  explore/src/main/scala/explore/ExploreLayout.scala
Labels: explore

#4425 Monadic hook migration
  explore/src/main/scala/explore/HelpBody.scala
  explore/src/main/scala/explore/observationtree/ObsTree.scala
  project/Versions.scala
Labels: explore

#4439 Hide unnecessary tiles in calibration observations
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  common/src/main/scala/explore/model/UserPreferences.scala
  explore/src/clue/resources/UserPreferencesDB.graphql
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  hasura/user-prefs/metadata/databases/databases.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_exploreAsterismPreferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_exploreFinderChart.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaAsterism.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaObservation.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaUserPreferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/tables.yaml
  hasura/user-prefs/migrations/default/1735245383258_calibration_layouts/down.sql
  hasura/user-prefs/migrations/default/1735245383258_calibration_layouts/up.sql
  model/shared/src/main/scala/explore/model/enums/GridLayoutSection.scala
Labels: common, explore, model

#4447 Migrate single component to test new syntax
  explore/src/main/scala/explore/ObsReferenceResolver.scala
Labels: explore

#4446 Show the badge for duplicating at the start of clonning
  common/src/main/scala/explore/utils/package.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/observationtree/ObsTree.scala
Labels: common, explore

#4448 Hide acquisition on completed observations
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
Labels: explore
