Repository gemini-hlsw/explore, pull requests merged in 2024-01, with the labels that each got.

#3506 Improve the way tile resizing is enabled/disabled
  common/src/main/scala/explore/components/Tile.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/components/TileController.scala
Labels: common, explore

#3516 Migrate ExecutionEnvironment to core
  .vscode/settings.json
  common/src/main/scala/explore/model/AppConfig.scala
  common/src/main/scala/explore/utils/OdbRestClient.scala
  common/src/main/scala/explore/utils/package.scala
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/TopBar.scala
  explore/src/main/scala/explore/model/AppContext.scala
  project/Versions.scala
Labels: common, explore

#3528 Remove Program.Id from observation edit mutations
  explore/src/main/scala/explore/common/AsterismQueries.scala
  explore/src/main/scala/explore/common/ConstraintsQueries.scala
  explore/src/main/scala/explore/common/ScienceQueries.scala
  explore/src/main/scala/explore/common/TimingWindowsQueries.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/constraints/ConstraintsPanel.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsListActions.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/SchedulingGroupObsList.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SchedulingTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targets/ObservationInsertAction.scala
  explore/src/main/scala/explore/targets/ObservationPasteAction.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
  project/Versions.scala
Labels: explore

#3531 Fix tile controller when `storeLayout` is false
  explore/src/main/scala/explore/components/TileController.scala
Labels: explore

#3538 Button for deleting grid layouts from user preferences
  explore/src/clue/scala/queries/common/UserPreferencesQueriesGQL.scala
  explore/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
Labels: explore

#3550 Bump to react 18
  explore/src/main/scala/explore/Explore.scala
  package-lock.json
  package.json
  project/Versions.scala
Labels: explore

#3551 Add proposal status, plus...
  USERPREFS.md
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  common/src/main/scala/explore/model/UserPreferences.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore-primereact.scss
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/ExecutionSubquery.scala
  explore/src/clue/scala/queries/common/ProgramDetailsSubquery.scala
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramTimeRangeSubquery.scala
  explore/src/clue/scala/queries/common/ProgramTimeSubquery.scala
  explore/src/clue/scala/queries/common/ProposalSubquery.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/cache/ProgramCache.scala
  explore/src/main/scala/explore/common/ProgramQueries.scala
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/OverviewTabContents.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
  hasura/user-prefs/migrations/default/1706108922028_proposal_layout/down.sql
  hasura/user-prefs/migrations/default/1706108922028_proposal_layout/up.sql
  model-testkit/shared/src/main/scala/explore/model/arb/ArbExecution.scala
  model/shared/src/main/scala/explore/model/Execution.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/ProgramTime.scala
  model/shared/src/main/scala/explore/model/ProgramTimeRange.scala
  model/shared/src/main/scala/explore/model/TileIds.scala
  model/shared/src/main/scala/explore/model/enums/GridLayoutSection.scala
  project/Versions.scala
Labels: common, explore, model, model-testkit
