Repository gemini-hlsw/explore, pull requests merged in 2024-05, with the labels that each got.

#3793 Add word break on long target names
  common/src/main/webapp/sass/explore.scss
Labels: common

#3789 Create observations/groups inside selected group
  explore/src/main/scala/explore/common/GroupQueries.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
Labels: explore

#3797 Update lucuma-ui
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
  project/Versions.scala
Labels: explore

#3806 Fix problem of editing brightnesses table always cloning the target.
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
Labels: explore

#3808 Tighten up brightness table to avoid horizontal scrolling
  explore/src/main/scala/explore/targeteditor/BrightnessesEditor.scala
Labels: explore

#3809 Remember configuration choice after revert
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
Labels: explore

#3812 Clear InviteUserPopup fields between uses. Update lucuma-react to 0.61.0
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/proposal/InviteUserPopup.scala
  project/Versions.scala
Labels: explore

#3813 Update pwa plugin
  README.md
  explore/src/main/scala/explore/ExplorePWA.scala
  package-lock.json
  package.json
Labels: explore

#3815 Allow deleting observations from other tabs (scheduling, constraints, targets)
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/observationtree/SchedulingGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ViewCommon.scala
Labels: explore

#3817 Migrate to latest react-table facade and sequence table building logic in lucuma-ui
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
  explore/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTable.scala
  explore/src/main/scala/explore/findercharts/FinderChartLinker.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/proposal/ProgramUserInvitations.scala
  explore/src/main/scala/explore/proposal/ProgramUsersTable.scala
  explore/src/main/scala/explore/proposal/ProposalAttachmentsTable.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
  explore/src/main/scala/explore/targets/TargetSelectionTable.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  explore/src/main/scala/explore/timingwindows/TimingWindowsPanel.scala
  project/Versions.scala
Labels: explore

#3820 Rework charts to new facade
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
  project/Versions.scala
Labels: common, explore

#3826 Update lucuma-schema to 0.84.0
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceViewer.scala
  project/Versions.scala
Labels: explore

#3816 Improve reset layouts toast
  common/src/main/scala/explore/utils/ToastCtx.scala
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
Labels: common, explore

#3818 Keep expanded groups when deleting an observation
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/components/FocusedStatus.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/SchedulingGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ViewCommon.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/SchedulingTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  model/shared/src/main/scala/explore/model/ObsIdSet.scala
Labels: common, explore, model

#3829 Remove logic to keep resizing state
  common/src/main/scala/explore/components/Tile.scala
  explore/src/main/scala/explore/components/TileController.scala
  hasura/user-prefs/migrations/default/1715807560285_user_prefs_times/down.sql
  hasura/user-prefs/migrations/default/1715807560285_user_prefs_times/up.sql
  model/shared/src/main/scala/explore/model/enums/TileSizeState.scala
Labels: common, explore, model

#3828 Use useEffectStream where possible
  common/src/main/scala/explore/cache/CacheComponent.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
  project/Versions.scala
Labels: common, explore

#3831 Temporary fix until the CfP changes in the API can be integrated.
  explore/src/clue/scala/queries/common/ProgramDetailsSubquery.scala
Labels: explore

#3833 Support deleting groups
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/common/GroupQueries.scala
  explore/src/main/scala/explore/observationtree/GroupBadge.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/tabs/ObsGroupTiles.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbKeyedIndexedTree.scala
  model/shared/src/main/scala/explore/data/tree/KeyedIndexedTree.scala
  model/shared/src/main/scala/explore/model/GroupTree.scala
  model/shared/src/main/scala/explore/model/package.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
Labels: common, explore, model, model-testkit

#3834 Changes for updates to prime-react and highcharts
  common/src/main/scala/explore/components/undo/UndoButtons.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
  package-lock.json
  package.json
  project/Versions.scala
Labels: common, explore

#3835 Fix transparent sticky header issue.
  common/src/main/webapp/less/style.less
Labels: common

#3819 Use angle from PosAngleConstraint for finder chart `Align to PA`
  explore/src/main/scala/explore/findercharts/ControlOverlay.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Labels: explore

#3821 Remove existence checks from allGroupElements query
  explore/src/clue/scala/queries/common/GroupQueriesGQL.scala
  model/shared/src/main/scala/explore/model/GroupElement.scala
  model/shared/src/main/scala/explore/model/GroupTree.scala
Labels: explore, model

#3841 Fix crash when double clicking on the target table
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Labels: explore

#3842 A fix and a preemptive fix
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Labels: explore

#3843 Keep minimized target tiles from persisting.
  common/src/main/scala/explore/model/layout.scala
  explore/src/main/scala/explore/components/TileController.scala
Labels: common, explore

#3836 Avoid duplicate steps when sequence is executing
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
  project/Versions.scala
Labels: explore

#3858 Basic support for the new proposal model
  common/src/main/scala/explore/components/ui/PartnerFlags.scala
  common/src/main/scala/explore/model/CallForProposal.scala
  common/src/main/scala/explore/model/ModelUndoStacks.scala
  common/src/test/scala/explore/undo/UndoContextSpec.scala
  explore/src/clue/scala/queries/common/CallsQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramDetailsSubquery.scala
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProposalSubquery.scala
  explore/src/main/scala/explore/cache/ProgramCache.scala
  explore/src/main/scala/explore/common/ProposalQueries.scala
  explore/src/main/scala/explore/proposal/PartnerSplitsEditor.scala
  explore/src/main/scala/explore/proposal/ProposalClassType.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbCallForProposal.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbPartnerSplit.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbProposal.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbProposalType.scala
  model-testkit/shared/src/main/scala/explore/model/arb/package.scala
  model-tests/shared/src/test/scala/explore/optics/ModelOpticsSuite.scala
  model/shared/src/main/scala/explore/CallForProposal.scala
  model/shared/src/main/scala/explore/Proposal.scala
  model/shared/src/main/scala/explore/ProposalType.scala
  model/shared/src/main/scala/explore/model/PartnerSplit.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/enums/TileSizeState.scala
  project/Versions.scala
  project/build.properties
Labels: common, explore, model, model-testkit, model-tests
