Repository gemini-hlsw/explore, pull requests merged in 2024-02, with the labels that each got.

#3557 Fix problem with explore not loading with invalid program id
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/cache/ProgramCache.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
Labels: explore, model

#3560 Bump libs
  explore/src/main/scala/explore/Explore.scala
  package-lock.json
  project/Versions.scala
Labels: explore

#3561 API changes
  explore/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  explore/src/clue/scala/queries/common/TargetQueriesGQL.scala
  explore/src/main/scala/explore/cache/ProgramCache.scala
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceViewer.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targets/TargetAddDeleteActions.scala
  project/Versions.scala
Labels: explore

#3568 Make the entire program readonly for submitted proposals
  explore/src/clue/scala/queries/common/TargetQueriesGQL.scala
  explore/src/main/scala/explore/EditableLabel.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/PAConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/constraints/ConstraintsPanel.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/SchedulingGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ViewCommon.scala
  explore/src/main/scala/explore/proposal/ProposalAttachmentsTable.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/OverviewTabContents.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
  explore/src/main/scala/explore/tabs/SchedulingTabContents.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SearchForm.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  explore/src/main/scala/explore/timingwindows/TimingWindowsPanel.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
Labels: common, explore, model

#3588 Use programTime instead of total summed time for execution
  model/shared/src/main/scala/explore/model/ObsSummary.scala
Labels: model

#3585 Group edit tiles
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  common/src/main/scala/explore/model/Focused.scala
  common/src/main/scala/explore/model/RoutingInfo.scala
  common/src/main/scala/explore/model/UserPreferences.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/ExecutionSubquery.scala
  explore/src/clue/scala/queries/common/GroupQueriesGQL.scala
  explore/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/common/GroupQueries.scala
  explore/src/main/scala/explore/config/sequence/VisitTable.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/obsTree.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/tabs/GroupEditTile.scala
  explore/src/main/scala/explore/tabs/ObsGroupTiles.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  hasura/user-prefs/metadata/databases/default/tables/public_exploreAsterismPreferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_exploreFinderChart.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaAsterism.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaObservation.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaUserPreferences.yaml
  hasura/user-prefs/migrations/default/1706201869044_insert_into_public_lucumaGridLayoutId/down.sql
  hasura/user-prefs/migrations/default/1706201869044_insert_into_public_lucumaGridLayoutId/up.sql
  model/shared/src/main/scala/explore/model/GroupElement.scala
  model/shared/src/main/scala/explore/model/Page.scala
  model/shared/src/main/scala/explore/model/TileIds.scala
  model/shared/src/main/scala/explore/model/enums/GridLayoutSection.scala
  package-lock.json
  package.json
  project/Versions.scala
Labels: common, explore, model

#3603 Update format shown for sequence times
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Labels: common, explore

#3602 Upgrade to lucuma-react 0.49 and lucuma-ui 0.94
  common/src/main/scala/explore/HelpContext.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/model/AppContext.scala
  explore/src/main/scala/explore/programs/ProgramChangeRequestsTile.scala
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/src/main/scala/explore/programs/ProgramNotesTile.scala
  explore/src/main/scala/explore/tabs/GroupEditTile.scala
  explore/src/main/scala/explore/tabs/ObsGroupTiles.scala
  project/Versions.scala
Labels: common, explore

#3596 Reinstate Visits
  explore/src/clue/scala/queries/common/VisitQueriesGQL.scala
  explore/src/clue/scala/queries/common/VisitsSQL.scala
  explore/src/main/scala/explore/common/GroupQueries.scala
  explore/src/main/scala/explore/config/sequence/VisitTable.scala
  explore/src/main/scala/explore/config/sequence/VisitsViewer.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
Labels: explore

#3613 Fix explore crash when selecting empty asterism on targets tab
  common/src/main/scala/explore/model/Focused.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
Labels: common, explore

#3594 Delay loading of execution times in ProgramCache (Alternate approach)
  common/src/main/scala/explore/cache/CacheComponent.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/scala/explore/syntax/ui/package.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/test/scala/explore/utils/StreamSpec.scala
  explore/src/clue/scala/queries/common/ExecutionSubquery.scala
  explore/src/clue/scala/queries/common/ObservationSummarySubquery.scala
  explore/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramTimesSubquery.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/cache/PreferencesCache.scala
  explore/src/main/scala/explore/cache/ProgramCache.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/observationtree/SchedulingGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ViewCommon.scala
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
  explore/src/main/scala/explore/tabs/SchedulingTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObsSummary.scala
  model/shared/src/main/scala/explore/model/Execution.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/ProgramTimes.scala
  model/shared/src/main/scala/explore/model/package.scala
Labels: common, explore, model, model-testkit
