Repository gemini-hlsw/explore, pull requests merged in 2024-10, with the labels that each got.

#4181 Support flip angle mode and fixes some edge cases
  common/src/main/scala/explore/model/ObsConfiguration.scala
  explore/src/main/scala/explore/config/PAConfigurationPanel.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
Labels: common, explore

#4182 Group rework
  explore/src/clue/scala/queries/common/GroupQueriesGQL.scala
  explore/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/src/clue/scala/queries/common/ObservationSubquery.scala
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/src/main/scala/explore/common/GroupQueries.scala
  explore/src/main/scala/explore/observationtree/GroupBadge.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/tabs/GroupEditBody.scala
  explore/src/main/scala/explore/tabs/ObsGroupTiles.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObservation.scala
  model-tests/shared/src/test/scala/explore/data/KeyedIndexedTreeSuite.scala
  model/shared/src/main/scala/explore/data/KeyedIndexedList.scala
  model/shared/src/main/scala/explore/data/tree/KeyedIndexedTree.scala
  model/shared/src/main/scala/explore/model/Group.scala
  model/shared/src/main/scala/explore/model/GroupElement.scala
  model/shared/src/main/scala/explore/model/GroupTree.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
Labels: explore, model, model-testkit, model-tests

#4183 Rerender ITC graph when basic config is overriden
  explore/src/main/scala/explore/itc/ItcProps.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/queries/schemas/itc/syntax.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Labels: explore, model, workers

#4187 Remove undroppable workaround now that it's fixed in PrimeReact
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/observationtree/ObsList.scala
  package-lock.json
  package.json
Labels: common, explore

#4188 Show calibrations at the bottom of observation tree
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  model/shared/src/main/scala/explore/model/GroupTree.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
Labels: explore, model

#4185 Setup honeycomb telemetry
  common/src/main/public/environments.conf.json
  common/src/main/scala/explore/model/AppConfig.scala
  common/src/main/scala/explore/model/TracingConfig.scala
  explore/src/main/scala/explore/RootComponent.scala
  explore/src/main/scala/explore/Telemetry.scala
  explore/src/main/scala/explore/model/AppContext.scala
  package-lock.json
  package.json
Labels: common, explore

#4189 Show science bands and allow setting/changing them.
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/ObservationSubquery.scala
  explore/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/components/ColumnSelectorInTitle.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/observationtree/SchedulingGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ScienceBandPopupMenu.scala
  explore/src/main/scala/explore/observationtree/ViewCommon.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/SchedulingTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditorBody.scala
  explore/src/main/scala/explore/targets/TargetSummaryBody.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObservation.scala
  model-tests/shared/src/test/scala/explore/optics/OpticsSuite.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/allocations.scala
  model/shared/src/main/scala/explore/optics/all.scala
  project/Versions.scala
Labels: common, explore, model, model-testkit, model-tests

#4192 Change SASS deprecated color function
  common/src/main/webapp/sass/datepicker/datepicker.scss
Labels: common

#4191 Show ITC errors on tile, as well as sequence errors
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/charts.scss
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/Telemetry.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceBody.scala
  explore/src/main/scala/explore/itc/ItcPanelBody.scala
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
  explore/src/main/scala/explore/itc/ItcProps.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/tabs/ItcTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  model/shared/src/main/scala/explore/model/newtypes.scala
  project/Versions.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Labels: common, explore, model, workers

#4196 Migrate to pragmatic-drag-and-drop
  package-lock.json
  package.json
  project/Versions.scala
Labels: skip-sc

#4197 Update lucuma-catalog to fix target search
  common/src/main/scala/explore/common/SimbadSearch.scala
  project/Versions.scala
Labels: common

#4199 Disable submission/retraction when program has a CfP that is due
  .github/workflows/ci.yml
  build.sbt
  explore/src/main/scala/explore/SubmittedProposalMessage.scala
  explore/src/main/scala/explore/proposal/ProposalSubmissionBar.scala
  model/shared/src/main/scala/explore/Proposal.scala
Labels: explore, model

#4200 Plots use their set date/semester instead of obs time
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  model/shared/src/main/scala/explore/model/ElevationPlotOptions.scala
Labels: explore, model

#4201 Hide the message for empty trees in the obs list
  common/src/main/webapp/sass/explore.scss
Labels: common

#4216 Support displaying/setting wavelength in nanometers or micrometers
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/resources/UserPreferencesDB.graphql
  explore/src/clue/scala/queries/common/UserPreferencesQueriesGQL.scala
  explore/src/clue/scala/queries/schemas/UserPreferencesDB.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/TopBar.scala
  explore/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/config/package.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaWavelengthUnits.yaml
  hasura/user-prefs/metadata/databases/default/tables/tables.yaml
  hasura/user-prefs/migrations/default/1729116536856_wavelengthh_units/down.sql
  hasura/user-prefs/migrations/default/1729116536856_wavelengthh_units/up.sql
  model/shared/src/main/scala/explore/model/ExploreModelValidators.scala
  model/shared/src/main/scala/explore/model/GlobalPreferences.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/enums/WavelengthUnits.scala
Labels: common, explore, model

#4218 Don't show ITC warnings for twilight calibrations
  common/src/main/scala/explore/model/ObsConfiguration.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/config/package.scala
  explore/src/main/scala/explore/itc/package.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/RVInput.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/SourceProfileEditor.scala
  explore/src/main/scala/explore/targeteditor/SpectralDefinitionEditor.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
Labels: common, explore, model

#4221 Fix toast for observation duplication
  explore/src/main/scala/explore/observationtree/ObsList.scala
Labels: explore

#4214 Elevation plot of multiple targets
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/plots/MoonCalc.scala
  explore/src/main/scala/explore/targeteditor/plots/NightPlot.scala
  explore/src/main/scala/explore/targeteditor/plots/ObjectPlotData.scala
  explore/src/main/scala/explore/targeteditor/plots/ObjectPlotOptions.scala
  explore/src/main/scala/explore/targeteditor/plots/ObjectPlotSection.scala
  explore/src/main/scala/explore/targeteditor/plots/SemesterPlot.scala
  explore/src/main/scala/explore/targeteditor/plots/SeriesType.scala
  explore/src/main/scala/explore/targeteditor/plots/SkyCalc.scala
Labels: skip-sc, common, explore, model

#4220 Initialize selected target even if the ITC tile is closed
  explore/src/main/scala/explore/itc/ItcPanelBody.scala
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
  project/Versions.scala
Labels: explore

#4228 Show dashed lines for targets not assigned to current site
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/plots/NightPlot.scala
  explore/src/main/scala/explore/targeteditor/plots/ObjectPlotData.scala
Labels: common, explore

#4229 Show airmass in target plots
  explore/src/main/scala/explore/targeteditor/plots/NightPlot.scala
Labels: explore

#4230 Restore displaying added and removed calibrations
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
Labels: explore

#4233 Workaround for twilight sequence
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceBody.scala
  project/Versions.scala
Labels: explore

#4235 Explicit selection of target editor in summary table
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/plots/NightPlot.scala
  explore/src/main/scala/explore/targeteditor/plots/ObjectPlotData.scala
  explore/src/main/scala/explore/targeteditor/plots/ObjectPlotOptions.scala
  explore/src/main/scala/explore/targeteditor/plots/ObjectPlotSection.scala
  explore/src/main/scala/explore/targets/TargetSummaryBody.scala
Labels: explore

#4238 Reinstante actions over focused target
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Labels: explore

#4255 Acquisition steps are optional
  model/shared/src/main/scala/explore/model/ExecutionOffsets.scala
Labels: model

#4252 Observation summary table improvements
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/components/ColumnSelectorInTitle.scala
  explore/src/main/scala/explore/constraints/ConstraintSummaryTile.scala
  explore/src/main/scala/explore/observationtree/ObsActions.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/observationtree/ViewCommon.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditorBody.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/TargetSummary.scala
Labels: skip-sc, common, explore

#4256 Don't show AND/OR for system groups
  explore/src/main/scala/explore/observationtree/GroupBadge.scala
  explore/src/main/scala/explore/tabs/ObsGroupTiles.scala
Labels: explore

#4253 Adds configuration requests and new observation workflow
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/ConfigurationRequestSubquery.scala
  explore/src/clue/scala/queries/common/ConfigurationSubquery.scala
  explore/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/src/clue/scala/queries/common/ObservationSubquery.scala
  explore/src/clue/scala/queries/common/ObservationValidationsSubquery.scala
  explore/src/clue/scala/queries/common/ObservationWorkflowSubquery.scala
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/src/main/scala/explore/observationtree/ObsActions.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/tabs/OverviewTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/validations/ObservationValidationsTableBody.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObservation.scala
  model/shared/src/main/scala/explore/data/KeyedIndexedList.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/package.scala
  project/Versions.scala
Labels: common, explore, model, model-testkit

#4260 Delete old, commented out file
  common/src/test/scala/explore/common/arb/ArbTargetObsQueries.scala
Labels: common

#4262 Elevation plots in observation summary
  USERPREFS.md
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  common/src/main/scala/explore/model/UserPreferences.scala
  common/src/main/webapp/css/react-grid-layout.css
  explore/src/main/scala/explore/config/sequence/SequenceEditorTile.scala
  explore/src/main/scala/explore/notes/NotesTile.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/tabs/FinderChartsTile.scala
  explore/src/main/scala/explore/tabs/ItcTile.scala
  explore/src/main/scala/explore/tabs/ObsGroupTiles.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/OverviewTabContents.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/timingwindows/TimingWindowsTile.scala
  hasura/user-prefs/metadata/databases/databases.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_exploreAsterismPreferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_exploreFinderChart.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaAsterism.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaItcPlotPreferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaObservation.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaUserPreferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/tables.yaml
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/model/TileIds.scala
  model/shared/src/main/scala/explore/model/enums/GridLayoutSection.scala
Labels: common, explore, model

#4263 Rename remaining references of obs status to obs state
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
Labels: common, explore

#4264 Final obs summary table improvements
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/plots/NightPlot.scala
  explore/src/main/scala/explore/targeteditor/plots/ObjectPlotSection.scala
  hasura/user-prefs/migrations/default/1730138000453_insert_into_public_lucumaGridLayoutId/down.sql
  hasura/user-prefs/migrations/default/1730138000453_insert_into_public_lucumaGridLayoutId/up.sql
  model/shared/src/main/scala/explore/data/tree/KeyedIndexedTree.scala
Labels: common, explore, model

#4266 Avoid text selection when shift pressed to select rows in obs summary table
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
Labels: explore

#4268 Add target counter on summary table title
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Labels: explore

#4267 Elevation plot improvements
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/targeteditor/plots/NightPlot.scala
Labels: common, explore

#4269 Fix charts title color
  common/src/main/webapp/sass/charts.scss
Labels: common

#4265 Remove KeyedIndexedList.unsafeMapValues in favor of a safe one.
  explore/src/main/scala/explore/validations/ObservationValidationsTableBody.scala
  model/shared/src/main/scala/explore/data/KeyedIndexedList.scala
Labels: explore, model

#4270 Simplify and unify ITC model
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcProps.scala
  explore/src/main/scala/explore/itc/ItcResultsCache.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/givens/package.scala
  model/shared/src/main/scala/explore/model/BasicConfigAndItc.scala
  model/shared/src/main/scala/explore/model/InstrumentConfigAndItcResult.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/itc/ItcRequestParams.scala
  model/shared/src/main/scala/explore/model/package.scala
  model/shared/src/main/scala/explore/modes/InstrumentConfig.scala
  model/shared/src/main/scala/explore/modes/InstrumentOverrides.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  model/shared/src/main/scala/explore/modes/package.scala
  model/shared/src/main/scala/explore/modes/syntax.scala
  model/shared/src/main/scala/queries/schemas/itc/syntax.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Labels: common, explore, model, workers

#4276 Add Configuration Requests Table
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/programs/ProgramChangeRequestsTile.scala
  explore/src/main/scala/explore/programs/ProgramConfigRequestsTile.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/display.scala
Labels: common, explore, model

#4271 Migrate to latest ODB changes regarding sequence offsets
  explore/src/clue/scala/queries/common/ObsQueriesGQL.scala
  project/Versions.scala
Labels: skip-sc, explore
