Repository gemini-hlsw/explore, pull requests merged in 2024-03, with the labels that each got.

#3622 Don't add reusability to aladin components
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
Labels: explore

#3619 Single program times updates pipeline
  explore/src/main/scala/explore/cache/ProgramCache.scala
Labels: explore

#3628 Upgrade dependencies - changes to Semester
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  model/shared/src/main/scala/explore/model/ElevationPlotOptions.scala
  project/Versions.scala
Labels: explore, model

#3630 Add finder chart to obs after upload
  explore/src/main/scala/explore/findercharts/FinderChartLinker.scala
  explore/src/main/scala/explore/findercharts/FinderCharts.scala
  explore/src/main/scala/explore/observationtree/package.scala
  project/Versions.scala
Labels: explore

#3636 Update odb and lucuma-schemas - removes graphQL interfaces
  explore/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/src/clue/scala/queries/common/VisitQueriesGQL.scala
  explore/src/main/scala/explore/config/sequence/VisitsViewer.scala
  model/shared/src/main/scala/explore/model/ExecutionOffsets.scala
  project/Versions.scala
Labels: explore, model

#3637 Allow adding new finder charts when the tile is closed
  common/src/main/scala/explore/syntax/ui/package.scala
  explore/src/main/scala/explore/attachments/package.scala
  explore/src/main/scala/explore/findercharts/FinderChartLinker.scala
  explore/src/main/scala/explore/findercharts/FinderCharts.scala
  explore/src/main/scala/explore/proposal/ProposalAttachmentUtils.scala
  explore/src/main/scala/explore/proposal/ProposalAttachmentsTable.scala
  explore/src/main/scala/explore/tabs/FinderChartsTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Labels: common, explore

#3641 Always allow edits to a group instead of only when it has >1 elements
  explore/src/main/scala/explore/tabs/GroupEditTile.scala
Labels: explore

#3652 Update lucuma-schemas v0.76.0- remove program id from some Inputs
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
  explore/src/main/scala/explore/common/AsterismQueries.scala
  explore/src/main/scala/explore/common/ProgramQueries.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismModifier.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/TargetPasteAction.scala
  project/Versions.scala
Labels: explore

#3654 Select the last uploaded finder chart
  explore/src/main/scala/explore/findercharts/FinderCharts.scala
  explore/src/main/scala/explore/findercharts/package.scala
  explore/src/main/scala/explore/proposal/PartnerSplitsEditor.scala
Labels: explore

#3657 Remove unused file
  explore/src/main/webapp/instrument_matrix.csv
Labels: explore

#3658 Load group program times separately from main query
  build.mjs
  explore/src/clue/scala/queries/common/GroupQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  explore/src/main/scala/explore/ExplorePWA.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/cache/ProgramCache.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/tabs/GroupEditTile.scala
  explore/src/main/scala/explore/tabs/ObsGroupTiles.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
  explore/src/main/webapp/index.html
  model/shared/src/main/scala/explore/model/GroupElement.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/package.scala
  project/Versions.scala
  vite.config.mts
Labels: explore, model

#3644 Remove program times update on `programEdit`
  explore/src/main/scala/explore/cache/ProgramCache.scala
Labels: explore

#3681 Use KeyedIndexedTree for groups in ProgramSummaries
  common/src/main/scala/explore/model/ObsNode.scala
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/cache/ProgramCache.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/obsTree.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/tabs/ObsGroupTiles.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  model-tests/shared/src/test/scala/explore/data/KeyedIndexedTreeSuite.scala
  model/shared/src/main/scala/explore/data/tree/KeyedIndexedTree.scala
  model/shared/src/main/scala/explore/model/GroupElement.scala
  model/shared/src/main/scala/explore/model/GroupTree.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
Labels: common, explore, model, model-tests

#3682 Allow spaces on the description
  explore/src/main/scala/explore/EditableLabel.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
Labels: explore

#3684 Move user details table to its own tile
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  model/shared/src/main/scala/explore/model/TileIds.scala
Labels: common, explore, model

#3692 Remove index and parentId from GroupTree node data
  common/src/main/scala/explore/model/ObsNode.scala
  common/src/test/scala/explore/undo/UndoContextSpec.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/cache/ProgramCache.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/tabs/GroupEditTile.scala
  explore/src/main/scala/explore/tabs/ObsGroupTiles.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbTree.scala
  model-tests/shared/src/test/scala/explore/undo/ListModSpec.scala
  model/shared/src/main/scala/explore/data/KeyedIndexedList.scala
  model/shared/src/main/scala/explore/data/tree/KeyedIndexedTree.scala
  model/shared/src/main/scala/explore/model/GroupElement.scala
  model/shared/src/main/scala/explore/model/GroupTree.scala
  model/shared/src/main/scala/explore/model/package.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
  model/shared/src/main/scala/explore/undo/KIListMod.scala
Labels: common, explore, model, model-testkit, model-tests

#3696 Unify sequence table logic with observe
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
  explore/src/main/scala/explore/components/ConnectionsStatus.scala
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceTables.scala
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceViewer.scala
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
  explore/src/main/scala/explore/config/sequence/VisitTable.scala
  explore/src/main/scala/explore/config/sequence/VisitsViewer.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/proposal/ProposalAttachmentsTable.scala
  explore/src/main/scala/explore/tabs/FinderChartsTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
  package-lock.json
  project/Versions.scala
Labels: common, explore

#3698 Fix ReactMarkdown properties
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/HelpBody.scala
  package-lock.json
  package.json
  project/Versions.scala
Labels: common, explore

#3700 Filter out deleted observations in GroupTree
  explore/src/clue/scala/queries/common/GroupQueriesGQL.scala
  model/shared/src/main/scala/explore/model/GroupElement.scala
  model/shared/src/main/scala/explore/model/GroupTree.scala
Labels: explore, model

#3702 Add key prop to group edit tile
  explore/src/main/scala/explore/tabs/ObsGroupTiles.scala
Labels: explore

#3695 Fix configuration filtering and slit width format
  build.sbt
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/ImagingConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  model-tests/jvm/src/test/scala/explore/modes/ModesSuite.scala
  model-tests/shared/src/test/scala/explore/model/ExploreModelValidatorsSuite.scala
  model/shared/src/main/scala/explore/model/ExploreModelValidators.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/formats.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Labels: explore, model, model-tests

#3711 Fix error showing user preferences
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
Labels: explore
