Repository gemini-hlsw/explore, pull requests merged in 2024-08, with the labels that each got.

#4035 Add Now button to obs time
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/ObsTimeEditor.scala
  explore/src/main/scala/explore/config/VizTimeEditor.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
Labels: common, explore

#4036 Enable trace logging
  common/src/main/scala/explore/Icons.scala
  explore/src/main/scala/explore/TopBar.scala
Labels: common, explore

#4037 Fix tile layouts for target summary table
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Labels: common, explore

#4042 Use the real duration to calculate the average PA
  common/src/main/scala/explore/model/ObsConfiguration.scala
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AgsOverlay.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  model/shared/src/main/scala/explore/model/Constants.scala
Labels: common, explore, model

#4043 Change allocations from Partners to TimeAccountingCategories
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/scala/explore/syntax/ui/package.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/AllocationSubquery.scala
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/src/main/scala/explore/programs/TimeAwardTable.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
  model/shared/src/main/scala/explore/model/allocations.scala
  project/Versions.scala
Labels: common, explore, model

#4044 Allow changing S/N at in the advanced conf panel
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/config/package.scala
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
  explore/src/main/scala/explore/itc/ItcProps.scala
Labels: common, explore

#4045 Better placement of "Now" button, and avoid flicker when changing observation time
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
Labels: common, explore

#4046 Break race condition when selecting newly created target and previous focus was on observation
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Labels: explore

#4047 Expand program selection table to available height, scroll to bottom when new program added
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/programs/ProgramsPopup.scala
Labels: common, explore

#4048 Reset error message when changing cfp
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
Labels: explore

#4049 Make explore work with the latest schema
  explore/src/clue/scala/queries/common/ProgramUserWithRoleSubquery.scala
  explore/src/main/scala/explore/proposal/ProgramUsersTable.scala
  model/shared/src/main/scala/explore/model/ProgramUserWithRole.scala
  project/Versions.scala
Labels: explore, model

#4050 Conform to new SASS rules for mixed declarations
  common/src/main/webapp/sass/explore.scss
Labels: common

#4054 Show the deadline if a proposal can be retracted
  common/src/main/scala/explore/model/RootModel.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/cache/CfpCache.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  model/shared/src/main/scala/explore/CallForProposal.scala
  model/shared/src/main/scala/explore/Proposal.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
Labels: common, explore, model

#4055 Cache modifies view instead of setting
  common/src/main/scala/explore/cache/CacheControllerComponent.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/cache/CfpCacheController.scala
  explore/src/main/scala/explore/cache/ModesCacheController.scala
  explore/src/main/scala/explore/cache/PreferencesCacheController.scala
  explore/src/main/scala/explore/cache/ProgramCache.scala
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
Labels: common, explore

#4057 Update pi to support the latest schema
  explore/src/clue/scala/queries/common/ProgramDetailsSubquery.scala
  explore/src/clue/scala/queries/common/ProgramUserSubquery.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
  model/shared/src/main/scala/explore/model/ProgramUser.scala
  model/shared/src/main/scala/explore/model/ProgramUserWithRole.scala
  model/shared/src/main/scala/explore/model/enums/ProgramUserRole.scala
  project/Versions.scala
Labels: explore, model

#4058 Use the new api to update observation time
  explore/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/src/clue/scala/queries/common/ObservationSubquery.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObservation.scala
  model/shared/src/main/scala/explore/model/ElevationPlotOptions.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  project/Versions.scala
Labels: explore, model, model-testkit

#4056 Prevent asterism updates for executed observations, add undo/redo
  .vscode/settings.json
  explore/src/clue/scala/queries/common/AsterismQueriesGQL.scala
  explore/src/main/scala/explore/common/AsterismQueries.scala
  explore/src/main/scala/explore/common/TargetQueries.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismActions.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/AsterismModifier.scala
  explore/src/main/scala/explore/targeteditor/TargetCloneAction.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  model-tests/shared/src/test/scala/explore/model/TargetEditCloneInfoSuite.scala
  model/shared/src/main/scala/explore/model/ObsIdSet.scala
  model/shared/src/main/scala/explore/model/ObsIdSetEditInfo.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/model/OnAsterismUpdateParams.scala
  model/shared/src/main/scala/explore/model/TargetEditCloneInfo.scala
  model/shared/src/main/scala/explore/model/TargetEditObsInfo.scala
  model/shared/src/main/scala/explore/model/package.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
Labels: explore, model, model-tests

#4062 Fix missing css class
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/tabs/ItcTile.scala
Labels: common, explore

#4077 Support selecting a users' partner
  build.sbt
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/main/scala/explore/common/ProgramQueries.scala
  explore/src/main/scala/explore/proposal/ProgramUsersTable.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/model/ProgramUserWithRole.scala
  project/Dependencies.scala
  project/Versions.scala
Labels: common, explore, model

#4081 Correct for PM on the target editor's elevation plot
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Labels: explore

#4086 Small UI fixes
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SchedulingTabContents.scala
  explore/src/main/scala/explore/timingwindows/TimingWindowsTile.scala
Labels: common, explore

#4091 Support calibration observation deletion
  explore/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
  project/Versions.scala
Labels: explore

#4092 Show the deadline for the selected partner
  common/src/main/scala/explore/model/RootModel.scala
  explore/src/clue/scala/queries/common/CallsQueriesGQL.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbCallForProposal.scala
  model/shared/src/main/scala/explore/CallForProposal.scala
  model/shared/src/main/scala/explore/Proposal.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
Labels: common, explore, model, model-testkit
