Repository gemini-hlsw/explore, pull requests merged in 2024-06, with the labels that each got.

#3873 Add partner to invite form
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/InvitationQueriesGQL.scala
  explore/src/main/scala/explore/proposal/InviteUserPopup.scala
Labels: common, explore

#3874 Replace lint-action
  .github/workflows/ci.yml
  .prettierignore
  build.sbt
Labels: common

#3875 Set ToO
  explore/src/main/scala/explore/common/ProposalQueries.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
Labels: explore

#3877 Round hoursMinutes timespans to nearest minute
  model-tests/shared/src/test/scala/explore/model/syntax/SyntaxSuite.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
Labels: model, model-tests

#3880 Migrate common code to lucuma-ui
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/syntax/ui/package.scala
  common/src/main/scala/explore/utils/ToastCtx.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
Labels: common, explore

#3884 Obey readOnly on the proposal investigators tile
  explore/src/main/scala/explore/proposal/InviteUserPopup.scala
  explore/src/main/scala/explore/proposal/ProgramUserInvitations.scala
  explore/src/main/scala/explore/proposal/ProgramUsers.scala
  explore/src/main/scala/explore/proposal/ProgramUsersTable.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
Labels: explore

#3885 Migrate visualization tooltips to primereact
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/tooltips.scss
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/visualization/CrossTarget.scala
  explore/src/main/scala/explore/visualization/GuideStarTarget.scala
  explore/src/main/scala/explore/visualization/GuideStarTooltip.scala
  explore/src/main/scala/explore/visualization/OffsetSVG.scala
  explore/src/main/scala/explore/visualization/SVGTooltip.scala
  explore/src/main/scala/explore/visualization/TargetsOverlay.scala
  explore/src/main/scala/explore/visualization/package.scala
  explore/src/main/webapp/main.jsx
Labels: common, explore

#3892 A few UI touches
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/findercharts/FinderChartLinker.scala
  explore/src/main/scala/explore/findercharts/FinderCharts.scala
  explore/src/main/scala/explore/findercharts/package.scala
  explore/src/main/scala/explore/tabs/FinderChartsTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/SearchForm.scala
Labels: common, explore

#3889 Show the partner flag on the investigators' list
  explore/src/clue/scala/queries/common/ProgramUserWithRoleSubquery.scala
  explore/src/main/scala/explore/proposal/ProgramUsersTable.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
  model/shared/src/main/scala/explore/model/ProgramUserWithRole.scala
Labels: explore, model

#3867 Final (hopefully) fix for minimized tile bug on target tab
  common/src/main/scala/explore/model/layout.scala
  explore/src/main/scala/explore/components/TileController.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Labels: common, explore

#3886 Show dataset links, if valid
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/HelpBody.scala
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
  explore/src/main/scala/explore/model/AppContext.scala
  project/Versions.scala
Labels: explore

#3895 Show a message when there are no observations in the proposal
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
Labels: explore

#3903 Upgrade to latest lucuma-ui with explicit httpClient
  explore/src/main/scala/explore/HelpBody.scala
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
  explore/src/main/scala/explore/model/AppContext.scala
  project/Versions.scala
Labels: explore

#3908 Update schema - delete CallForProposalType (moved to core)
  explore/src/main/scala/explore/common/ProposalQueries.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbCallForProposal.scala
  model/shared/src/main/scala/explore/CallForProposal.scala
  project/Versions.scala
Labels: explore, model, model-testkit

#3911 Initial observation validations
  explore/src/clue/scala/queries/common/ObservationSummarySubquery.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObsSummary.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
Labels: explore, model, model-testkit

#3913 Support opening programs without a pi
  explore/src/main/scala/explore/proposal/ProgramUsers.scala
  explore/src/main/scala/explore/proposal/ProgramUsersTable.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
Labels: explore, model

#3918 Update resizer, enable in sequence.
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
  package-lock.json
  package.json
  project/Versions.scala
Labels: explore

#3920 Add Observation Validations Table
  common/src/main/scala/explore/Icons.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/tabs/OverviewTabContents.scala
  explore/src/main/scala/explore/validations/ObservationValidationsTable.scala
Labels: common, explore

#3921 Avoid table remounts in ObsSummaryTable and ObsAttachmentsTable
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
  explore/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
Labels: explore

#3922 Fix aladin container with new resizer
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
Labels: explore

#3927 Avoid remounts in FinderChartLinker
  explore/src/main/scala/explore/findercharts/FinderChartLinker.scala
Labels: explore

#3928 Avoid table remounts in ProgramTable, ProgramUsersTable, TimingWindowsPanel
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/proposal/ProgramUsersTable.scala
  explore/src/main/scala/explore/timingwindows/TimingWindowsPanel.scala
Labels: explore

#3929 Avoid table remounts in TargetTable, BrightnessEditor and EmissionLineEditor
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/proposal/ProgramUserInvitations.scala
  explore/src/main/scala/explore/proposal/ProposalAttachmentUtils.scala
  explore/src/main/scala/explore/proposal/ProposalAttachmentsTable.scala
  explore/src/main/scala/explore/targeteditor/BrightnessesEditor.scala
  explore/src/main/scala/explore/targeteditor/EmissionLineEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
Labels: explore

#3930 Use container queries instead of ResponsiveComponent
  common/src/main/scala/explore/components/ResponsiveComponent.scala
  common/src/main/scala/explore/components/Tile.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore-common.scss
  common/src/main/webapp/sass/explore.scss
Labels: common

#3932 UserPrefs UI improvement
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
Labels: common, explore

#3934 Avoid table remounts in SpectroscopyModesTable
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  project/Versions.scala
Labels: explore

#3933 Remove old styles.less
  common/src/main/webapp/css/react-grid-layout.css
  common/src/main/webapp/css/react-resizable.css
  common/src/main/webapp/less/legacyvariables.less
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/webapp/main.jsx
  vite.config.mts
Labels: common, explore

#3935 Fix chart resize
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
Labels: common, explore

#3938 Better UI for tiny chart tiles
  common/src/main/webapp/css/react-grid-layout.css
  common/src/main/webapp/sass/charts.scss
  common/src/main/webapp/sass/explore-common.scss
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
Labels: common, explore

#3943 Remove last less file
  common/src/main/webapp/sass/explore-grid.scss
  explore/src/main/webapp/index.html
  explore/src/main/webapp/main.jsx
  package-lock.json
  package.json
  vite.config.mts
Labels: common, explore

#3947 Fix ITC chart display on resize
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcPlotControl.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
Labels: common, explore

#3948 Fix decoding of program references
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
Labels: model
