Repository gemini-hlsw/explore, pull requests merged in 2024-11, with the labels that each got.

#4281 Add Unrequested Configurations table
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/model/AppContext.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/programs/ConfigurationRequestEditorPopup.scala
  explore/src/main/scala/explore/programs/ConfigurationTableColumnBuilder.scala
  explore/src/main/scala/explore/programs/ProgramConfigRequestsTile.scala
  explore/src/main/scala/explore/programs/ProgramUnrequestedConfigsTable.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
  explore/src/main/scala/explore/validations/ObservationValidationsTableBody.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/TileIds.scala
Labels: common, explore, model

#4283 Hide unavailable states in ObsBadge dropdown
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
Labels: explore

#4284 Save state of obs validations, requested and unrequested configs tables
  explore/src/main/scala/explore/programs/ConfigurationRequestEditorPopup.scala
  explore/src/main/scala/explore/programs/ProgramConfigRequestsTile.scala
  explore/src/main/scala/explore/programs/ProgramUnrequestedConfigsTable.scala
  explore/src/main/scala/explore/tabs/OverviewTabContents.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
  explore/src/main/scala/explore/validations/ObservationValidationsTableBody.scala
  hasura/user-prefs/migrateDev.sh
  hasura/user-prefs/migrateMaster.sh
  hasura/user-prefs/migrations/default/1730765051390_new_table_ids/down.sql
  hasura/user-prefs/migrations/default/1730765051390_new_table_ids/up.sql
  model/shared/src/main/scala/explore/model/enums/TableIds.scala
Labels: explore, model

#4285 Adapt new schema to remmove deleted targets
  explore/src/clue/scala/queries/common/TargetQueriesGQL.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  project/Versions.scala
Labels: explore

#4291 Add margin to last item in the obs lists to provide room for url preview
  common/src/main/webapp/sass/explore.scss
Labels: common

#4292 Add proprietary period to program details tile
  explore/src/clue/scala/queries/common/ProgramDetailsSubquery.scala
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
Labels: explore, model

#4293 Exclude inactive and calibration obs from config request tables
  explore/src/main/scala/explore/model/AppContext.scala
  explore/src/main/scala/explore/programs/ConfigurationTableColumnBuilder.scala
  explore/src/main/scala/explore/programs/ProgramConfigRequestsTile.scala
  explore/src/main/scala/explore/programs/ProgramUnrequestedConfigsTable.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
Labels: explore, model

#4295 Tile reorganization, column selector fix
  common/src/main/scala/explore/components/Tile.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/components/ColumnSelectorInTitle.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationTile.scala
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceBody.scala
  explore/src/main/scala/explore/config/sequence/SequenceEditorTile.scala
  explore/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/src/main/scala/explore/constraints/ConstraintSummaryTile.scala
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTile.scala
  explore/src/main/scala/explore/findercharts/FinderChartsBody.scala
  explore/src/main/scala/explore/findercharts/FinderChartsTile.scala
  explore/src/main/scala/explore/itc/ItcPanelBody.scala
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
  explore/src/main/scala/explore/itc/ItcTile.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTile.scala
  explore/src/main/scala/explore/plots/ElevationPlotTile.scala
  explore/src/main/scala/explore/plots/MoonCalc.scala
  explore/src/main/scala/explore/plots/NightPlot.scala
  explore/src/main/scala/explore/plots/ObjectPlotData.scala
  explore/src/main/scala/explore/plots/ObjectPlotOptions.scala
  explore/src/main/scala/explore/plots/SemesterPlot.scala
  explore/src/main/scala/explore/plots/SeriesType.scala
  explore/src/main/scala/explore/plots/SkyCalc.scala
  explore/src/main/scala/explore/schedulingWindows/SchedulingWindowsTile.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/tabs/FinderChartsTile.scala
  explore/src/main/scala/explore/tabs/ItcTile.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SchedulingTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditorBody.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditorTile.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targeteditor/package.scala
  explore/src/main/scala/explore/targeteditor/plots/ObjectPlotSection.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
  explore/src/main/scala/explore/targets/TargetSummary.scala
  explore/src/main/scala/explore/targets/TargetSummaryTile.scala
  explore/src/main/scala/explore/timingwindows/TimingWindowsTile.scala
  model/shared/src/main/scala/explore/model/TileIds.scala
  project/Versions.scala
Labels: common, explore, model

#4296 Rename ItcProps to ItcGraphQuerier, fix the reusability
  explore/src/main/scala/explore/itc/ItcGraphQuerier.scala
  explore/src/main/scala/explore/itc/ItcTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Labels: explore

#4299 Correctly plot observation time and refresh visualization if it changes
  common/src/main/scala/explore/model/PAProperties.scala
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/plots/ElevationPlotTile.scala
  explore/src/main/scala/explore/plots/NightPlot.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/SiderealDiscretizedObsTime.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
Labels: common, explore, model

#4304 Use stateInViewHandler where possible, enable restore table state
  explore/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTile.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTile.scala
  explore/src/main/scala/explore/programs/ProgramUnrequestedConfigsTable.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditorTile.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/TargetSummaryTile.scala
  project/Versions.scala
Labels: explore

#4307 Allow setting X and Y Binning independently
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
Labels: common, explore

#4311 Fix decoding bug
  model/shared/src/main/scala/explore/model/ExecutionOffsets.scala
Labels: model

#4308 Simplify group model
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/scala/explore/syntax/ui/package.scala
  common/src/main/scala/explore/utils/package.scala
  explore/src/clue/scala/queries/common/GroupQueriesGQL.scala
  explore/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/src/clue/scala/queries/common/ObservationSubquery.scala
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/main/scala/explore/actions/ObservationInsertAction.scala
  explore/src/main/scala/explore/actions/ObservationPasteIntoAsterismAction.scala
  explore/src/main/scala/explore/actions/ObservationPasteIntoConstraintSetAction.scala
  explore/src/main/scala/explore/actions/ObservationPasteIntoSchedulingGroupAction.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/src/main/scala/explore/common/GroupQueries.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsListActions.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ObsActions.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTile.scala
  explore/src/main/scala/explore/observationtree/ObsTree.scala
  explore/src/main/scala/explore/observationtree/SchedulingGroupObsList.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/programs/ProgramUnrequestedConfigsTable.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/GroupEditBody.scala
  explore/src/main/scala/explore/tabs/ObsGroupTiles.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/SchedulingTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismActions.scala
  explore/src/main/scala/explore/targeteditor/TargetCloneAction.scala
  explore/src/main/scala/explore/targets/TargetPasteAction.scala
  explore/src/main/scala/explore/validations/ObservationValidationsTableBody.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObservation.scala
  model/shared/src/main/scala/explore/model/Group.scala
  model/shared/src/main/scala/explore/model/GroupElement.scala
  model/shared/src/main/scala/explore/model/GroupTree.scala
  model/shared/src/main/scala/explore/model/ObsIdSetEditInfo.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/package.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
  model/shared/src/main/scala/explore/optics/all.scala
Labels: common, explore, model, model-testkit

#4312 Effect profiling, increase throttling timeout
  common/src/main/scala/explore/utils/package.scala
  explore/src/main/scala/explore/RootComponent.scala
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
Labels: common, explore

#4313 Use ccd default code migrated to core
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  model/shared/src/main/scala/explore/modes/syntax.scala
Labels: model

#4314 Fix scheduling group update, expand group with focused observation
  explore/src/main/scala/explore/observationtree/SchedulingGroupObsList.scala
  explore/src/main/scala/explore/schedulingWindows/SchedulingWindowsTile.scala
  explore/src/main/scala/explore/tabs/SchedulingTabContents.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
Labels: explore, model

#4320 Improve error handling if the fetch call throws an exception
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
Labels: workers

#4327 Add now-required executionState to digest query
  explore/src/clue/scala/queries/common/ExecutionSubquery.scala
Labels: skip-sc, explore

#4329 Default slit observations to use parallactic angle plus more undo/redo
  common/src/main/scala/explore/model/ObsConfiguration.scala
  common/src/main/scala/explore/model/PAProperties.scala
  explore/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/src/main/scala/explore/config/ConfigurationTile.scala
  explore/src/main/scala/explore/config/PAConfigurationPanel.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  model/shared/src/main/scala/explore/model/ObservingModeSummary.scala
  model/shared/src/main/scala/explore/model/package.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Labels: common, explore, model

#4330 Migrate to new ITC API
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcGraphQuerier.scala
  explore/src/main/scala/explore/itc/ItcResultsCache.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/model/itc/ItcRequestParams.scala
  model/shared/src/main/scala/queries/schemas/itc/syntax.scala
  project/Versions.scala
  workers/src/main/scala/workers/ItcServer.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Labels: explore, model, workers

#4336 Hide some of the tiles until the proposal has been accepted.
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/OverviewTabContents.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
Labels: explore, model

#4342 Support emission lines
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcResultsCache.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlotDescription.scala
  explore/src/main/scala/explore/itc/ItcTile.scala
  explore/src/main/scala/explore/itc/package.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
  model/shared/src/main/scala/explore/model/itc/ItcTarget.scala
  model/shared/src/main/scala/explore/optics/ModelOptics.scala
  project/Versions.scala
Labels: explore, model

#4344 Typed auth header in lucuma-ui
  common/src/main/scala/explore/syntax/ui/package.scala
  project/Versions.scala
Labels: common

#4345 Add indicators of required fields on the proposals editor
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/proposal/ProposalAttachmentsTable.scala
  explore/src/main/scala/explore/proposal/ProposalDetailsTile.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/users/InviteUserButton.scala
  explore/src/main/scala/explore/users/ProgramUsersTable.scala
Labels: common, explore
