Repository gemini-hlsw/explore, pull requests merged in 2025-01, with the labels that each got.

#4450 Read the proprietary months from the odb
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
Labels: explore, model

#4456 Change terminology for CoIs
  explore/src/main/scala/explore/users/AddProgramUserButton.scala
  model/shared/src/main/scala/explore/model/display.scala
Labels: explore, model

#4457 Remove AddProgramUserButton for support users
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/src/main/scala/explore/programs/SupportUsers.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
  explore/src/main/scala/explore/users/AddProgramUserButton.scala
  explore/src/main/scala/explore/users/ProgramUsersTable.scala
Labels: explore

#4465 Prioritize current obsservation configuration mode over the last one selected on the table row
  explore/src/main/scala/explore/config/package.scala
  explore/src/main/scala/explore/itc/ItcGraphQuerier.scala
Labels: explore

#4468 Implement AsyncAction, use Toast.showDuring for pasting observations
  UNDO.md
  common/src/main/scala/explore/undo/AsyncAction.scala
  common/src/main/scala/explore/utils/ToastCtx.scala
  common/src/main/scala/explore/utils/package.scala
  explore/src/main/scala/explore/actions/ObservationPasteIntoAsterismAction.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  package-lock.json
  package.json
  project/Versions.scala
Labels: common, explore

#4469 Configuration request UI improvements
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/ConfigurationRequestSubquery.scala
  explore/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/src/main/scala/explore/common/ProgramQueries.scala
  explore/src/main/scala/explore/programs/ConfigurationRequestEditorPopup.scala
  explore/src/main/scala/explore/programs/ConfigurationRequestJustificationViewer.scala
  explore/src/main/scala/explore/programs/ProgramConfigRequestsTile.scala
  explore/src/main/scala/explore/programs/ProgramUnrequestedConfigsTile.scala
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
  model/shared/src/main/scala/explore/model/ConfigurationRequestWithObsIds.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/newtypes.scala
  model/shared/src/main/scala/explore/model/package.scala
  project/Versions.scala
Labels: common, explore, model

#4472 Requery workflows on CfP change
  explore/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
Labels: explore

#4476 Keep sequence tile at bottom of obs tab
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  common/src/main/scala/explore/model/UserPreferences.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  hasura/user-prefs/migrations/default/1736803643273_separate_sequence_layout/down.sql
  hasura/user-prefs/migrations/default/1736803643273_separate_sequence_layout/up.sql
  model/shared/src/main/scala/explore/model/enums/GridLayoutSection.scala
Labels: common, explore, model

#4478 Focus newly created target and allow navigation to a target via URL
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/targets/TargetAddDeleteActions.scala
  explore/src/main/scala/explore/targets/TargetSummaryTile.scala
Labels: explore

#4482 Better way to select modes only for a few instruments
  explore/src/clue/scala/queries/common/ModesQueriesGQL.scala
  explore/src/main/scala/explore/cache/ModesCacheController.scala
Labels: explore

#4484 Don't set read only bit for staff users
  common/src/main/scala/explore/model/RootModelViews.scala
Labels: common

#4477 Clue error rework
  .scalafix.conf
  build.sbt
  common/src/main/scala/explore/syntax/ui/package.scala
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/ObsReferenceResolver.scala
  explore/src/main/scala/explore/ProgramReferenceResolver.scala
  explore/src/main/scala/explore/ProposalReferenceResolver.scala
  explore/src/main/scala/explore/cache/CfpCacheController.scala
  explore/src/main/scala/explore/cache/ModesCacheController.scala
  explore/src/main/scala/explore/cache/PreferencesCacheController.scala
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/src/main/scala/explore/common/AsterismQueries.scala
  explore/src/main/scala/explore/common/ConstraintsQueries.scala
  explore/src/main/scala/explore/common/GroupQueries.scala
  explore/src/main/scala/explore/common/ProgramQueries.scala
  explore/src/main/scala/explore/common/ScienceQueries.scala
  explore/src/main/scala/explore/common/TargetQueries.scala
  explore/src/main/scala/explore/common/TimingWindowsQueries.scala
  explore/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/config/ConfigurationTile.scala
  explore/src/main/scala/explore/config/TargetImportPopup.scala
  explore/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/src/main/scala/explore/model/AppContext.scala
  explore/src/main/scala/explore/model/GraphQLClients.scala
  explore/src/main/scala/explore/observationtree/ObsActions.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/proposal/ProposalSubmissionBar.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targets/TargetAddDeleteActions.scala
  explore/src/main/scala/explore/targets/TargetSource.scala
  explore/src/main/scala/explore/users/AddProgramUserButton.scala
  explore/src/main/scala/explore/users/InviteUserPopup.scala
  explore/src/main/scala/explore/users/RedeemInvitationsPopup.scala
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
  model/shared/src/main/scala/explore/package.scala
  project/Dependencies.scala
  project/Versions.scala
Labels: common, explore, model

#4503 Lost query
  explore/src/clue/scala/queries/common/ModesQueriesGQL.scala
Labels: explore

#4513 Update sass and migrate some stylesheets
  common/src/main/webapp/sass/datepicker/datepicker.scss
  common/src/main/webapp/sass/datepicker/mixins.scss
  package-lock.json
  package.json
Labels: common

#4505 Unify program name/description and proposal title/abstract.
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  common/src/main/scala/explore/model/ModelUndoStacks.scala
  common/src/main/scala/explore/model/RootModel.scala
  common/src/main/scala/explore/model/RootModelViews.scala
  common/src/main/scala/explore/syntax/ui/package.scala
  explore/src/clue/scala/queries/common/ProgramDetailsSubquery.scala
  explore/src/clue/scala/queries/common/ProgramInfoSubquery.scala
  explore/src/clue/scala/queries/common/ProposalQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProposalSubquery.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/TopBar.scala
  explore/src/main/scala/explore/common/ProgramQueries.scala
  explore/src/main/scala/explore/common/ProposalQueries.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/programs/ProgramsPopup.scala
  explore/src/main/scala/explore/proposal/ProposalDetailsTile.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbProposal.scala
  model/shared/src/main/scala/explore/Proposal.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
  model/shared/src/main/scala/explore/model/ProgramInfo.scala
  model/shared/src/main/scala/explore/model/ProgramUser.scala
  model/shared/src/main/scala/explore/model/User.scala
  project/Versions.scala
Labels: common, explore, model, model-testkit

#4515 Support displaying the elevation plot in a 24h range
  explore/src/main/scala/explore/plots/ElevationPlotTile.scala
  explore/src/main/scala/explore/plots/NightPlot.scala
  explore/src/main/scala/explore/plots/ObjectPlotOptions.scala
  hasura/user-prefs/migrations/default/1737752971928_insert_into_public_explorePlotRange/down.sql
  hasura/user-prefs/migrations/default/1737752971928_insert_into_public_explorePlotRange/up.sql
  model/shared/src/main/scala/explore/model/enums/PlotRange.scala
  model/shared/src/main/scala/explore/model/enums/TimeDisplay.scala
Labels: explore, model

#4524 Add overview tile for edit program description for non-science programs.
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/tabs/OverviewTabContents.scala
  model/shared/src/main/scala/explore/model/TileIds.scala
Labels: common, explore, model

#4525 Allow readonly CoIs to edit their own information
  explore/src/main/scala/explore/programs/SupportUsers.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/users/ProgramUsersTable.scala
Labels: explore

#4526 Allow for changing between readonly and full access for CoIs.
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/main/scala/explore/common/ProgramQueries.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/users/AddReadonlyCoiButton.scala
  explore/src/main/scala/explore/users/ProgramUsersTable.scala
  model/shared/src/main/scala/explore/model/ProgramUser.scala
Labels: explore, model

#4528 Add `New Science Data` notification checkbox to Program tab
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/ProgramDetailsSubquery.scala
  explore/src/main/scala/explore/common/ProgramQueries.scala
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
Labels: common, explore, model

#4531 Allow scrolling on Overview tab
  explore/src/main/scala/explore/tabs/OverviewTabContents.scala
Labels: explore

#4530 Limit editing of COI access level to PI and staff
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/users/ProgramUsersTable.scala
Labels: explore

#4529 Changes to proposal submission
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/proposal/ProposalSubmissionBar.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/package.scala
Labels: explore, model
