Repository gemini-hlsw/explore, pull requests merged in 2025-03, with the labels that each got.

#4590 Update sequence on dataset change
  explore/src/clue/scala/queries/common/VisitQueriesGQL.scala
  explore/src/main/scala/explore/config/sequence/SequenceTileHelper.scala
  project/Versions.scala
Labels: explore

#4607 SED editor refactor
  common/src/main/scala/explore/model/enums/SEDType.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/tabs/OverviewTabContents.scala
  explore/src/main/scala/explore/targeteditor/BrightnessesEditor.scala
  explore/src/main/scala/explore/targeteditor/EmissionLineEditor.scala
  explore/src/main/scala/explore/targeteditor/SourceProfileEditor.scala
  explore/src/main/scala/explore/targeteditor/package.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/IntegratedSpectralDefinitionEditor.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/SpectralDefinitionEditor.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/SpectralDefinitionEditorBuilder.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/SurfaceSpectralDefinitionEditor.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/brightnessesEditor/BrightnessesEditor.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/brightnessesEditor/BrightnessesEditorBuilder.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/brightnessesEditor/IntegratedBrightnessEditor.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/brightnessesEditor/SurfaceBrightnessEditor.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/emissionLineEditor/EmissionLineEditor.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/emissionLineEditor/EmissionLineEditorBuilder.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/emissionLineEditor/IntegratedEmissionLineEditor.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/emissionLineEditor/SurfaceEmissionLineEditor.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/emissionLineEditor/package.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/display.scala
  project/Versions.scala
Labels: common, explore, model

#4614 Custom SED - Part 2 - File upload
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/attachments/package.scala
  explore/src/main/scala/explore/components/FileUploadButton.scala
  explore/src/main/scala/explore/findercharts/FinderChartsTile.scala
  explore/src/main/scala/explore/findercharts/package.scala
  explore/src/main/scala/explore/model/AppContext.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditorTile.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/SourceProfileEditor.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/IntegratedSpectralDefinitionEditor.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/SpectralDefinitionEditor.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/SpectralDefinitionEditorBuilder.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/SurfaceSpectralDefinitionEditor.scala
  workers/src/main/scala/workers/ItcServer.scala
Labels: explore, workers

#4612 Group warnings table
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/tabs/OverviewTabContents.scala
  explore/src/main/scala/explore/validations/GroupWarningsTile.scala
  explore/src/main/scala/explore/validations/ObservationValidationsTable.scala
  hasura/user-prefs/migrations/default/1741292981236_group_warnings_table/down.sql
  hasura/user-prefs/migrations/default/1741292981236_group_warnings_table/up.sql
  model/shared/src/main/scala/explore/model/TileIds.scala
  model/shared/src/main/scala/explore/model/enums/TableIds.scala
Labels: common, explore, model

#4617 Update explore for the new ITC model
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlotDescription.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  project/Versions.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Labels: explore, model, workers

#4621 Fix duration used for parallactic angle calculation
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/model/Execution.scala
Labels: explore, model

#4623 Update for AGS guide star selection changes.
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/GuideStarSelection.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/targeteditor/AgsOverlay.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AladinToolbar.scala
  explore/src/main/scala/explore/targeteditor/GmosGeometry.scala
  explore/src/main/scala/explore/visualization/GuideStarTooltip.scala
  explore/src/main/scala/explore/visualization/TargetsOverlay.scala
  model/shared/src/main/scala/explore/events/AgsMessage.scala
  model/shared/src/main/scala/explore/model/ImagingConfigurationOptions.scala
  model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  project/Versions.scala
  workers/src/main/scala/workers/AgsServer.scala
Labels: common, explore, model, workers

#4624 The UI is not showing the flipped angle if AGS decides to do a flip
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
Labels: explore

#4622 Always show observer notes for non-Science programs
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Labels: explore

#4651 Promotion scripts
  common/src/main/public/environments.conf.json
  promote.sh
  promoteDevAllToStaging.sh
  promoteStagingAllToProduction.sh
Labels: common

#4641 Tables migration
  explore/src/main/scala/explore/attachments/ObsAttachmentsTableBody.scala
  explore/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/config/sequence/GmosSequenceTableBuilder.scala
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTile.scala
  explore/src/main/scala/explore/findercharts/FinderChartLinker.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryColumns.scala
  explore/src/main/scala/explore/programs/ConfigurationTableColumnBuilder.scala
  explore/src/main/scala/explore/programs/ProgramConfigRequestsTile.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/programs/ProgramUnrequestedConfigsTile.scala
  explore/src/main/scala/explore/programs/TimeAccountingTable.scala
  explore/src/main/scala/explore/programs/TimeAwardTable.scala
  explore/src/main/scala/explore/proposal/PartnerSplitsEditor.scala
  explore/src/main/scala/explore/proposal/ProposalAttachmentsTable.scala
  explore/src/main/scala/explore/schedulingWindows/SchedulingWindowsTile.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/brightnessesEditor/BrightnessesEditorBuilder.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/emissionLineEditor/EmissionLineEditorBuilder.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
  explore/src/main/scala/explore/targets/TargetSummaryTile.scala
  explore/src/main/scala/explore/users/ProgramUsersTable.scala
  explore/src/main/scala/explore/validations/GroupWarningsTile.scala
  explore/src/main/scala/explore/validations/ObservationValidationsTable.scala
  project/Versions.scala
Labels: explore

#4654 Don't mark some fields as missing when the proposal is read only
  explore/src/main/scala/explore/proposal/ProposalDetailsTile.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/users/ProgramUsersTable.scala
Labels: explore

#4655 Improve how the ITC graph errors are displayed
  explore/src/main/scala/explore/itc/ItcGraphQuerier.scala
  explore/src/main/scala/explore/itc/ItcTile.scala
Labels: explore

#4658 Revise Dec limit filter on modes table
  model/shared/src/main/scala/explore/model/syntax/package.scala
Labels: model

#4659 Always show finder charts tile for non-science programs
  explore/src/main/scala/explore/findercharts/FinderChartsTile.scala
  explore/src/main/scala/explore/notes/NotesTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Labels: explore

#4660 Add note count to the program notes tile title.
  explore/src/main/scala/explore/programs/ProgramNotesTile.scala
Labels: explore

#4667 Add controls to set time and count on the
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/ExposureTimeModeEditor.scala
  explore/src/main/scala/explore/config/SignalToNoiseAtEditor.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/config/TimeAndCountEditor.scala
  explore/src/main/scala/explore/config/package.scala
  model-tests/shared/src/test/scala/explore/model/ExploreModelValidatorsSuite.scala
  model-tests/shared/src/test/scala/explore/model/FormatsSuite.scala
  model/shared/src/main/scala/explore/model/ExploreModelValidators.scala
  model/shared/src/main/scala/explore/model/ScienceRequirements.scala
  model/shared/src/main/scala/explore/model/formats.scala
  model/shared/src/main/scala/explore/model/parsers.scala
Labels: common, explore, model, model-tests

#4668 Display custom SEDs in attachment table
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/attachments/AttachmentsTile.scala
  explore/src/main/scala/explore/attachments/ObsAttachmentsTableBody.scala
  explore/src/main/scala/explore/attachments/package.scala
  explore/src/main/scala/explore/tabs/OverviewTabContents.scala
  model/shared/src/main/scala/explore/model/Attachment.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/TileIds.scala
  model/shared/src/main/scala/explore/model/package.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
Labels: common, explore, model

#4670 Library updates
  explore/src/clue/scala/queries/common/ExecutionSubquery.scala
  explore/src/main/scala/explore/validations/GroupWarningsTile.scala
  explore/src/main/scala/explore/validations/ObservationValidationsTable.scala
  project/Versions.scala
Labels: explore

#4671 Update the modes table to call itc with time and count
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/config/ExposureTimeModeEditor.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcGraphQuerier.scala
  explore/src/main/scala/explore/itc/ItcResultsCache.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlotDescription.scala
  explore/src/main/scala/explore/itc/ItcTile.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/model/ScienceRequirements.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/itc/ItcRequestParams.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  workers/src/main/scala/workers/ItcServer.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Labels: common, explore, model, workers

#4679 Add attachment count to tile title
  explore/src/main/scala/explore/attachments/AttachmentsTile.scala
Labels: explore

#4688 Update libs
  common/src/main/scala/explore/model/WorkerClients.scala
  project/Dependencies.scala
  project/Versions.scala
Labels: common

#4692 Show signal to noise on the modes table in time x count mode
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  model/shared/src/main/scala/explore/model/ScienceRequirements.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Labels: explore, model, workers

#4693 Show all the modes if not possible to filter them yet
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Labels: explore, model

#4697 Improve error messages on the itc graph title
  explore/src/main/scala/explore/itc/ItcGraphQuerier.scala
Labels: explore

#4698 Read sn from the odb and display single s/n on the row for each step
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
  explore/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/src/main/scala/explore/config/sequence/SequenceTileHelper.scala
  explore/src/main/scala/explore/config/sequence/byInstrument/GmosNorthSequenceTable.scala
  explore/src/main/scala/explore/config/sequence/byInstrument/GmosSouthSequenceTable.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  project/Versions.scala
Labels: explore

#4695 Show single exposure S/N on the tooltip
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
Labels: explore
