Repository gemini-hlsw/explore, pull requests merged in 2025-02, with the labels that each got.

#4543 Decode ExposureTimeMode correctly
  explore/src/clue/scala/queries/common/ObservationSubquery.scala
  model/shared/src/main/scala/explore/model/ScienceRequirements.scala
Labels: explore, model

#4546 Add help icon to investigator tile
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
Labels: explore

#4545 Prevent proposal submission with undefined observations
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/proposal/ProposalSubmissionBar.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
Labels: explore, model

#4551 Fix missing Program tab
  explore/src/clue/scala/queries/common/CallForProposalsSubquery.scala
  explore/src/clue/scala/queries/common/CallsQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProposalSubquery.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/src/main/scala/explore/common/ProposalQueries.scala
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/src/main/scala/explore/proposal/ProposalDetailsTile.scala
  explore/src/main/scala/explore/proposal/ProposalSubmissionBar.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbProposal.scala
  model/shared/src/main/scala/explore/Proposal.scala
Labels: explore, model, model-testkit

#4554 Show CfP parameters on proposal details editor
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/CallForProposalsSubquery.scala
  explore/src/main/scala/explore/proposal/ProposalDetailsTile.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbCallForProposal.scala
  model/shared/src/main/scala/explore/CallForProposal.scala
Labels: common, explore, model, model-testkit

#4547 Update sequence on ExecutionEventAdded events
  .gitignore
  common/src/main/scala/explore/utils/extensions.scala
  common/src/main/scala/explore/utils/package.scala
  explore/src/clue/scala/queries/common/VisitQueriesGQL.scala
  explore/src/main/scala/explore/ObsReferenceResolver.scala
  explore/src/main/scala/explore/ProgramReferenceResolver.scala
  explore/src/main/scala/explore/ProposalReferenceResolver.scala
  explore/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/src/main/scala/explore/config/sequence/SequenceTileHelper.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
  explore/src/main/scala/explore/utils/extensions.scala
  project/Versions.scala
Labels: common, explore

#4556 Display Time Accounting by Science Band
  common/src/main/scala/explore/model/reusability.scala
  explore/src/clue/scala/queries/common/ProgramTimesSubquery.scala
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/src/main/scala/explore/programs/TimeAccountingTable.scala
  explore/src/main/scala/explore/programs/TimeAwardTable.scala
  model/shared/src/main/scala/explore/model/ProgramTimes.scala
Labels: common, explore, model

#4560 Throttle general updates
  explore/src/main/scala/explore/cache/PreferencesCacheController.scala
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/src/main/scala/explore/config/sequence/SequenceTileHelper.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  project/Versions.scala
Labels: explore

#4561 Use Awarded Time in Time Allocation calculations instead of planned time
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/src/main/scala/explore/programs/TimeAccountingTable.scala
  explore/src/main/scala/explore/programs/TimeAwardTable.scala
  model/shared/src/main/scala/explore/model/allocations.scala
Labels: explore, model

#4557 Filter calibrations out of constraints summary table
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTile.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/observationtree/SchedulingGroupObsList.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/SchedulingTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targets/TargetSummaryTile.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
Labels: explore, model

#4565 Fix some glitches when sequence is executing
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
  explore/src/main/scala/explore/config/sequence/SequenceTileHelper.scala
Labels: explore

#4567 Add Data Users table to program tab
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  common/src/main/scala/explore/model/RootModelViews.scala
  explore/src/clue/scala/queries/common/ProgramUserSubquery.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/common/ProgramQueries.scala
  explore/src/main/scala/explore/programs/SupportUsers.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
  explore/src/main/scala/explore/users/AddProgramUserButton.scala
  explore/src/main/scala/explore/users/ProgramUsersTable.scala
  model/shared/src/main/scala/explore/model/ProgramUser.scala
  model/shared/src/main/scala/explore/model/TileIds.scala
  model/shared/src/main/scala/explore/model/display.scala
  project/Versions.scala
Labels: common, explore, model

#4568 Avoid duplicate row when executing, without resorting to generatedId
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
  explore/src/main/scala/explore/config/sequence/GmosSequenceTableBuilder.scala
  explore/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/src/main/scala/explore/config/sequence/SequenceTileHelper.scala
  explore/src/main/scala/explore/config/sequence/byInstrument/GmosNorthSequenceTable.scala
  explore/src/main/scala/explore/config/sequence/byInstrument/GmosSouthSequenceTable.scala
Labels: explore

#4569 ObsBadge updates
  explore/src/clue/scala/queries/common/ObservationSubquery.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/users/AddProgramUserButton.scala
  explore/src/main/scala/explore/users/ProgramUsersTable.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObservation.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/model/ObservingModeSummary.scala
Labels: explore, model, model-testkit

#4571 Remove brackets for atoms in sequence, show thicker border between atoms instead
  common/src/main/public/bracket.svg
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/sequence/GmosSequenceTableBuilder.scala
Labels: common, explore

#4570 Show obs reference index on obs summary table when available
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/observationtree/ObsSummaryColumns.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryRow.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTile.scala
Labels: common, explore

#4572 Fix data sharing counter
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
Labels: explore

#4573 Add tooltip to ObsBadge when observation reference index is shown
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
Labels: explore

#4574 Update ui, show ongoing label
  explore/src/main/scala/explore/config/sequence/GmosSequenceTableBuilder.scala
  project/Versions.scala
Labels: explore

#4577 Select new observation on creation
  explore/src/main/scala/explore/observationtree/ObsActions.scala
  explore/src/main/scala/explore/observationtree/ObsTree.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
Labels: explore

#4579 Show program active dates on the programs tab instead of CfP dates
  explore/src/clue/scala/queries/common/ProgramDetailsSubquery.scala
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
Labels: explore, model

#4580 Show warnings for group violations
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/observationtree/GroupBadge.scala
  explore/src/main/scala/explore/observationtree/ObsTree.scala
  explore/src/main/scala/explore/tabs/GroupEditBody.scala
  explore/src/main/scala/explore/tabs/ObsGroupTiles.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/enums/GroupWarning.scala
Labels: common, explore, model

#4582 Update attachments endpoints for odb changes
  common/src/main/scala/explore/utils/OdbRestClient.scala
  explore/src/main/scala/explore/attachments/ObsAttachmentsTableBody.scala
  explore/src/main/scala/explore/attachments/package.scala
  explore/src/main/scala/explore/findercharts/FinderChartsTile.scala
  explore/src/main/scala/explore/proposal/ProposalAttachmentUtils.scala
  explore/src/main/scala/explore/proposal/ProposalAttachmentsTable.scala
Labels: common, explore
