Repository gemini-hlsw/explore, pull requests merged in 2025-06, with the labels that each got.

#4845 Adopt explore to use the new schema
  explore/src/clue/scala/queries/common/ObservationSubquery.scala
  explore/src/main/scala/explore/common/ScienceQueries.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationTile.scala
  explore/src/main/scala/explore/config/Flamingos2LongslitConfigPanel.scala
  explore/src/main/scala/explore/config/GmosLongslitConfigPanel.scala
  explore/src/main/scala/explore/config/ImagingConfigurationPanel.scala
  explore/src/main/scala/explore/config/ImagingModesTable.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcGraphQuerier.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbScienceRequirements.scala
  model/shared/src/main/scala/explore/model/ScienceRequirements.scala
  project/Versions.scala
Labels: explore, model, model-testkit

#4849 Validate proposal for submission and show errors in a tile.
  common/src/main/scala/explore/components/Tile.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/CallForProposalsSubquery.scala
  explore/src/main/scala/explore/proposal/ProposalAttachmentsTable.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalErrorsTile.scala
  explore/src/main/scala/explore/proposal/ProposalSubmissionBar.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/services/OdbProposalApiImpl.scala
  explore/src/main/scala/explore/tabs/OverviewTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbCallForProposal.scala
  model/shared/src/main/scala/explore/CallForProposal.scala
  model/shared/src/main/scala/explore/Proposal.scala
  model/shared/src/main/scala/explore/model/TileIds.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
Labels: common, explore, model, model-testkit

#4851 For observations with no requirements mode, default to spectroscopy
  explore/src/main/scala/explore/common/ScienceQueries.scala
  explore/src/main/scala/explore/config/ConfigurationTile.scala
  model/shared/src/main/scala/explore/model/ScienceRequirements.scala
Labels: explore, model

#4852 Connect imaging mode editing with the ODB.
  common/src/main/scala/explore/model/ConfigurationForVisualization.scala
  common/src/main/scala/explore/model/ObsConfiguration.scala
  explore/src/clue/scala/queries/common/ObservationSubquery.scala
  explore/src/main/scala/explore/common/ScienceQueries.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationTile.scala
  explore/src/main/scala/explore/config/ImagingConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcGraphQuerier.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbScienceRequirements.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/model/ScienceRequirements.scala
  model/shared/src/main/scala/explore/modes/ConfigSelection.scala
Labels: common, explore, model, model-testkit

#4853 Switch prefs url for staging
  common/src/main/public/environments.conf.json
Labels: common

#4854 Scala 3.7
  .github/workflows/ci.yml
  build.sbt
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/common/SimbadSearch.scala
  common/src/main/scala/explore/components/ui/PartnerFlags.scala
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/ExplorePWA.scala
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/src/main/scala/explore/common/ConstraintsQueries.scala
  explore/src/main/scala/explore/common/ScienceQueries.scala
  explore/src/main/scala/explore/common/TimingWindowsQueries.scala
  explore/src/main/scala/explore/components/CustomizableEnumSelect.scala
  explore/src/main/scala/explore/components/CustomizableEnumSelectOptional.scala
  explore/src/main/scala/explore/components/CustomizableInputText.scala
  explore/src/main/scala/explore/components/CustomizableInputTextOptional.scala
  explore/src/main/scala/explore/config/ConfigurationTile.scala
  explore/src/main/scala/explore/config/ImagingConfigurationPanel.scala
  explore/src/main/scala/explore/config/LambdaAndIntervalFormValues.scala
  explore/src/main/scala/explore/config/ModesTableCommon.scala
  explore/src/main/scala/explore/config/SignalToNoiseInput.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/config/sequence/SequenceTableBuilder.scala
  explore/src/main/scala/explore/itc/ItcTile.scala
  explore/src/main/scala/explore/observationtree/ObsActions.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/proposal/ProposalErrorsTile.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/services/OdbApiImpl.scala
  explore/src/main/scala/explore/services/OdbConfigApiImpl.scala
  explore/src/main/scala/explore/services/OdbGroupApi.scala
  explore/src/main/scala/explore/services/OdbGroupApiImpl.scala
  explore/src/main/scala/explore/services/OdbObservationApiImpl.scala
  explore/src/main/scala/explore/services/OdbProgramApiImpl.scala
  explore/src/main/scala/explore/services/OdbTargetApiImpl.scala
  explore/src/main/scala/explore/targeteditor/AsterismModifier.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetCloneAction.scala
  explore/src/main/scala/explore/targets/TargetSource.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
  project/Versions.scala
  vite.config.mts
  workers/src/main/scala/workers/CacheIDBStores.scala
Labels: common, explore, model, workers

#4855 Update odb
  explore/src/main/scala/explore/config/GmosLongslitConfigPanel.scala
  project/Versions.scala
Labels: explore

#4857 Move the program dialog a bit down
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/programs/ProgramsPopup.scala
Labels: common, explore

#4858 Bump versions
  explore/src/main/scala/explore/model/AppContext.scala
  explore/src/main/scala/explore/model/GraphQLClients.scala
  project/Versions.scala
Labels: explore

#4861 Use CalculatedValue[ExecutionDigest] from ODB
  common/src/main/scala/explore/syntax/ui/package.scala
  common/src/main/scala/explore/utils/package.scala
  explore/src/clue/scala/queries/common/CalculatedDigestSubquery.scala
  explore/src/clue/scala/queries/common/ExecutionSubquery.scala
  explore/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/src/clue/scala/queries/common/ObservationSubquery.scala
  explore/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/src/main/scala/explore/config/ObsTimeEditor.scala
  explore/src/main/scala/explore/config/PAConfigurationPanel.scala
  explore/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryColumns.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryRow.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTile.scala
  explore/src/main/scala/explore/observationtree/ObsTree.scala
  explore/src/main/scala/explore/observationtree/SchedulingGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ViewCommon.scala
  explore/src/main/scala/explore/services/OdbObservationApi.scala
  explore/src/main/scala/explore/services/OdbObservationApiImpl.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SchedulingTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditorTile.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbExecution.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObservation.scala
  model/shared/src/main/scala/explore/model/Execution.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/model/PerishablePot.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/package.scala
  project/Versions.scala
Labels: skip-sc, common, explore, model, model-testkit

#4876 fix it
  build.sbt
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/SchedulingTabContents.scala
  project/Versions.scala
  project/plugins.sbt
  workers/src/main/scala/workers/CatalogCache.scala
Labels: common, explore, workers

#4879 Show solar system while loading program
  common/src/main/scala/explore/cache/CacheControllerComponent.scala
  common/src/main/scala/explore/model/RoutingInfo.scala
  explore/src/main/scala/explore/ExploreLayout.scala
Labels: common, explore

#4882 Remove PI affiliation from Fast Turnaround proposals
  explore/src/clue/scala/queries/common/ProposalSubquery.scala
  explore/src/main/scala/explore/common/ProposalOdbExtensions.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbProposalType.scala
  model/shared/src/main/scala/explore/Proposal.scala
  model/shared/src/main/scala/explore/ProposalType.scala
Labels: explore, model, model-testkit

#4884 Implement missing part of global error handling
  common/src/main/scala/explore/cache/CacheControllerComponent.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/RoleSwitch.scala
  explore/src/main/scala/explore/TopBar.scala
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/src/main/scala/explore/model/AppContext.scala
Labels: common, explore

#4883 Use subscription to get offsets
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/model/Execution.scala
Labels: explore, model

#4901 New clue
  explore/src/main/scala/explore/services/OdbApiHelper.scala
  explore/src/main/scala/explore/services/OdbProposalApiImpl.scala
  explore/src/main/scala/explore/services/OdbSequenceApiImpl.scala
  explore/src/main/scala/explore/services/OdbTargetApiImpl.scala
  explore/src/main/scala/explore/services/OdbVisitApiImpl.scala
  package-lock.json
  package.json
Labels: explore
