Repository gemini-hlsw/explore, pull requests merged in 2025-07, with the labels that each got.

#4911 Allow setting gmos imaging modes
  explore/src/main/scala/explore/config/AdvancedConfigButtons.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationTile.scala
  model/shared/src/main/scala/explore/model/ObservingModeSummary.scala
  model/shared/src/main/scala/explore/modes/ConfigSelection.scala
  project/Versions.scala
  workers/src/main/scala/workers/CatalogServer.scala
Labels: explore, model, workers

#4917 Allow switching daily ranges in multi-observation plot
  explore/src/main/scala/explore/plots/ElevationPlotTile.scala
Labels: explore

#4922 Also skip on local.gemini.edu installation of the service worker
  explore/src/main/webapp/main.jsx
Labels: explore

#4920 Add support for angstroms for wavelength
  explore/src/clue/resources/UserPreferencesDB.graphql
  explore/src/main/scala/explore/config/package.scala
  hasura/user-prefs/migrations/default/1751840669144_insert_into_public_lucumaWavelengthUnits/down.sql
  hasura/user-prefs/migrations/default/1751840669144_insert_into_public_lucumaWavelengthUnits/up.sql
  model/shared/src/main/scala/explore/model/ExploreModelValidators.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/enums/WavelengthUnits.scala
Labels: explore, model

#4921 Disable selection of bands not supported by ITC
  explore/src/main/scala/explore/targeteditor/spectralDefinition/brightnessesEditor/BrightnessesEditorBuilder.scala
Labels: explore

#4924 Enable the edit and new buttons only for staff
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/HelpBody.scala
Labels: explore

#4926 Change summary table title buttons
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/observationtree/ObsSummaryTile.scala
  explore/src/main/scala/explore/targets/TargetSummaryTile.scala
Labels: common, explore

#4927 Sc 6073 improve finder chart selection view
  USERPREFS.md
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/findercharts/FinderChartLinker.scala
Labels: common, explore

#4936 Don't allow editing of asterism of executed observations via drag/drop
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
Labels: explore

#4958 Use microseconds instead of microarcseconds for RightAscension
  explore/src/clue/scala/queries/common/SiteCoordinatesLimitsSubquery.scala
  project/Versions.scala
Labels: explore

#4953 Add MultipleFiltersMode dropdown to imaging config UI
  explore/src/main/scala/explore/config/GmosImagingConfigPanel.scala
  model/shared/src/main/scala/explore/model/display.scala
  project/Versions.scala
Labels: explore, model

#4959 calculatedDigest -> digest in API
  explore/src/clue/scala/queries/common/ExecutionSubquery.scala
  explore/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/services/OdbObservationApi.scala
  explore/src/main/scala/explore/services/OdbObservationApiImpl.scala
  project/Versions.scala
Labels: explore

#4960 Change explore dev honeycomb service name
  common/src/main/public/environments.conf.json
Labels: common

#4971 calculatedWorkflow->workflow and top level sequence query
  explore/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/src/clue/scala/queries/common/ObservationSubquery.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/model/SequenceData.scala
  project/Versions.scala
Labels: explore

#4987 Fix explore crash for negative elevations / update schema and deps
  build.sbt
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  project/Dependencies.scala
  project/Versions.scala
Labels: explore
