Repository gemini-hlsw/explore, pull requests merged in 2025-09, with the labels that each got.

#5096 Region Editor for ToOs
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/targeteditor/RegionEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetEditor.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/extensions.scala
  project/Versions.scala
Labels: common, explore, model

#5122 Change group min/max delay updating
  common/src/main/scala/explore/syntax/ui/package.scala
  explore/src/main/scala/explore/tabs/GroupEditBody.scala
  project/Versions.scala
Labels: common, explore

#5130 Show proposal status to readonly CoIs
  explore/src/main/scala/explore/proposal/ProposalSubmissionBar.scala
Labels: explore

#5133 Allow pasting of any text into email input in program users table
  explore/src/main/scala/explore/users/ProgramUsersTable.scala
  project/Versions.scala
Labels: explore

#5134 New clue with validations
  explore/src/clue/scala/queries/common/InvitationQueriesGQL.scala
  explore/src/clue/scala/queries/common/UserPreferencesQueriesGQL.scala
  explore/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/services/OdbProgramApiImpl.scala
  project/Versions.scala
Labels: explore
