Repository gemini-hlsw/explore, pull requests merged in 2025-05, with the labels that each got.

#4795 Change the format of FinderCharts title
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/findercharts/FinderChartsTile.scala
Labels: common, explore

#4793 Integrate aladdin visualization of f2 long slit
  common/src/main/scala/explore/model/ObsConfiguration.scala
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/config/ConfigurationTile.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  model/shared/src/main/scala/explore/events/CatalogMessage.scala
  model/shared/src/main/scala/explore/model/ObservingModeSummary.scala
  model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
  project/Versions.scala
  workers/src/main/scala/workers/AgsServer.scala
  workers/src/main/scala/workers/CatalogCache.scala
  workers/src/main/scala/workers/CatalogServer.scala
Labels: common, explore, model, workers

#4798 Add overrides for F2
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/modes/InstrumentOverrides.scala
Labels: model

#4799 Don't include calibration targets on the side tree
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
Labels: explore

#4800 F2 Longslit Configuration Panel
  common/src/main/scala/explore/syntax/ui/package.scala
  explore/src/main/scala/explore/components/CustomizableEnumSelect.scala
  explore/src/main/scala/explore/components/CustomizableEnumSelectOptional.scala
  explore/src/main/scala/explore/components/CustomizableInputText.scala
  explore/src/main/scala/explore/components/CustomizableInputTextOptional.scala
  explore/src/main/scala/explore/components/CustomizedGroupAddon.scala
  explore/src/main/scala/explore/config/AdvancedConfigButtons.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationTile.scala
  explore/src/main/scala/explore/config/F2LongslitConfigPanel.scala
  explore/src/main/scala/explore/config/LambdaAndIntervalFormValues.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/config/package.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Labels: common, explore, model

#4802 Make separate, instrument specific, help folders for config values
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/F2LongslitConfigPanel.scala
Labels: explore

#4805 Support showing visualization of the mode before assignig it
  common/src/main/scala/explore/model/ConfigurationForVisualization.scala
  common/src/main/scala/explore/model/ObsConfiguration.scala
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
  model/shared/src/main/scala/explore/modes/ItcInstrumentConfig.scala
Labels: common, explore, model

#4808 Rename AdvancedConfigurationPanel to GmosLongslitConfigPanel
  explore/src/main/scala/explore/config/ConfigurationTile.scala
  explore/src/main/scala/explore/config/GmosLongslitConfigPanel.scala
Labels: explore

#4809 Extract configuration OffsetsControl
  explore/src/main/scala/explore/config/GmosLongslitConfigPanel.scala
  explore/src/main/scala/explore/config/OffsetsControl.scala
Labels: explore

#4810 Select the survey depending on central wavelength
  common/src/main/scala/explore/model/ConfigurationForVisualization.scala
  explore/src/main/scala/explore/aladin.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
  project/Versions.scala
Labels: common, explore, model

#4812 New ODB API layer
  explore/src/main/scala/explore/RootComponent.scala
  explore/src/main/scala/explore/Telemetry.scala
  explore/src/main/scala/explore/common/TargetQueries.scala
  explore/src/main/scala/explore/config/TargetImportPopup.scala
  explore/src/main/scala/explore/model/AppContext.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsListActions.scala
  explore/src/main/scala/explore/services/OdbApi.scala
  explore/src/main/scala/explore/services/OdbApiImpl.scala
  explore/src/main/scala/explore/services/OdbAsterismApi.scala
  explore/src/main/scala/explore/services/OdbAsterismApiImpl.scala
  explore/src/main/scala/explore/services/OdbTargetApi.scala
  explore/src/main/scala/explore/services/OdbTargetApiImpl.scala
  explore/src/main/scala/explore/targeteditor/AsterismActions.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditorTile.scala
  explore/src/main/scala/explore/targeteditor/AsterismModifier.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetCloneAction.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/TargetAddDeleteActions.scala
  explore/src/main/scala/explore/targets/TargetPasteAction.scala
Labels: skip-sc, explore

#4813 Workaround for removed field
  explore/src/main/scala/explore/config/F2LongslitConfigPanel.scala
  project/Versions.scala
Labels: explore

#4814 Move program and observation queries to Api layer
  explore/src/main/scala/explore/ObsReferenceResolver.scala
  explore/src/main/scala/explore/actions/ObservationInsertAction.scala
  explore/src/main/scala/explore/actions/ObservationPasteIntoAsterismAction.scala
  explore/src/main/scala/explore/actions/ObservationPasteIntoConstraintSetAction.scala
  explore/src/main/scala/explore/actions/ObservationPasteIntoSchedulingGroupAction.scala
  explore/src/main/scala/explore/attachments/AttachmentsTile.scala
  explore/src/main/scala/explore/common/ConstraintsQueries.scala
  explore/src/main/scala/explore/common/ScienceQueries.scala
  explore/src/main/scala/explore/common/TimingWindowsQueries.scala
  explore/src/main/scala/explore/config/ConfigurationTile.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ObsActions.scala
  explore/src/main/scala/explore/observationtree/SchedulingGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ViewCommon.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/programs/ProgramConfigRequestsTile.scala
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/src/main/scala/explore/programs/ProgramNotesTile.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/programs/ProgramUnrequestedConfigsTile.scala
  explore/src/main/scala/explore/programs/ProgramsPopup.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/services/OdbApi.scala
  explore/src/main/scala/explore/services/OdbApiImpl.scala
  explore/src/main/scala/explore/services/OdbAsterismApi.scala
  explore/src/main/scala/explore/services/OdbObservationApi.scala
  explore/src/main/scala/explore/services/OdbObservationApiImpl.scala
  explore/src/main/scala/explore/services/OdbProgramApi.scala
  explore/src/main/scala/explore/services/OdbProgramApiImpl.scala
  explore/src/main/scala/explore/services/OdbTargetApi.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/OverviewTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditorTile.scala
  explore/src/main/scala/explore/users/InviteUserPopup.scala
  explore/src/main/scala/explore/users/ProgramUsersTable.scala
Labels: skip-sc, explore

#4815 Update staging config and remove outdated things
  common/src/main/public/README.txt
  common/src/main/public/conf.json
  common/src/main/public/environments.conf.json
  common/src/main/public/staging.conf.json
  firebase.json
Labels: common

#4819 Update libs and associated changes for gmos imaging and f2 sequences
  explore/src/main/scala/explore/config/GmosLongslitConfigPanel.scala
  explore/src/main/scala/explore/config/LambdaAndIntervalFormValues.scala
  explore/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
  project/Versions.scala
  workers/src/main/scala/workers/CatalogServer.scala
Labels: explore, model, workers

#4821 Move almost all remaining ODB calls to API layer
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/ProgramReferenceResolver.scala
  explore/src/main/scala/explore/ProposalReferenceResolver.scala
  explore/src/main/scala/explore/cache/CfpCacheController.scala
  explore/src/main/scala/explore/cache/ModesCacheController.scala
  explore/src/main/scala/explore/model/AppContext.scala
  explore/src/main/scala/explore/programs/ProgramNoteEditor.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalSubmissionBar.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/services/OdbApi.scala
  explore/src/main/scala/explore/services/OdbApiImpl.scala
  explore/src/main/scala/explore/services/OdbConfigApi.scala
  explore/src/main/scala/explore/services/OdbConfigApiImpl.scala
  explore/src/main/scala/explore/services/OdbObservationApiImpl.scala
  explore/src/main/scala/explore/services/OdbProgramApi.scala
  explore/src/main/scala/explore/services/OdbProgramApiImpl.scala
  explore/src/main/scala/explore/services/OdbProposalApi.scala
  explore/src/main/scala/explore/services/OdbProposalApiImpl.scala
  explore/src/main/scala/explore/services/OdbTargetApi.scala
  explore/src/main/scala/explore/services/OdbTargetApiImpl.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targets/TargetSource.scala
  explore/src/main/scala/explore/users/AddProgramUserButton.scala
  explore/src/main/scala/explore/users/InviteUserPopup.scala
  explore/src/main/scala/explore/users/ProgramUsersTable.scala
  explore/src/main/scala/explore/users/RedeemInvitationsPopup.scala
Labels: skip-sc, explore

#4823 Disable editing of observations in an "Executed" state.
  explore/src/main/scala/explore/components/FileUploadButton.scala
  explore/src/main/scala/explore/findercharts/FinderChartsTile.scala
  explore/src/main/scala/explore/findercharts/package.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
Labels: explore

#4827 Move queries to API layer (take 2)
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/src/main/scala/explore/services/OdbConfigApi.scala
  explore/src/main/scala/explore/services/OdbConfigApiImpl.scala
  explore/src/main/scala/explore/services/OdbGroupApi.scala
  explore/src/main/scala/explore/services/OdbGroupApiImpl.scala
  explore/src/main/scala/explore/services/OdbObservationApi.scala
  explore/src/main/scala/explore/services/OdbObservationApiImpl.scala
  explore/src/main/scala/explore/services/OdbProgramApi.scala
  explore/src/main/scala/explore/services/OdbProgramApiImpl.scala
  explore/src/main/scala/explore/services/OdbTargetApi.scala
  explore/src/main/scala/explore/services/OdbTargetApiImpl.scala
  explore/src/main/scala/explore/services/package.scala
Labels: explore

#4832 Add Imaging Modes Table - Step 1
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ImagingModesTable.scala
  explore/src/main/scala/explore/config/ModesTableCommon.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  hasura/user-prefs/migrateDev.sh
  hasura/user-prefs/migrations/default/1747426679451_imaging_modes_table/down.sql
  hasura/user-prefs/migrations/default/1747426679451_imaging_modes_table/up.sql
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/enums/TableIds.scala
  model/shared/src/main/scala/explore/modes/ImagingModesMatrix.scala
  model/shared/src/main/scala/explore/modes/ItcInstrumentConfig.scala
  promote.sh
  promoteDevToStaging.sh
  promoteStagingToProduction.sh
Labels: explore, model

#4834 Remove the `2` from group and program time estimates
  explore/src/clue/scala/queries/common/GroupQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramDetailsSubquery.scala
  explore/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramTimesSubquery.scala
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
Labels: explore

#4835 Search both simbad sites in case one is down
  common/src/main/scala/explore/common/SimbadSearch.scala
Labels: common

#4837 Call ITC for the rows of the imaging modes table
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ImagingModesTable.scala
  explore/src/main/scala/explore/config/ModesTableCommon.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcResultsCache.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/modes/ImagingModesMatrix.scala
  model/shared/src/main/scala/explore/modes/ItcInstrumentConfig.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  model/shared/src/main/scala/explore/modes/package.scala
  model/shared/src/main/scala/queries/schemas/itc/syntax.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Labels: skip-sc, explore, model, workers

#4839 Allow selecting multiple rows of same instrument in imaging modes table
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ImagingModesTable.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  model/shared/src/main/scala/explore/modes/ConfigSelection.scala
  model/shared/src/main/scala/explore/modes/ImagingModesMatrix.scala
Labels: common, explore, model

#4840 Add scrolling to the imaging modes table
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ImagingModesTable.scala
  explore/src/main/scala/explore/config/ModesTableCommon.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  model/shared/src/main/scala/explore/modes/ConfigSelection.scala
Labels: explore, model

#4846 Move showEnvironment to ui
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/Explore.scala
  project/Versions.scala
Labels: common, explore
