Repository gemini-hlsw/explore, pull requests merged in 2025-08, with the labels that each got.

#5003 Allow duplicating and changing workflow status of ongoing observations
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
Labels: explore

#5015 Use the ProgramUser fallback profile as the preferred profile
  explore/src/clue/scala/queries/common/ProgramUserSubquery.scala
  explore/src/main/scala/explore/services/OdbProgramApi.scala
  explore/src/main/scala/explore/services/OdbProgramApiImpl.scala
  explore/src/main/scala/explore/users/InviteUserPopup.scala
  explore/src/main/scala/explore/users/ProgramUsersTable.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbProgramUser.scala
  model/shared/src/main/scala/explore/model/ProgramUser.scala
  project/Versions.scala
Labels: explore, model, model-testkit

#5038 Move SequenceData class to lucuma-ui
  explore/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/src/main/scala/explore/config/sequence/SequenceTileHelper.scala
  explore/src/main/scala/explore/model/SequenceData.scala
  explore/src/main/scala/explore/services/OdbSequenceApi.scala
  explore/src/main/scala/explore/services/OdbSequenceApiImpl.scala
  project/Versions.scala
Labels: explore

#5047 Minimal support for ToOs and workflow changes
  explore/src/clue/scala/queries/common/ConfigurationSubquery.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryRow.scala
  explore/src/main/scala/explore/programs/ConfigurationTableColumnBuilder.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  model/shared/src/main/scala/explore/model/Asterism.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/model/extensions.scala
  project/Versions.scala
Labels: explore, model

#5058 Allow adding ToOs to asterisms and creating empty ToOs
  explore/src/main/scala/explore/services/OdbTargetApi.scala
  explore/src/main/scala/explore/services/OdbTargetApiImpl.scala
  explore/src/main/scala/explore/targeteditor/AsterismModifier.scala
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  model/shared/src/main/scala/explore/model/package.scala
  project/Versions.scala
Labels: explore, model

#5060 Make the SiderealTargetEditor a TargetEditor
  explore/src/main/scala/explore/tabs/TargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditorTile.scala
  explore/src/main/scala/explore/targeteditor/SearchForm.scala
  explore/src/main/scala/explore/targeteditor/TargetEditor.scala
Labels: explore
