Repository gemini-hlsw/explore, pull requests merged in 2025-04, with the labels that each got.

#4705 Don't allow decimal for exposure time on gmos
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ExposureTimeModeEditor.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/config/TimeAndCountEditor.scala
  model-tests/shared/src/test/scala/explore/model/FormatsSuite.scala
  model/shared/src/main/scala/explore/model/InstrumentConfigAndItcResult.scala
  model/shared/src/main/scala/explore/model/formats.scala
  model/shared/src/main/scala/explore/model/parsers.scala
Labels: explore, model, model-tests

#4706 Changes to the basic configuration panel from user feedback
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/ExposureTimeModeEditor.scala
  explore/src/main/scala/explore/config/SignalToNoiseAtEditor.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/config/TimeAndCountEditor.scala
  model/shared/src/main/scala/explore/model/Constants.scala
Labels: common, explore, model

#4708 Fix wavelength auditors that could allow 0 wavelengths
  explore/src/main/scala/explore/config/package.scala
Labels: explore

#4709 Adjust some labels
  explore/src/main/scala/explore/config/SignalToNoiseAtEditor.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
Labels: explore

#4704 Changes to Average Parallactic Angle calculation and obs duration
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/ObsTimeEditor.scala
  explore/src/main/scala/explore/config/PAConfigurationPanel.scala
  explore/src/main/scala/explore/config/TimeAndCountEditor.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditorTile.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
  model-tests/shared/src/test/scala/explore/model/ExploreModelValidatorsSuite.scala
  model/shared/src/main/scala/explore/model/Execution.scala
  model/shared/src/main/scala/explore/model/ExploreModelValidators.scala
Labels: common, explore, model, model-tests

#4707 Improve filtering of rows based on the requested wavelength coverage
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Labels: explore, model

#4710 Enable F2 rows on the modes table. They show as unsupported
  explore/src/main/scala/explore/cache/ModesCacheController.scala
  explore/src/main/scala/explore/itc/ItcResultsCache.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/model/ObservingModeSummary.scala
  model/shared/src/main/scala/explore/model/package.scala
  model/shared/src/main/scala/explore/modes/InstrumentConfig.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Labels: explore, model

#4715 Update prefs endpoint
  common/src/main/public/environments.conf.json
Labels: common

#4719 Core migration
  common/src/main/scala/explore/utils/package.scala
  explore/src/main/scala/explore/EditableLabel.scala
  explore/src/main/scala/explore/TopBar.scala
  explore/src/main/scala/explore/common/ConstraintsQueries.scala
  explore/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTile.scala
  explore/src/main/scala/explore/findercharts/package.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/programs/ConfigurationRequestEditorPopup.scala
  explore/src/main/scala/explore/programs/ConfigurationTableColumnBuilder.scala
  explore/src/main/scala/explore/programs/ProgramsPopup.scala
  explore/src/main/scala/explore/proposal/ProposalSubmissionBar.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/TargetCloneSelector.scala
  explore/src/main/scala/explore/targeteditor/package.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/emissionLineEditor/package.scala
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  explore/src/main/scala/explore/targets/TargetSummaryTile.scala
  explore/src/main/scala/explore/users/RedeemInvitationsPopup.scala
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
  explore/src/main/scala/explore/visualization/package.scala
  model-tests/shared/src/test/scala/explore/model/ExploreModelValidatorsSuite.scala
  model/shared/src/main/scala/explore/model/GlobalPreferences.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/model/Transformation.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/enums/Visible.scala
  model/shared/src/main/scala/explore/model/itc/preferences.scala
  model/shared/src/main/scala/explore/model/newtypes.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  model/shared/src/main/scala/explore/modes/package.scala
  project/Versions.scala
Labels: common, explore, model, model-tests

#4711 Fix AsterismEditorTile title when tile is minimized.
  explore/src/main/scala/explore/targeteditor/AsterismEditorTile.scala
Labels: explore

#4722 Use NewBoolean new convenience methods
  explore/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/findercharts/package.scala
  explore/src/main/scala/explore/plots/ElevationPlotTile.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AladinToolbar.scala
  model/shared/src/main/scala/explore/model/GlobalPreferences.scala
  model/shared/src/main/scala/explore/model/Transformation.scala
  model/shared/src/main/scala/explore/model/enums/Visible.scala
  model/shared/src/main/scala/explore/model/newtypes.scala
  project/Versions.scala
Labels: explore, model

#4724 Fix formats for exp time and s/n
  explore/src/main/scala/explore/config/SignalToNoiseAtEditor.scala
  explore/src/main/scala/explore/config/TimeAndCountEditor.scala
  model-tests/shared/src/test/scala/explore/model/FormatsSuite.scala
  model/shared/src/main/scala/explore/model/formats.scala
Labels: explore, model, model-tests

#4723 Invalid the cache and reload itc/sequence when custom seds are updated
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationTile.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/src/main/scala/explore/config/sequence/SequenceTileHelper.scala
  explore/src/main/scala/explore/itc/ItcGraphQuerier.scala
  explore/src/main/scala/explore/itc/ItcResultsCache.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/itc/ItcRequestParams.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
  workers/src/main/scala/workers/ItcServer.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Labels: common, explore, model, workers

#4730 Rework of exposure time mode editors
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/common/ScienceQueries.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/ExposureTimeModeEditor.scala
  explore/src/main/scala/explore/config/SignalToNoiseAtEditor.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/config/TimeAndCountEditor.scala
  explore/src/main/scala/explore/itc/ItcGraphQuerier.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbScienceRequirements.scala
  model/shared/src/main/scala/explore/model/ExposureTimeModelInfo.scala
  model/shared/src/main/scala/explore/model/ScienceRequirements.scala
  model/shared/src/main/scala/explore/model/enums/ExposureTimeModeType.scala
Labels: common, explore, model, model-testkit

#4739 Some touchups for the exposure time mode controls
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/ExposureTimeModeEditor.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  model/shared/src/main/scala/explore/model/ExposureTimeModelInfo.scala
  model/shared/src/main/scala/explore/model/ScienceRequirements.scala
  model/shared/src/main/scala/explore/model/enums/ExposureTimeModeType.scala
Labels: explore, model

#4744 Perishable type - mark obs and group times as stale instead of pending
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/src/main/scala/explore/config/ObsTimeEditor.scala
  explore/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryColumns.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryRow.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTile.scala
  explore/src/main/scala/explore/observationtree/ObsTree.scala
  explore/src/main/scala/explore/observationtree/ViewCommon.scala
  explore/src/main/scala/explore/tabs/GroupEditBody.scala
  explore/src/main/scala/explore/tabs/ObsGroupTiles.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditorTile.scala
  model/shared/src/main/scala/explore/model/Perishable.scala
  model/shared/src/main/scala/explore/model/PerishablePot.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/package.scala
  project/Versions.scala
Labels: common, explore, model

#4752 Adapt to changes in core
  explore/src/main/scala/explore/observationtree/ObsSummaryColumns.scala
  explore/src/main/scala/explore/plots/ElevationPlotTile.scala
  explore/src/main/scala/explore/schedulingWindows/SchedulingWindowsTile.scala
  model/shared/src/main/scala/explore/model/ExploreModelValidators.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/formats.scala
  project/Versions.scala
Labels: explore, model

#4755 Fix sorting for CCC tables, bump ui
  explore/src/main/scala/explore/findercharts/package.scala
  explore/src/main/scala/explore/programs/ProgramConfigRequestsTile.scala
  project/Versions.scala
Labels: explore

#4756 Fix transition from emission lines -> custom sed
  common/src/main/scala/explore/model/enums/SEDType.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/IntegratedSpectralDefinitionEditor.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/SpectralDefinitionEditorBuilder.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/SurfaceSpectralDefinitionEditor.scala
Labels: common, explore

#4757 Enable sorting in unrequested CCC table
  explore/src/main/scala/explore/programs/ProgramUnrequestedConfigsTile.scala
Labels: explore

#4761 Add missing headers
  explore/src/clue/scala/queries/common/AllocationSubquery.scala
  explore/src/clue/scala/queries/common/AsterismQueriesGQL.scala
  explore/src/clue/scala/queries/common/AttachmentSubquery.scala
  explore/src/clue/scala/queries/common/BandedProgramTimeSubquery.scala
  explore/src/clue/scala/queries/common/CallForProposalsSubquery.scala
  explore/src/clue/scala/queries/common/CallsQueriesGQL.scala
  explore/src/clue/scala/queries/common/ConfigurationRequestSubquery.scala
  explore/src/clue/scala/queries/common/ConfigurationSubquery.scala
  explore/src/clue/scala/queries/common/ExecutionSubquery.scala
  explore/src/clue/scala/queries/common/GroupQueriesGQL.scala
  explore/src/clue/scala/queries/common/InvitationQueriesGQL.scala
  explore/src/clue/scala/queries/common/ModesQueriesGQL.scala
  explore/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/src/clue/scala/queries/common/ObservationSubquery.scala
  explore/src/clue/scala/queries/common/ObservationValidationsSubquery.scala
  explore/src/clue/scala/queries/common/ObservationWorkflowSubquery.scala
  explore/src/clue/scala/queries/common/ProgramDetailsSubquery.scala
  explore/src/clue/scala/queries/common/ProgramInfoSubquery.scala
  explore/src/clue/scala/queries/common/ProgramNoteSubquery.scala
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramReferenceSubquery.scala
  explore/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramTimeRangeSubquery.scala
  explore/src/clue/scala/queries/common/ProgramTimeSubquery.scala
  explore/src/clue/scala/queries/common/ProgramTimesSubquery.scala
  explore/src/clue/scala/queries/common/ProgramUserSubquery.scala
  explore/src/clue/scala/queries/common/ProposalQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProposalSubquery.scala
  explore/src/clue/scala/queries/common/SSOQueriesGQL.scala
  explore/src/clue/scala/queries/common/SiteCoordinatesLimitsSubquery.scala
  explore/src/clue/scala/queries/common/TargetQueriesGQL.scala
  explore/src/clue/scala/queries/common/UserInvitationSubquery.scala
  explore/src/clue/scala/queries/common/UserPreferencesQueriesGQL.scala
  explore/src/clue/scala/queries/common/UserProfileSubquery.scala
  explore/src/clue/scala/queries/common/UserSubquery.scala
  explore/src/clue/scala/queries/common/VisitQueriesGQL.scala
  explore/src/clue/scala/queries/schemas/SSO.scala
  explore/src/clue/scala/queries/schemas/UserPreferencesDB.scala
  model-testkit/shared/src/main/scala/explore/boopickle/package.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbAsterismVisualOptions.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbAsterismZipper.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbCallForProposal.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbExecution.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbKeyedIndexedList.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbKeyedIndexedTree.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObsIdSet.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObservation.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbPartnerSplit.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbProposal.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbProposalType.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbScienceRequirements.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbTree.scala
  model-testkit/shared/src/main/scala/explore/model/arb/CogenUUID.scala
  model-testkit/shared/src/main/scala/explore/model/arb/package.scala
  model-testkit/shared/src/main/scala/explore/optics/AdjusterLaws.scala
  model-testkit/shared/src/main/scala/explore/optics/AdjusterTests.scala
Labels: explore, model-testkit

#4764 Add a tooltip with the slit width in pixels
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationTile.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcGraphQuerier.scala
  explore/src/main/scala/explore/itc/ItcResultsCache.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/model/InstrumentConfigAndItcResult.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/itc/ItcRequestParams.scala
  model/shared/src/main/scala/explore/modes/ItcInstrumentConfig.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  model/shared/src/main/scala/queries/schemas/itc/syntax.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Labels: common, explore, model, workers

#4769 Small improvements to the slit tooltip for gmos
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
Labels: explore

#4774 Update explore itc to support f2 long slit
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/config/TimeAndCountEditor.scala
  explore/src/main/scala/explore/itc/ItcResultsCache.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  model/shared/src/main/scala/explore/model/InstrumentConfigAndItcResult.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/model/ObservingModeSummary.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/queries/schemas/itc/syntax.scala
  project/Versions.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Labels: explore, model, workers

#4781 Fix conversion of wavelength <-> wavelengthdelta
  explore/src/main/scala/explore/config/package.scala
  model/shared/src/main/scala/explore/model/ExploreModelValidators.scala
Labels: explore, model

#4775 Show on the finder chart title how many charts are available
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/findercharts/FinderChartsTile.scala
Labels: common, explore

#4782 Improve loading of the service worker
  explore/src/main/webapp/main.jsx
  package-lock.json
  package.json
Labels: explore

#4789 Update libraries and remove code move to core
  explore/src/main/scala/explore/config/ConfigurationTile.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  model/shared/src/main/scala/explore/model/ImagingConfigurationOptions.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
  project/Versions.scala
  workers/src/main/scala/workers/CatalogCache.scala
Labels: explore, model, workers
